# EDA for Average Daily Attendance Data

***Import libraries:***

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Let's make sure we have the data in this folder, in order to read it in properly...

In [2]:
ls

ada_cleaning.ipynb     ada_district.csv
ada_county.csv         county_conversion.csv

***Data Reading:***

In [2]:
# read in the csv file
df_d = pd.read_csv('ada data/ada_district.csv')

df_d

,County,County Name,District,District Name,2004-2005 ADA,2005-2006 ADA,2006-2007 ADA,2007-2008 ADA,2008-2009 ADA,2009-2010 ADA,...,2011-2012 ADA,2012-2013 ADA,2013-2014 ADA,2014-2015 ADA,2015-2016 ADA,2016-2017 ADA,2017-2018 ADA,2018-2019 ADA,2019-2020 ADA,2020-2021 ADA
0,1,ANDERSON COUNTY,1902,CAYUGA ISD,552.28,545.15,544.21,552.32,568.05,591.52,...,568.31,560.13,536.91,558.01,550.33,554.81,548.23,538.51,523.14,515.330
1,1,ANDERSON COUNTY,1903,ELKHART ISD,"1,162.82","1,177.65","1,188.11","1,237.25","1,246.39","1,240.70",...,"1,179.62","1,134.77","1,123.37","1,137.80","1,158.02","1,166.67","1,132.98","1,140.62","1,132.69",1068.994
2,1,ANDERSON COUNTY,1904,FRANKSTON ISD,749.50,756.27,744.33,741.36,720.50,707.63,...,697.35,713.24,725.84,748.14,780.15,797.27,797.58,747.92,727.93,688.153
3,1,ANDERSON COUNTY,1906,NECHES ISD,299.04,315.90,335.74,346.37,372.67,360.55,...,391.03,396.75,376.78,358.11,358.75,350.91,327.04,333.22,308.66,311.103
4,1,ANDERSON COUNTY,1907,PALESTINE ISD,"3,112.47","3,175.54","3,143.59","3,039.31","3,022.89","2,999.55",...,"2,979.49","3,052.14","3,018.45","3,110.65","3,134.61","3,185.31","3,138.39","3,147.61","3,008.59",3076.129
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1402,252,YOUNG COUNTY,252902,NEWCASTLE ISD,169.10,169.15,162.64,153.33,170.82,171.53,...,171.08,174.92,193.00,194.81,216.05,211.92,213.46,193.44,174.28,189.597
1403,252,YOUNG COUNTY,252903,OLNEY ISD,726.15,735.33,754.55,739.68,735.20,716.38,...,688.93,680.20,667.71,653.58,634.69,644.14,615.90,620.56,590.25,625.046
1404,253,ZAPATA COUNTY,253901,ZAPATA COUNTY ISD,"2,995.05","2,932.50","2,997.51","3,106.16","3,114.62","3,162.61",...,"3,085.06","3,187.02","3,230.53","3,240.97","3,227.88","3,177.28","3,077.73","3,117.64","2,933.07",2961.206
1405,254,ZAVALA COUNTY,254901,CRYSTAL CITY ISD,"1,886.99","1,867.79","1,796.74","1,800.39","1,749.73","1,700.16",...,"1,788.39","1,795.87","1,841.08","1,823.79","1,808.14","1,763.11","1,773.39","1,757.02","1,635.69",1565.095
1406,254,ZAVALA COUNTY,254902,LA PRYOR ISD,452.54,459.85,458.83,479.21,465.72,456.40,...,438.01,443.78,426.26,445.61,459.12,444.02,422.24,456.45,446.12,470.604

In [3]:
df_d.drop(columns = [' 2004-2005 ADA', \
                      ' 2005-2006 ADA', \
                      ' 2006-2007 ADA', \
                      '2007-2008 ADA', \
                      '2008-2009 ADA', \
                      ' 2009-2010 ADA', \
                      '2010-2011 ADA', \
                      ' 2011-2012 ADA', \
                      ' 2012-2013 ADA', \
                      ' 2013-2014 ADA', \
                      ' 2014-2015 ADA', \
                      ' 2015-2016 ADA', \
                      ' 2016-2017 ADA'], inplace = True)

df_d.replace(',','', regex=True, inplace=True)
df_d['District #'] = df_d['District']
df_d[' 2017-2018 ADA']= df_d[' 2017-2018 ADA'].astype(float)
df_d[' 2018-2019 ADA']= df_d[' 2017-2018 ADA'].astype(float)
df_d[' 2019-2020 ADA']= df_d[' 2017-2018 ADA'].astype(float)
df_d[' 2020-2021 ADA']= df_d[' 2017-2018 ADA'].astype(float)
df_d.dropna(inplace = True)
zeros = df_d[df_d[' 2017-2018 ADA'] == 0]
df_d.drop(zeros.index, inplace=True)

df_d['2017-2018 ADA']= df_d[' 2017-2018 ADA']
df_d['2018-2019 ADA']= df_d[' 2018-2019 ADA']
df_d['2019-2020 ADA']= df_d[' 2019-2020 ADA']
df_d['2020-2021 ADA']= df_d[' 2020-2021 ADA']

df_d.drop(columns = [' 2017-2018 ADA', \
                     ' 2018-2019 ADA', \
                     ' 2019-2020 ADA', \
                     ' 2020-2021 ADA'], inplace = True)
df_d.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1206 entries, 0 to 1406
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   County         1206 non-null   int64
 1   County Name    1206 non-null   object
 2   District       1206 non-null   int64
 3   District Name  1206 non-null   object
 4   District #     1206 non-null   int64
 5   2017-2018 ADA  1206 non-null   float64
 6   2018-2019 ADA  1206 non-null   float64
 7   2019-2020 ADA  1206 non-null   float64
 8   2020-2021 ADA  1206 non-null   float64
dtypes: float64(4), int64(3), object(2)
memory usage: 94.2+ KB

In [5]:
df_d.to_csv('DATA_ADA_DISTRICT.csv', index = None)

In [6]:
# read in the csv file
df_c = pd.read_csv('ada data/ada_county.csv')

df_c.drop(columns = [' 2004-2005 ADA', \
                    ' 2005-2006 ADA', \
                    ' 2006-2007 ADA', \
                    '2007-2008 ADA', \
                    '2008-2009 ADA', \
                    ' 2009-2010 ADA', \
                    '2010-2011 ADA', \
                    ' 2011-2012 ADA', \
                    ' 2012-2013 ADA', \
                    ' 2013-2014 ADA', \
                    ' 2014-2015 ADA', \
                    ' 2015-2016 ADA', \
                    ' 2016-2017 ADA'], inplace = True)

df_c

,County,County Name,2017-2018 ADA,2018-2019 ADA,2019-2020 ADA,2020-2021 ADA
0,1,ANDERSON COUNTY,"7,786.97","7,690.77","7,340.51",7213.337
1,2,ANDREWS COUNTY,"3,840.23","4,085.36","4,064.98",4068.126
2,3,ANGELINA COUNTY,"15,973.61","15,763.88","15,282.64",14801.498
3,4,ARANSAS COUNTY,"3,192.18","2,641.35","2,680.59",2681.159
4,5,ARCHER COUNTY,"1,806.48","1,839.82","1,826.43",1884.252
...,...,...,...,...,...,...
248,250,WOOD COUNTY,"5,820.52","5,787.86","5,583.89",5724.323
249,251,YOAKUM COUNTY,"1,995.59","2,024.96","1,966.94",1936.490
250,252,YOUNG COUNTY,"3,062.38","3,098.99","2,859.72",3009.943
251,253,ZAPATA COUNTY,"3,077.73","3,117.64","2,933.07",2961.206
252,254,ZAVALA COUNTY,"2,195.63","2,213.47","2,081.81",2035.699

In [7]:
columns = ['County', 'County Name', 'County #', 'Public Health Region', 'Health Service Region']

cc = pd.read_csv('ada data/county_conversion.csv', names = columns, header = 0)

cc.drop(columns = ['Public Health Region', 'Health Service Region', 'County Name'], inplace = True)

cc

     County  County #
0         1     48001
1         2     48003
2         3     48005
3         4     48007
4         5     48009
..      ...       ...
249     250     48499
250     251     48501
251     252     48503
252     253     48505
253     254     48507

[254 rows x 2 columns]

In [8]:
df_c = df_c.merge(cc, how = "inner", on = "County")

In [9]:
df_c

,County,County Name,2017-2018 ADA,2018-2019 ADA,2019-2020 ADA,2020-2021 ADA,County #
0,1,ANDERSON COUNTY,"7,786.97","7,690.77","7,340.51",7213.337,48001
1,2,ANDREWS COUNTY,"3,840.23","4,085.36","4,064.98",4068.126,48003
2,3,ANGELINA COUNTY,"15,973.61","15,763.88","15,282.64",14801.498,48005
3,4,ARANSAS COUNTY,"3,192.18","2,641.35","2,680.59",2681.159,48007
4,5,ARCHER COUNTY,"1,806.48","1,839.82","1,826.43",1884.252,48009
...,...,...,...,...,...,...,...
248,250,WOOD COUNTY,"5,820.52","5,787.86","5,583.89",5724.323,48499
249,251,YOAKUM COUNTY,"1,995.59","2,024.96","1,966.94",1936.490,48501
250,252,YOUNG COUNTY,"3,062.38","3,098.99","2,859.72",3009.943,48503
251,253,ZAPATA COUNTY,"3,077.73","3,117.64","2,933.07",2961.206,48505
252,254,ZAVALA COUNTY,"2,195.63","2,213.47","2,081.81",2035.699,48507

In [10]:
df_c.to_csv('DATA_ADA_COUNTY.csv', index = None)