# Campus COVID EDA

Data gathered from [Texas Health and Human Services](https://dshs.texas.gov/coronavirus/schools/texas-education-agency/)

***Import libraries:***

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

Let's make sure we have the data in this folder, in order to read it in properly...

In [2]:
ls

 Volume in drive C is Local Disk
 Volume Serial Number is 1CF3-39DF

 Directory of C:\Users\mirna\OneDrive\Desktop\Spring2022\ML\m-e172\Project\data

04/27/2022  04:17 PM    <DIR>          .
04/27/2022  04:17 PM    <DIR>          ..
04/27/2022  04:17 PM    <DIR>          .ipynb_checkpoints
04/27/2022  03:56 PM            37,150 ada_cleaning.ipynb
04/19/2022  01:46 PM           640,001 covid_cleaning.ipynb
04/18/2022  04:14 PM        14,543,829 nces_district_cleaning.ipynb
04/18/2022  04:14 PM        14,596,750 staar_district_cleaning.ipynb
               4 File(s)     29,817,730 bytes
               3 Dir(s)  40,149,479,424 bytes free

***Data Reading:***

-- Campus Report --

-- enrollment as of 01/29/21 --

```df0```: July 26, 2021 - August 1, 2021

```df1```: July 19, 2021 - July 25, 2021

```df2```: July 12, 2021 - July 18, 2021

```df3```: July 5, 2021 - July 11, 2021

```df4```: June 28, 2021 - July 4, 2021

```df5```: June 21, 2021 - June 27, 2021

```df6```: June 14, 2021 - June 20, 2021

```df7```: June 7, 2021 - June 13, 2021

```df8```: May 31, 2021 - June 6, 2021

```df9```: May 24, 2021 - May 30, 2021

```df10```: May 17, 2021 - May 23, 2021

```df11```: May 10, 2021 - May 16, 2021

```df12```: May 3, 2021 - May 9, 2021

```df13```: April 26, 2021 - May 2, 2021

```df14```: April 19, 2021 - April 25, 2021

```df15```: April 12, 2021 - April 18, 2021

```df16```: April 5, 2021 - April 11, 2021

```df17```: March 29, 2021 - April 4, 2021

```df18```: March 22, 2021 - March 28, 2021

```df19```: March 15, 2021 - March 21, 2021

```df20```: March 8, 2021 - March 14, 2021

```df21```: March 1, 2021 - March 7, 2021

```df22```: February 22, 2021 - February 28, 2021

-- enrollment as of 10/30/20 --

```df23```: February 15, 2021 - February 21, 2021

```df24```: February 8, 2021 - February 14, 2021

```df25```: February 1, 2021 - February 7, 2021

```df26```: January 25, 2021 - January 31, 2021

```df27```: January 18, 2021 - January 24, 2021

```df28```: January 11, 2021 - January 17, 2021

```df29```: January 4, 2021 - January 10, 2021

```df30```: December 28, 2020 - January 5, 2021

```df31```: December 21, 2020 - December 27, 2020

```df32```: December 14, 2020 - December 20, 2020

```df33```: December 7, 2020 - December 13, 2020

```df34```: November 30, 2020 - December 6, 2020

```df35```: November 23, 2020 - November 29, 2020

```df36```: November 16, 2020 - November 22, 2020

-- District Report --

```df37```: November 9, 2020 - November 15, 2020

-- enrollment as of 09/28/20 --

```df38```: November 2, 2020 - November 8, 2020

```df39```: October 26, 2020 - November 1, 2020

```df40```: October 19, 2020 - October 25, 2020

```df41```: October 12, 2020 - October 18, 2020

```df42```: October 5, 2020 - October 11, 2020

-- enrollment as of first week of school --

```df43```: September 28, 2020 - October 4, 2020

```df44```: September 21, 2020 - September 27, 2020

```df45```: September 14, 2020 - September 20, 2020 **no district LEA**

In [5]:
# column names
columns0 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 08/01/21', \
          'Cumulative Staff Cases 08/01/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

# read in the csv file
df0 = pd.read_csv('../covid data/covid_080121.csv', header = 6, names = columns0, na_values=["NR"])
df0.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 08/01/21,Cumulative Staff Cases 08/01/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,,,,,,11,4,2,7,6
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,,,,,,11,4,2,11,2
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,,,,,,16,14,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,,,,,,38,22,7,34,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,,,,,,,,,,
5,ELKHART ISD,'001903,1167.0,1120.0,ELKHART INT,'001903102,259.0,255.0,,,,,,*,7,*,*,*
6,ELKHART ISD,'001903,1167.0,1120.0,NaN,Multiple\nCampus,NaN,NaN,,,,,,*,10,*,*,*
7,ELKHART ISD,'001903,1167.0,1120.0,ELKHART EL,'001903101,313.0,290.0,,,,,,5,16,0,6,15
8,ELKHART ISD,'001903,1167.0,1120.0,ELKHART MIDDLE,'001903041,265.0,260.0,,,,,,14,5,0,2,17
9,ELKHART ISD,'001903,1167.0,1120.0,ELKHART H S,'001903001,330.0,315.0,,,,,,21,7,0,5,23

In [6]:
# drop new case columns and source columns   
df0.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df0['Campus ID'].value_counts())
multiple_campus = df0[df0['Campus ID'] == 'Multiple\nCampus']
df0.drop(multiple_campus.index, inplace=True)
#print(df0['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df0.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df0.replace('*', 3, inplace = True)

# treat numeric features as float
df0['District Enrollment 01/29/21'] = df0['District Enrollment 01/29/21'].astype(float)
df0['Approx. District On-Campus Enrollment 01/29/21'] = df0['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df0['School Enrollment 01/29/21'] = df0['School Enrollment 01/29/21'].astype(float)
df0['School On-Campus Enrollment 01/29/21'] = df0['School On-Campus Enrollment 01/29/21'].astype(float)
df0['Cumulative Student Cases 08/01/21'] = df0['Cumulative Student Cases 08/01/21'].astype(float)
df0['Cumulative Staff Cases 08/01/21'] = df0['Cumulative Staff Cases 08/01/21'].astype(float)

# remove ' symbol from District ID
df0['District LEA #'] = df0['District LEA #'].astype(str)
df0['District LEA #'] = df0['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df0.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df0['% District On-Campus 01/29/21'] = df0['Approx. District On-Campus Enrollment 01/29/21'] / df0['District Enrollment 01/29/21']
df0['% School On-Campus 01/29/21'] = df0['School On-Campus Enrollment 01/29/21'] / df0['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df0['% Students with COVID 08/01/21'] = df0['Cumulative Student Cases 08/01/21'] / df0['School Enrollment 01/29/21']

In [7]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df0_d = df0[df0['Campus Name'].isna()]
df0_district = df0_d.drop(columns = ['Campus Name', 'Campus ID'])

df0_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 08/01/21,Cumulative Staff Cases 08/01/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 08/01/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,38.0,22.0,0.974122,0.974122,0.070240
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,43.0,45.0,0.959726,0.959726,0.036847
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,38.0,29.0,0.951058,0.951058,0.050265
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,60.0,49.0,0.933373,0.933373,0.017927
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,33.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,23.0,23.0,0.997222,0.997222,0.063889
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,22.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,109.0,32.0,0.928313,0.928313,0.039464

In [8]:
# remove district totals from the campus dataframe
df0.drop(df0_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df0['Campus ID'] = df0['Campus ID'].astype(str)
df0['Campus ID'] = df0['Campus ID'].map(lambda x: x.lstrip("'"))

df0.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 08/01/21,Cumulative Staff Cases 08/01/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 08/01/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,11.0,4.0,0.974122,0.970954,0.045643
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,7.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,14.0,5.0,0.959726,0.981132,0.052830
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,21.0,7.0,0.959726,0.954545,0.063636
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,7.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,9.0,13.0,0.951058,0.975610,0.027439
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [9]:
#print(df0['Campus ID'].value_counts())

#multiple_campus = df0[df0['Campus ID'] == 'Multiple\nCampus']
#df0.drop(multiple_campus.index, inplace=True)

#print(df0['Campus ID'].value_counts())

#df0.replace('*', 3, inplace = True)

#df0.replace(r'^\s*$', 0, regex=True, inplace=True)

#df0

#df0['District Enrollment 01/29/21'] = df0['District Enrollment 01/29/21'].astype(float)
#df0['Approx. District On-Campus Enrollment 01/29/21'] = df0['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
#df0['School Enrollment 01/29/21'] = df0['School Enrollment 01/29/21'].astype(float)
#df0['School On-Campus Enrollment 01/29/21'] = df0['School On-Campus Enrollment 01/29/21'].astype(float)
#df0['Cumulative Student Cases 08/01/21'] = df0['Cumulative Student Cases 08/01/21'].astype(float)
#df0['Cumulative Staff Cases 08/01/21'] = df0['Cumulative Staff Cases 08/01/21'].astype(float)

#df0_d = df0[df0['Campus Name'].isna()]

#df0_district = df0_d.drop(columns = ['Campus Name', 'Campus ID'])

#df0.drop(df0_d.index, inplace=True)

#id_cols = ['District LEA #', 'Campus ID']

# CLEANING
# remove ' symbol from IDs
#for col in id_cols:
#    df0[col] = df0[col].astype(str)
#    df0[col] = df0[col].map(lambda x: x.lstrip("'"))

# drop new case columns    
#df0.drop(columns = ['New Student Cases', \
#                   'New Staff Cases', \
#                   'New School Reported Infection Source On-Campus', \
#                   'New School Reported Infection Source Off-Campus', \
#                   'New School Reported Infection Source Unknown', \
#                   'Cumulative School Reported Infection Source On-Campus', \
#                   'Cumulative School Reported Infection Source Off-Campus', \
#                   'Cumulative School Reported Infection Source Unknown'], \
#                    inplace = True)

In [13]:
# column names
columns1 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 07/25/21', \
          'Cumulative Staff Cases 07/25/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df1 = pd.read_csv('../covid data/covid_072521.csv', header = 6, names = columns1, na_values=["NR"])
df1.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 07/25/21,Cumulative Staff Cases 07/25/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,,,,,,11,4,2,7,6
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,,,,,,11,4,2,11,2
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,,,,,,16,14,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,,,,,,38,22,7,34,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,,,,,,,,,,
5,ELKHART ISD,'001903,1167.0,1120.0,ELKHART INT,'001903102,259.0,255.0,,,,,,*,7,*,*,*
6,ELKHART ISD,'001903,1167.0,1120.0,NaN,Multiple\nCampus,NaN,NaN,,,,,,*,10,*,*,*
7,ELKHART ISD,'001903,1167.0,1120.0,ELKHART EL,'001903101,313.0,290.0,,,,,,5,16,0,6,15
8,ELKHART ISD,'001903,1167.0,1120.0,ELKHART MIDDLE,'001903041,265.0,260.0,,,,,,14,5,0,2,17
9,ELKHART ISD,'001903,1167.0,1120.0,ELKHART H S,'001903001,330.0,315.0,,,,,,21,7,0,5,23

In [14]:
# drop new case columns and source columns   
df1.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df1['Campus ID'].value_counts())
multiple_campus = df1[df1['Campus ID'] == 'Multiple\nCampus']
df1.drop(multiple_campus.index, inplace=True)
#print(df1['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df1.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df1.replace('*', 3, inplace = True)

# treat numeric features as float
df1['District Enrollment 01/29/21'] = df1['District Enrollment 01/29/21'].astype(float)
df1['Approx. District On-Campus Enrollment 01/29/21'] = df1['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df1['School Enrollment 01/29/21'] = df1['School Enrollment 01/29/21'].astype(float)
df1['School On-Campus Enrollment 01/29/21'] = df1['School On-Campus Enrollment 01/29/21'].astype(float)
df1['Cumulative Student Cases 07/25/21'] = df1['Cumulative Student Cases 07/25/21'].astype(float)
df1['Cumulative Staff Cases 07/25/21'] = df1['Cumulative Staff Cases 07/25/21'].astype(float)

# remove ' symbol from District ID
df1['District LEA #'] = df1['District LEA #'].astype(str)
df1['District LEA #'] = df1['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df1.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df1['% District On-Campus 01/29/21'] = df1['Approx. District On-Campus Enrollment 01/29/21'] / df1['District Enrollment 01/29/21']
df1['% School On-Campus 01/29/21'] = df1['School On-Campus Enrollment 01/29/21'] / df1['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df1['% Students with COVID 07/25/21'] = df1['Cumulative Student Cases 07/25/21'] / df1['School Enrollment 01/29/21']

In [15]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df1_d = df1[df1['Campus Name'].isna()]
df1_district = df1_d.drop(columns = ['Campus Name', 'Campus ID'])

df1_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 07/25/21,Cumulative Staff Cases 07/25/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 07/25/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,38.0,22.0,0.974122,0.974122,0.070240
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,43.0,45.0,0.959726,0.959726,0.036847
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,38.0,29.0,0.951058,0.951058,0.050265
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,60.0,49.0,0.933373,0.933373,0.017927
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,33.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,23.0,23.0,0.997222,0.997222,0.063889
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,22.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,109.0,32.0,0.928313,0.928313,0.039464

In [16]:
# remove district totals from the campus dataframe
df1.drop(df1_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df1['Campus ID'] = df1['Campus ID'].astype(str)
df1['Campus ID'] = df1['Campus ID'].map(lambda x: x.lstrip("'"))

df1.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 07/25/21,Cumulative Staff Cases 07/25/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 07/25/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,11.0,4.0,0.974122,0.970954,0.045643
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,7.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,14.0,5.0,0.959726,0.981132,0.052830
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,21.0,7.0,0.959726,0.954545,0.063636
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,7.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,9.0,13.0,0.951058,0.975610,0.027439
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [20]:
# column names
columns2 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 07/18/21', \
          'Cumulative Staff Cases 07/18/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df2 = pd.read_csv('../covid data/covid_071821.csv', header = 6, names = columns2, na_values=["NR"])
df2.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 07/18/21,Cumulative Staff Cases 07/18/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,NaN,NaN,NaN,NaN,NaN,11,4,2,7,6
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,NaN,NaN,NaN,NaN,NaN,11,4,2,11,2
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,NaN,NaN,NaN,NaN,NaN,16,14,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,NaN,NaN,NaN,NaN,NaN,38,22,7,34,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ELKHART ISD,'001903,1167.0,1120.0,ELKHART INT,'001903102,259.0,255.0,NaN,NaN,NaN,NaN,NaN,*,7,*,*,*
6,ELKHART ISD,'001903,1167.0,1120.0,NaN,Multiple\nCampus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*,10,*,*,*
7,ELKHART ISD,'001903,1167.0,1120.0,ELKHART EL,'001903101,313.0,290.0,NaN,NaN,NaN,NaN,NaN,5,16,0,6,15
8,ELKHART ISD,'001903,1167.0,1120.0,ELKHART MIDDLE,'001903041,265.0,260.0,NaN,NaN,NaN,NaN,NaN,14,5,0,2,17
9,ELKHART ISD,'001903,1167.0,1120.0,ELKHART H S,'001903001,330.0,315.0,NaN,NaN,NaN,NaN,NaN,21,7,0,5,23

In [21]:
# drop new case columns and source columns   
df2.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df2['Campus ID'].value_counts())
multiple_campus = df2[df2['Campus ID'] == 'Multiple\nCampus']
df2.drop(multiple_campus.index, inplace=True)
#print(df2['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df2.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df2.replace('*', 3, inplace = True)

# treat numeric features as float
df2['District Enrollment 01/29/21'] = df2['District Enrollment 01/29/21'].astype(float)
df2['Approx. District On-Campus Enrollment 01/29/21'] = df2['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df2['School Enrollment 01/29/21'] = df2['School Enrollment 01/29/21'].astype(float)
df2['School On-Campus Enrollment 01/29/21'] = df2['School On-Campus Enrollment 01/29/21'].astype(float)
df2['Cumulative Student Cases 07/18/21'] = df2['Cumulative Student Cases 07/18/21'].astype(float)
df2['Cumulative Staff Cases 07/18/21'] = df2['Cumulative Staff Cases 07/18/21'].astype(float)

# remove ' symbol from District ID
df2['District LEA #'] = df2['District LEA #'].astype(str)
df2['District LEA #'] = df2['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df2.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df2['% District On-Campus 01/29/21'] = df2['Approx. District On-Campus Enrollment 01/29/21'] / df2['District Enrollment 01/29/21']
df2['% School On-Campus 01/29/21'] = df2['School On-Campus Enrollment 01/29/21'] / df2['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df2['% Students with COVID 07/18/21'] = df2['Cumulative Student Cases 07/18/21'] / df2['School Enrollment 01/29/21']

In [22]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df2_d = df2[df2['Campus Name'].isna()]
df2_district = df2_d.drop(columns = ['Campus Name', 'Campus ID'])

df2_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 07/18/21,Cumulative Staff Cases 07/18/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 07/18/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,38.0,22.0,0.974122,0.974122,0.070240
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,43.0,45.0,0.959726,0.959726,0.036847
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,38.0,29.0,0.951058,0.951058,0.050265
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,60.0,49.0,0.933373,0.933373,0.017927
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,33.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,23.0,23.0,0.997222,0.997222,0.063889
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,22.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,109.0,32.0,0.928313,0.928313,0.039464

In [23]:
# remove district totals from the campus dataframe
df2.drop(df2_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df2['Campus ID'] = df2['Campus ID'].astype(str)
df2['Campus ID'] = df2['Campus ID'].map(lambda x: x.lstrip("'"))

df2.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 07/18/21,Cumulative Staff Cases 07/18/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 07/18/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,11.0,4.0,0.974122,0.970954,0.045643
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,7.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,14.0,5.0,0.959726,0.981132,0.052830
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,21.0,7.0,0.959726,0.954545,0.063636
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,7.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,9.0,13.0,0.951058,0.975610,0.027439
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [25]:
# column names
columns3 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 07/11/21', \
          'Cumulative Staff Cases 07/11/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df3 = pd.read_csv('../covid data/covid_071121.csv', header = 6, names = columns3, na_values=["NR"])
df3.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 07/11/21,Cumulative Staff Cases 07/11/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,NaN,NaN,NaN,NaN,NaN,11,4,2,7,6
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,NaN,NaN,NaN,NaN,NaN,11,4,2,11,2
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,NaN,NaN,NaN,NaN,NaN,16,14,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,NaN,NaN,NaN,NaN,NaN,38,22,7,34,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ELKHART ISD,'001903,1167.0,1120.0,ELKHART INT,'001903102,259.0,255.0,NaN,NaN,NaN,NaN,NaN,*,7,*,*,*
6,ELKHART ISD,'001903,1167.0,1120.0,NaN,Multiple\nCampus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,*,10,*,*,*
7,ELKHART ISD,'001903,1167.0,1120.0,ELKHART EL,'001903101,313.0,290.0,NaN,NaN,NaN,NaN,NaN,5,16,0,6,15
8,ELKHART ISD,'001903,1167.0,1120.0,ELKHART MIDDLE,'001903041,265.0,260.0,NaN,NaN,NaN,NaN,NaN,14,5,0,2,17
9,ELKHART ISD,'001903,1167.0,1120.0,ELKHART H S,'001903001,330.0,315.0,NaN,NaN,NaN,NaN,NaN,21,7,0,5,23

In [26]:
# drop new case columns and source columns   
df3.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df3['Campus ID'].value_counts())
multiple_campus = df3[df3['Campus ID'] == 'Multiple\nCampus']
df3.drop(multiple_campus.index, inplace=True)
#print(df3['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df3.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df3.replace('*', 3, inplace = True)

# treat numeric features as float
df3['District Enrollment 01/29/21'] = df3['District Enrollment 01/29/21'].astype(float)
df3['Approx. District On-Campus Enrollment 01/29/21'] = df3['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df3['School Enrollment 01/29/21'] = df3['School Enrollment 01/29/21'].astype(float)
df3['School On-Campus Enrollment 01/29/21'] = df3['School On-Campus Enrollment 01/29/21'].astype(float)
df3['Cumulative Student Cases 07/11/21'] = df3['Cumulative Student Cases 07/11/21'].astype(float)
df3['Cumulative Staff Cases 07/11/21'] = df3['Cumulative Staff Cases 07/11/21'].astype(float)

# remove ' symbol from District ID
df3['District LEA #'] = df3['District LEA #'].astype(str)
df3['District LEA #'] = df3['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df3.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df3['% District On-Campus 01/29/21'] = df3['Approx. District On-Campus Enrollment 01/29/21'] / df3['District Enrollment 01/29/21']
df3['% School On-Campus 01/29/21'] = df3['School On-Campus Enrollment 01/29/21'] / df3['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df3['% Students with COVID 07/11/21'] = df3['Cumulative Student Cases 07/11/21'] / df3['School Enrollment 01/29/21']

In [27]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df3_d = df3[df3['Campus Name'].isna()]
df3_district = df3_d.drop(columns = ['Campus Name', 'Campus ID'])

df3_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 07/11/21,Cumulative Staff Cases 07/11/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 07/11/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,38.0,22.0,0.974122,0.974122,0.070240
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,43.0,45.0,0.959726,0.959726,0.036847
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,38.0,29.0,0.951058,0.951058,0.050265
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,60.0,49.0,0.933373,0.933373,0.017927
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,33.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,23.0,23.0,0.997222,0.997222,0.063889
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,22.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,109.0,32.0,0.928313,0.928313,0.039464

In [28]:
# remove district totals from the campus dataframe
df3.drop(df3_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df3['Campus ID'] = df3['Campus ID'].astype(str)
df3['Campus ID'] = df3['Campus ID'].map(lambda x: x.lstrip("'"))

df3.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 07/11/21,Cumulative Staff Cases 07/11/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 07/11/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,11.0,4.0,0.974122,0.970954,0.045643
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,7.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,14.0,5.0,0.959726,0.981132,0.052830
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,21.0,7.0,0.959726,0.954545,0.063636
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,7.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,9.0,13.0,0.951058,0.975610,0.027439
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [29]:
# column names
columns4 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 07/04/21', \
          'Cumulative Staff Cases 07/04/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df4 = pd.read_csv('../covid data/covid_070421.csv', header = 6, names = columns4, na_values=["NR"])
df4.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 07/04/21,Cumulative Staff Cases 07/04/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,NaN,NaN,NaN,NaN,NaN,11,4,2,7,6
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,NaN,NaN,NaN,NaN,NaN,11,4,2,11,2
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,NaN,NaN,NaN,NaN,NaN,16,14,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,NaN,NaN,NaN,NaN,NaN,38,22,7,34,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
# drop new case columns and source columns   
df4.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df4['Campus ID'].value_counts())
multiple_campus = df4[df4['Campus ID'] == 'Multiple\nCampus']
df4.drop(multiple_campus.index, inplace=True)
#print(df4['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df4.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df4.replace('*', 3, inplace = True)

# treat numeric features as float
df4['District Enrollment 01/29/21'] = df4['District Enrollment 01/29/21'].astype(float)
df4['Approx. District On-Campus Enrollment 01/29/21'] = df4['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df4['School Enrollment 01/29/21'] = df4['School Enrollment 01/29/21'].astype(float)
df4['School On-Campus Enrollment 01/29/21'] = df4['School On-Campus Enrollment 01/29/21'].astype(float)
df4['Cumulative Student Cases 07/04/21'] = df4['Cumulative Student Cases 07/04/21'].astype(float)
df4['Cumulative Staff Cases 07/04/21'] = df4['Cumulative Staff Cases 07/04/21'].astype(float)

# remove ' symbol from District ID
df4['District LEA #'] = df4['District LEA #'].astype(str)
df4['District LEA #'] = df4['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df4.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df4['% District On-Campus 01/29/21'] = df4['Approx. District On-Campus Enrollment 01/29/21'] / df4['District Enrollment 01/29/21']
df4['% School On-Campus 01/29/21'] = df4['School On-Campus Enrollment 01/29/21'] / df4['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df4['% Students with COVID 07/04/21'] = df4['Cumulative Student Cases 07/04/21'] / df4['School Enrollment 01/29/21']

In [31]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df4_d = df4[df4['Campus Name'].isna()]
df4_district = df4_d.drop(columns = ['Campus Name', 'Campus ID'])

df4_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 07/04/21,Cumulative Staff Cases 07/04/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 07/04/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,38.0,22.0,0.974122,0.974122,0.070240
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,43.0,45.0,0.959726,0.959726,0.036847
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,38.0,29.0,0.951058,0.951058,0.050265
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,60.0,49.0,0.933373,0.933373,0.017927
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,33.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,23.0,23.0,0.997222,0.997222,0.063889
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,22.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,109.0,32.0,0.928313,0.928313,0.039464

In [32]:
# remove district totals from the campus dataframe
df4.drop(df4_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df4['Campus ID'] = df4['Campus ID'].astype(str)
df4['Campus ID'] = df4['Campus ID'].map(lambda x: x.lstrip("'"))

df4.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 07/04/21,Cumulative Staff Cases 07/04/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 07/04/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,11.0,4.0,0.974122,0.970954,0.045643
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,7.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,14.0,5.0,0.959726,0.981132,0.052830
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,21.0,7.0,0.959726,0.954545,0.063636
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,7.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,9.0,13.0,0.951058,0.975610,0.027439
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [35]:
# column names
columns5 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 06/27/21', \
          'Cumulative Staff Cases 06/27/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df5 = pd.read_csv('../covid data/covid_062721.csv', header = 6, names = columns5, na_values=["NR"])
df5.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 06/27/21,Cumulative Staff Cases 06/27/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,NaN,NaN,NaN,NaN,NaN,11,4,2,7,6
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,NaN,NaN,NaN,NaN,NaN,11,4,2,11,2
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,NaN,NaN,NaN,NaN,NaN,16,14,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,NaN,NaN,NaN,NaN,NaN,38,22,7,34,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
# drop new case columns and source columns   
df5.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df5['Campus ID'].value_counts())
multiple_campus = df5[df5['Campus ID'] == 'Multiple\nCampus']
df5.drop(multiple_campus.index, inplace=True)
#print(df5['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df5.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df5.replace('*', 3, inplace = True)

# treat numeric features as float
df5['District Enrollment 01/29/21'] = df5['District Enrollment 01/29/21'].astype(float)
df5['Approx. District On-Campus Enrollment 01/29/21'] = df5['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df5['School Enrollment 01/29/21'] = df5['School Enrollment 01/29/21'].astype(float)
df5['School On-Campus Enrollment 01/29/21'] = df5['School On-Campus Enrollment 01/29/21'].astype(float)
df5['Cumulative Student Cases 06/27/21'] = df5['Cumulative Student Cases 06/27/21'].astype(float)
df5['Cumulative Staff Cases 06/27/21'] = df5['Cumulative Staff Cases 06/27/21'].astype(float)

# remove ' symbol from District ID
df5['District LEA #'] = df5['District LEA #'].astype(str)
df5['District LEA #'] = df5['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df5.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df5['% District On-Campus 01/29/21'] = df5['Approx. District On-Campus Enrollment 01/29/21'] / df5['District Enrollment 01/29/21']
df5['% School On-Campus 01/29/21'] = df5['School On-Campus Enrollment 01/29/21'] / df5['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df5['% Students with COVID 06/27/21'] = df5['Cumulative Student Cases 06/27/21'] / df5['School Enrollment 01/29/21']

In [37]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df5_d = df5[df5['Campus Name'].isna()]
df5_district = df5_d.drop(columns = ['Campus Name', 'Campus ID'])

df5_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 06/27/21,Cumulative Staff Cases 06/27/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 06/27/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,38.0,22.0,0.974122,0.974122,0.070240
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,43.0,45.0,0.959726,0.959726,0.036847
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,38.0,29.0,0.951058,0.951058,0.050265
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,60.0,49.0,0.933373,0.933373,0.017927
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,33.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,23.0,23.0,0.997222,0.997222,0.063889
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,22.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,109.0,32.0,0.928313,0.928313,0.039464

In [38]:
# remove district totals from the campus dataframe
df5.drop(df5_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df5['Campus ID'] = df5['Campus ID'].astype(str)
df5['Campus ID'] = df5['Campus ID'].map(lambda x: x.lstrip("'"))

df5.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 06/27/21,Cumulative Staff Cases 06/27/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 06/27/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,11.0,4.0,0.974122,0.970954,0.045643
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,7.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,14.0,5.0,0.959726,0.981132,0.052830
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,21.0,7.0,0.959726,0.954545,0.063636
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,7.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,9.0,13.0,0.951058,0.975610,0.027439
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [39]:
# column names
columns6 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 06/20/21', \
          'Cumulative Staff Cases 06/20/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df6 = pd.read_csv('../covid data/covid_062021.csv', header = 6, names = columns6, na_values=["NR"])
df6.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 06/20/21,Cumulative Staff Cases 06/20/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,NaN,NaN,NaN,NaN,NaN,11,4,2,7,6
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,NaN,NaN,NaN,NaN,NaN,11,4,2,11,2
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,NaN,NaN,NaN,NaN,NaN,16,14,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,NaN,NaN,NaN,NaN,NaN,38,22,7,34,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [40]:
# drop new case columns and source columns   
df6.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df6['Campus ID'].value_counts())
multiple_campus = df6[df6['Campus ID'] == 'Multiple\nCampus']
df6.drop(multiple_campus.index, inplace=True)
#print(df6['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df6.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df6.replace('*', 3, inplace = True)

# treat numeric features as float
df6['District Enrollment 01/29/21'] = df6['District Enrollment 01/29/21'].astype(float)
df6['Approx. District On-Campus Enrollment 01/29/21'] = df6['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df6['School Enrollment 01/29/21'] = df6['School Enrollment 01/29/21'].astype(float)
df6['School On-Campus Enrollment 01/29/21'] = df6['School On-Campus Enrollment 01/29/21'].astype(float)
df6['Cumulative Student Cases 06/20/21'] = df6['Cumulative Student Cases 06/20/21'].astype(float)
df6['Cumulative Staff Cases 06/20/21'] = df6['Cumulative Staff Cases 06/20/21'].astype(float)

# remove ' symbol from District ID
df6['District LEA #'] = df6['District LEA #'].astype(str)
df6['District LEA #'] = df6['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df6.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df6['% District On-Campus 01/29/21'] = df6['Approx. District On-Campus Enrollment 01/29/21'] / df6['District Enrollment 01/29/21']
df6['% School On-Campus 01/29/21'] = df6['School On-Campus Enrollment 01/29/21'] / df6['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df6['% Students with COVID 06/20/21'] = df6['Cumulative Student Cases 06/20/21'] / df6['School Enrollment 01/29/21']

In [41]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df6_d = df6[df6['Campus Name'].isna()]
df6_district = df6_d.drop(columns = ['Campus Name', 'Campus ID'])

df6_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 06/20/21,Cumulative Staff Cases 06/20/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 06/20/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,38.0,22.0,0.974122,0.974122,0.070240
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,43.0,45.0,0.959726,0.959726,0.036847
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,38.0,29.0,0.951058,0.951058,0.050265
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,60.0,49.0,0.933373,0.933373,0.017927
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,33.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,23.0,23.0,0.997222,0.997222,0.063889
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,22.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,109.0,32.0,0.928313,0.928313,0.039464

In [42]:
# remove district totals from the campus dataframe
df6.drop(df6_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df6['Campus ID'] = df6['Campus ID'].astype(str)
df6['Campus ID'] = df6['Campus ID'].map(lambda x: x.lstrip("'"))

df6.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 06/20/21,Cumulative Staff Cases 06/20/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 06/20/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,11.0,4.0,0.974122,0.970954,0.045643
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,7.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,14.0,5.0,0.959726,0.981132,0.052830
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,21.0,7.0,0.959726,0.954545,0.063636
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,7.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,9.0,13.0,0.951058,0.975610,0.027439
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [43]:
# column names
columns7 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 06/13/21', \
          'Cumulative Staff Cases 06/13/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df7 = pd.read_csv('../covid data/covid_061321.csv', header = 6, names = columns7, na_values=["NR"])
df7.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 06/13/21,Cumulative Staff Cases 06/13/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,NaN,NaN,NaN,NaN,NaN,11,4,2,7,6
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,NaN,NaN,NaN,NaN,NaN,11,4,2,11,2
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,NaN,NaN,NaN,NaN,NaN,16,14,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,NaN,NaN,NaN,NaN,NaN,38,22,7,34,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [44]:
# drop new case columns and source columns   
df7.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df7['Campus ID'].value_counts())
multiple_campus = df7[df7['Campus ID'] == 'Multiple\nCampus']
df7.drop(multiple_campus.index, inplace=True)
#print(df7['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df7.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df7.replace('*', 3, inplace = True)

# treat numeric features as float
df7['District Enrollment 01/29/21'] = df7['District Enrollment 01/29/21'].astype(float)
df7['Approx. District On-Campus Enrollment 01/29/21'] = df7['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df7['School Enrollment 01/29/21'] = df7['School Enrollment 01/29/21'].astype(float)
df7['School On-Campus Enrollment 01/29/21'] = df7['School On-Campus Enrollment 01/29/21'].astype(float)
df7['Cumulative Student Cases 06/13/21'] = df7['Cumulative Student Cases 06/13/21'].astype(float)
df7['Cumulative Staff Cases 06/13/21'] = df7['Cumulative Staff Cases 06/13/21'].astype(float)

# remove ' symbol from District ID
df7['District LEA #'] = df7['District LEA #'].astype(str)
df7['District LEA #'] = df7['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df7.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df7['% District On-Campus 01/29/21'] = df7['Approx. District On-Campus Enrollment 01/29/21'] / df7['District Enrollment 01/29/21']
df7['% School On-Campus 01/29/21'] = df7['School On-Campus Enrollment 01/29/21'] / df7['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df7['% Students with COVID 06/13/21'] = df7['Cumulative Student Cases 06/13/21'] / df7['School Enrollment 01/29/21']

In [45]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df7_d = df7[df7['Campus Name'].isna()]
df7_district = df7_d.drop(columns = ['Campus Name', 'Campus ID'])

df7_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 06/13/21,Cumulative Staff Cases 06/13/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 06/13/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,38.0,22.0,0.974122,0.974122,0.070240
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,43.0,45.0,0.959726,0.959726,0.036847
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,38.0,29.0,0.951058,0.951058,0.050265
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,60.0,49.0,0.933373,0.933373,0.017927
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,33.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,23.0,23.0,0.997222,0.997222,0.063889
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,22.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,109.0,32.0,0.928313,0.928313,0.039464

In [46]:
# remove district totals from the campus dataframe
df7.drop(df7_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df7['Campus ID'] = df7['Campus ID'].astype(str)
df7['Campus ID'] = df7['Campus ID'].map(lambda x: x.lstrip("'"))

df7.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 06/13/21,Cumulative Staff Cases 06/13/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 06/13/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,11.0,4.0,0.974122,0.970954,0.045643
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,7.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,14.0,5.0,0.959726,0.981132,0.052830
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,21.0,7.0,0.959726,0.954545,0.063636
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,7.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,9.0,13.0,0.951058,0.975610,0.027439
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [47]:
# column names
columns8 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 06/06/21', \
          'Cumulative Staff Cases 06/06/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df8 = pd.read_csv('../covid data/covid_060621.csv', header = 6, names = columns8, na_values=["NR"])
df8.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 06/06/21,Cumulative Staff Cases 06/06/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,NaN,NaN,NaN,NaN,NaN,11,4,2,7,6
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,NaN,NaN,NaN,NaN,NaN,11,4,2,11,2
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,NaN,NaN,NaN,NaN,NaN,16,14,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,NaN,NaN,NaN,NaN,NaN,38,22,7,34,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [48]:
# drop new case columns and source columns   
df8.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df8['Campus ID'].value_counts())
multiple_campus = df8[df8['Campus ID'] == 'Multiple\nCampus']
df8.drop(multiple_campus.index, inplace=True)
#print(df8['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df8.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df8.replace('*', 3, inplace = True)

# treat numeric features as float
df8['District Enrollment 01/29/21'] = df8['District Enrollment 01/29/21'].astype(float)
df8['Approx. District On-Campus Enrollment 01/29/21'] = df8['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df8['School Enrollment 01/29/21'] = df8['School Enrollment 01/29/21'].astype(float)
df8['School On-Campus Enrollment 01/29/21'] = df8['School On-Campus Enrollment 01/29/21'].astype(float)
df8['Cumulative Student Cases 06/06/21'] = df8['Cumulative Student Cases 06/06/21'].astype(float)
df8['Cumulative Staff Cases 06/06/21'] = df8['Cumulative Staff Cases 06/06/21'].astype(float)

# remove ' symbol from District ID
df8['District LEA #'] = df8['District LEA #'].astype(str)
df8['District LEA #'] = df8['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df8.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df8['% District On-Campus 01/29/21'] = df8['Approx. District On-Campus Enrollment 01/29/21'] / df8['District Enrollment 01/29/21']
df8['% School On-Campus 01/29/21'] = df8['School On-Campus Enrollment 01/29/21'] / df8['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df8['% Students with COVID 06/06/21'] = df8['Cumulative Student Cases 06/06/21'] / df8['School Enrollment 01/29/21']

In [49]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df8_d = df8[df8['Campus Name'].isna()]
df8_district = df8_d.drop(columns = ['Campus Name', 'Campus ID'])

df8_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 06/06/21,Cumulative Staff Cases 06/06/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 06/06/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,38.0,22.0,0.974122,0.974122,0.070240
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,43.0,45.0,0.959726,0.959726,0.036847
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,38.0,29.0,0.951058,0.951058,0.050265
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,60.0,49.0,0.933373,0.933373,0.017927
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,33.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,23.0,23.0,0.997222,0.997222,0.063889
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,22.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,109.0,32.0,0.928313,0.928313,0.039464

In [50]:
# remove district totals from the campus dataframe
df8.drop(df8_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df8['Campus ID'] = df8['Campus ID'].astype(str)
df8['Campus ID'] = df8['Campus ID'].map(lambda x: x.lstrip("'"))

df8.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 06/06/21,Cumulative Staff Cases 06/06/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 06/06/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,11.0,4.0,0.974122,0.970954,0.045643
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,7.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,14.0,5.0,0.959726,0.981132,0.052830
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,21.0,7.0,0.959726,0.954545,0.063636
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,7.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,9.0,13.0,0.951058,0.975610,0.027439
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [51]:
# column names
columns9 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 05/30/21', \
          'Cumulative Staff Cases 05/30/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df9 = pd.read_csv('../covid data/covid_053021.csv', header = 6, names = columns9, na_values=["NR", "."])
df9.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 05/30/21,Cumulative Staff Cases 05/30/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,NaN,NaN,NaN,NaN,NaN,11,4,2,7,6
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,NaN,NaN,NaN,NaN,NaN,11,4,2,11,2
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,NaN,NaN,NaN,NaN,NaN,16,14,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,NaN,NaN,NaN,NaN,NaN,38,22,7,34,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [52]:
# drop new case columns and source columns   
df9.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df9['Campus ID'].value_counts())
multiple_campus = df9[df9['Campus ID'] == 'Multiple\nCampus']
df9.drop(multiple_campus.index, inplace=True)
#print(df9['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df9.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df9.replace('*', 3, inplace = True)

# treat numeric features as float
df9['District Enrollment 01/29/21'] = df9['District Enrollment 01/29/21'].astype(float)
df9['Approx. District On-Campus Enrollment 01/29/21'] = df9['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df9['School Enrollment 01/29/21'] = df9['School Enrollment 01/29/21'].astype(float)
df9['School On-Campus Enrollment 01/29/21'] = df9['School On-Campus Enrollment 01/29/21'].astype(float)
df9['Cumulative Student Cases 05/30/21'] = df9['Cumulative Student Cases 05/30/21'].astype(float)
df9['Cumulative Staff Cases 05/30/21'] = df9['Cumulative Staff Cases 05/30/21'].astype(float)

# remove ' symbol from District ID
df9['District LEA #'] = df9['District LEA #'].astype(str)
df9['District LEA #'] = df9['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df9.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df9['% District On-Campus 01/29/21'] = df9['Approx. District On-Campus Enrollment 01/29/21'] / df9['District Enrollment 01/29/21']
df9['% School On-Campus 01/29/21'] = df9['School On-Campus Enrollment 01/29/21'] / df9['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df9['% Students with COVID 05/30/21'] = df9['Cumulative Student Cases 05/30/21'] / df9['School Enrollment 01/29/21']

In [53]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df9_d = df9[df9['Campus Name'].isna()]
df9_district = df9_d.drop(columns = ['Campus Name', 'Campus ID'])

df9_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 05/30/21,Cumulative Staff Cases 05/30/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 05/30/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,38.0,22.0,0.974122,0.974122,0.070240
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,43.0,45.0,0.959726,0.959726,0.036847
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,38.0,29.0,0.951058,0.951058,0.050265
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,60.0,49.0,0.933373,0.933373,0.017927
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,33.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,23.0,23.0,0.997222,0.997222,0.063889
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,22.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,109.0,32.0,0.928313,0.928313,0.039464

In [54]:
# remove district totals from the campus dataframe
df9.drop(df9_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df9['Campus ID'] = df9['Campus ID'].astype(str)
df9['Campus ID'] = df9['Campus ID'].map(lambda x: x.lstrip("'"))

df9.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 05/30/21,Cumulative Staff Cases 05/30/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 05/30/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,11.0,4.0,0.974122,0.970954,0.045643
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,7.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,14.0,5.0,0.959726,0.981132,0.052830
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,21.0,7.0,0.959726,0.954545,0.063636
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,7.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,9.0,13.0,0.951058,0.975610,0.027439
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [55]:
# column names
columns10 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 05/23/21', \
          'Cumulative Staff Cases 05/23/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df10 = pd.read_csv('../covid data/covid_052321.csv', header = 6, names = columns10, na_values=["NR", "."])
df10.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 05/23/21,Cumulative Staff Cases 05/23/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,NaN,NaN,NaN,NaN,NaN,11,4,2,7,6
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,NaN,NaN,NaN,NaN,NaN,11,4,2,11,2
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,NaN,NaN,NaN,NaN,NaN,16,14,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,NaN,NaN,NaN,NaN,NaN,38,22,7,34,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [56]:
# drop new case columns and source columns   
df10.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df10['Campus ID'].value_counts())
multiple_campus = df10[df10['Campus ID'] == 'Multiple\nCampus']
df10.drop(multiple_campus.index, inplace=True)
#print(df10['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df10.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df10.replace('*', 3, inplace = True)

# treat numeric features as float
df10['District Enrollment 01/29/21'] = df10['District Enrollment 01/29/21'].astype(float)
df10['Approx. District On-Campus Enrollment 01/29/21'] = df10['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df10['School Enrollment 01/29/21'] = df10['School Enrollment 01/29/21'].astype(float)
df10['School On-Campus Enrollment 01/29/21'] = df10['School On-Campus Enrollment 01/29/21'].astype(float)
df10['Cumulative Student Cases 05/23/21'] = df10['Cumulative Student Cases 05/23/21'].astype(float)
df10['Cumulative Staff Cases 05/23/21'] = df10['Cumulative Staff Cases 05/23/21'].astype(float)

# remove ' symbol from District ID
df10['District LEA #'] = df10['District LEA #'].astype(str)
df10['District LEA #'] = df10['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df10.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df10['% District On-Campus 01/29/21'] = df10['Approx. District On-Campus Enrollment 01/29/21'] / df10['District Enrollment 01/29/21']
df10['% School On-Campus 01/29/21'] = df10['School On-Campus Enrollment 01/29/21'] / df10['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df10['% Students with COVID 05/23/21'] = df10['Cumulative Student Cases 05/23/21'] / df10['School Enrollment 01/29/21']

In [57]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df10_d = df10[df10['Campus Name'].isna()]
df10_district = df10_d.drop(columns = ['Campus Name', 'Campus ID'])

df10_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 05/23/21,Cumulative Staff Cases 05/23/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 05/23/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,38.0,22.0,0.974122,0.974122,0.070240
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,43.0,45.0,0.959726,0.959726,0.036847
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,38.0,29.0,0.951058,0.951058,0.050265
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,60.0,49.0,0.933373,0.933373,0.017927
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,33.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,23.0,23.0,0.997222,0.997222,0.063889
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,22.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,109.0,32.0,0.928313,0.928313,0.039464

In [58]:
# remove district totals from the campus dataframe
df10.drop(df10_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df10['Campus ID'] = df10['Campus ID'].astype(str)
df10['Campus ID'] = df10['Campus ID'].map(lambda x: x.lstrip("'"))

df10.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 05/23/21,Cumulative Staff Cases 05/23/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 05/23/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,11.0,4.0,0.974122,0.970954,0.045643
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,7.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,14.0,5.0,0.959726,0.981132,0.052830
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,21.0,7.0,0.959726,0.954545,0.063636
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,7.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,9.0,13.0,0.951058,0.975610,0.027439
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [60]:
# column names
columns11 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 05/16/21', \
          'Cumulative Staff Cases 05/16/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df11 = pd.read_csv('../covid data/covid_051621.csv', header = 6, names = columns11, na_values=["NR", "."])
df11.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 05/16/21,Cumulative Staff Cases 05/16/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,,,,,,11,4,2,7,6
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,*,0,*,*,*,11,4,2,11,2
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,,,,,,16,14,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,*,0,*,*,*,38,22,7,34,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,,,,,,,,,,

In [61]:
# drop new case columns and source columns   
df11.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df11['Campus ID'].value_counts())
multiple_campus = df11[df11['Campus ID'] == 'Multiple\nCampus']
df11.drop(multiple_campus.index, inplace=True)
#print(df11['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df11.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df11.replace('*', 3, inplace = True)

# treat numeric features as float
df11['District Enrollment 01/29/21'] = df11['District Enrollment 01/29/21'].astype(float)
df11['Approx. District On-Campus Enrollment 01/29/21'] = df11['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df11['School Enrollment 01/29/21'] = df11['School Enrollment 01/29/21'].astype(float)
df11['School On-Campus Enrollment 01/29/21'] = df11['School On-Campus Enrollment 01/29/21'].astype(float)
df11['Cumulative Student Cases 05/16/21'] = df11['Cumulative Student Cases 05/16/21'].astype(float)
df11['Cumulative Staff Cases 05/16/21'] = df11['Cumulative Staff Cases 05/16/21'].astype(float)

# remove ' symbol from District ID
df11['District LEA #'] = df11['District LEA #'].astype(str)
df11['District LEA #'] = df11['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df11.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df11['% District On-Campus 01/29/21'] = df11['Approx. District On-Campus Enrollment 01/29/21'] / df11['District Enrollment 01/29/21']
df11['% School On-Campus 01/29/21'] = df11['School On-Campus Enrollment 01/29/21'] / df11['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df11['% Students with COVID 05/16/21'] = df11['Cumulative Student Cases 05/16/21'] / df11['School Enrollment 01/29/21']

In [62]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df11_d = df11[df11['Campus Name'].isna()]
df11_district = df11_d.drop(columns = ['Campus Name', 'Campus ID'])

df11_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 05/16/21,Cumulative Staff Cases 05/16/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 05/16/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,38.0,22.0,0.974122,0.974122,0.070240
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,42.0,45.0,0.959726,0.959726,0.035990
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,38.0,28.0,0.951058,0.951058,0.050265
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,60.0,49.0,0.933373,0.933373,0.017927
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,33.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,23.0,23.0,0.997222,0.997222,0.063889
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,22.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,109.0,32.0,0.928313,0.928313,0.039464

In [ ]:
# remove district totals from the campus dataframe
df11.drop(df11_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df11['Campus ID'] = df11['Campus ID'].astype(str)
df11['Campus ID'] = df11['Campus ID'].map(lambda x: x.lstrip("'"))

df11.head(10)

In [63]:
# column names
columns12 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 05/09/21', \
          'Cumulative Staff Cases 05/09/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df12 = pd.read_csv('../covid data/covid_050921.csv', header = 6, names = columns12, na_values=["NR", "."])
df12.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 05/09/21,Cumulative Staff Cases 05/09/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,,,,,,8,4,2,8,2
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,,,,,,11,4,2,7,6
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,,,,,,16,14,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,,,,,,35,22,7,31,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,,,,,,,,,,

In [64]:
# drop new case columns and source columns   
df12.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df12['Campus ID'].value_counts())
multiple_campus = df12[df12['Campus ID'] == 'Multiple\nCampus']
df12.drop(multiple_campus.index, inplace=True)
#print(df12['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df12.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df12.replace('*', 3, inplace = True)

# treat numeric features as float
df12['District Enrollment 01/29/21'] = df12['District Enrollment 01/29/21'].astype(float)
df12['Approx. District On-Campus Enrollment 01/29/21'] = df12['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df12['School Enrollment 01/29/21'] = df12['School Enrollment 01/29/21'].astype(float)
df12['School On-Campus Enrollment 01/29/21'] = df12['School On-Campus Enrollment 01/29/21'].astype(float)
df12['Cumulative Student Cases 05/09/21'] = df12['Cumulative Student Cases 05/09/21'].astype(float)
df12['Cumulative Staff Cases 05/09/21'] = df12['Cumulative Staff Cases 05/09/21'].astype(float)

# remove ' symbol from District ID
df12['District LEA #'] = df12['District LEA #'].astype(str)
df12['District LEA #'] = df12['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df12.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df12['% District On-Campus 01/29/21'] = df12['Approx. District On-Campus Enrollment 01/29/21'] / df12['District Enrollment 01/29/21']
df12['% School On-Campus 01/29/21'] = df12['School On-Campus Enrollment 01/29/21'] / df12['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df12['% Students with COVID 05/09/21'] = df12['Cumulative Student Cases 05/09/21'] / df12['School Enrollment 01/29/21']

In [65]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df12_d = df12[df12['Campus Name'].isna()]
df12_district = df12_d.drop(columns = ['Campus Name', 'Campus ID'])

df12_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 05/09/21,Cumulative Staff Cases 05/09/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 05/09/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,35.0,22.0,0.974122,0.974122,0.064695
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,41.0,45.0,0.959726,0.959726,0.035133
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,38.0,28.0,0.951058,0.951058,0.050265
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,60.0,49.0,0.933373,0.933373,0.017927
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,33.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,23.0,23.0,0.997222,0.997222,0.063889
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,22.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,108.0,31.0,0.928313,0.928313,0.039102

In [66]:
# remove district totals from the campus dataframe
df12.drop(df12_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df12['Campus ID'] = df12['Campus ID'].astype(str)
df12['Campus ID'] = df12['Campus ID'].map(lambda x: x.lstrip("'"))

df12.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 05/09/21,Cumulative Staff Cases 05/09/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 05/09/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,8.0,4.0,0.974122,0.970954,0.033195
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,7.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,14.0,5.0,0.959726,0.981132,0.052830
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,19.0,7.0,0.959726,0.954545,0.057576
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,6.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,9.0,13.0,0.951058,0.975610,0.027439
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [67]:
# column names
columns13 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 05/02/21', \
          'Cumulative Staff Cases 05/02/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df13 = pd.read_csv('../covid data/covid_050221.csv', header = 6, names = columns13, na_values=["NR", "."])
df13.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 05/02/21,Cumulative Staff Cases 05/02/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,,,,,,8,4,2,8,2
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,,,,,,11,4,2,7,6
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,,,,,,16,14,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,,,,,,35,22,7,31,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,,,,,,,,,,

In [68]:
# drop new case columns and source columns   
df13.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df13['Campus ID'].value_counts())
multiple_campus = df13[df13['Campus ID'] == 'Multiple\nCampus']
df13.drop(multiple_campus.index, inplace=True)
#print(df13['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df13.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df13.replace('*', 3, inplace = True)

# treat numeric features as float
df13['District Enrollment 01/29/21'] = df13['District Enrollment 01/29/21'].astype(float)
df13['Approx. District On-Campus Enrollment 01/29/21'] = df13['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df13['School Enrollment 01/29/21'] = df13['School Enrollment 01/29/21'].astype(float)
df13['School On-Campus Enrollment 01/29/21'] = df13['School On-Campus Enrollment 01/29/21'].astype(float)
df13['Cumulative Student Cases 05/02/21'] = df13['Cumulative Student Cases 05/02/21'].astype(float)
df13['Cumulative Staff Cases 05/02/21'] = df13['Cumulative Staff Cases 05/02/21'].astype(float)

# remove ' symbol from District ID
df13['District LEA #'] = df13['District LEA #'].astype(str)
df13['District LEA #'] = df13['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df13.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df13['% District On-Campus 01/29/21'] = df13['Approx. District On-Campus Enrollment 01/29/21'] / df13['District Enrollment 01/29/21']
df13['% School On-Campus 01/29/21'] = df13['School On-Campus Enrollment 01/29/21'] / df13['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df13['% Students with COVID 05/02/21'] = df13['Cumulative Student Cases 05/02/21'] / df13['School Enrollment 01/29/21']

In [69]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df13_d = df13[df13['Campus Name'].isna()]
df13_district = df13_d.drop(columns = ['Campus Name', 'Campus ID'])

df13_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 05/02/21,Cumulative Staff Cases 05/02/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 05/02/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,35.0,22.0,0.974122,0.974122,0.064695
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,39.0,43.0,0.959726,0.959726,0.033419
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,38.0,28.0,0.951058,0.951058,0.050265
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,60.0,48.0,0.933373,0.933373,0.017927
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,32.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,23.0,23.0,0.997222,0.997222,0.063889
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,22.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,108.0,31.0,0.928313,0.928313,0.039102

In [70]:
# remove district totals from the campus dataframe
df13.drop(df13_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df13['Campus ID'] = df13['Campus ID'].astype(str)
df13['Campus ID'] = df13['Campus ID'].map(lambda x: x.lstrip("'"))

df13.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 05/02/21,Cumulative Staff Cases 05/02/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 05/02/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,8.0,4.0,0.974122,0.970954,0.033195
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,7.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,13.0,5.0,0.959726,0.981132,0.049057
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,18.0,5.0,0.959726,0.954545,0.054545
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,6.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,9.0,13.0,0.951058,0.975610,0.027439
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [72]:
# column names
columns14 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 04/25/21', \
          'Cumulative Staff Cases 04/25/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df14 = pd.read_csv('../covid data/covid_042521.csv', header = 6, names = columns14, na_values=["NR", "."])
df14.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 04/25/21,Cumulative Staff Cases 04/25/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,NaN,NaN,NaN,NaN,NaN,8,4.0,2,8,2
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,NaN,NaN,NaN,NaN,NaN,11,4.0,2,7,6
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,NaN,NaN,NaN,NaN,NaN,16,14.0,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,NaN,NaN,NaN,NaN,NaN,35,22.0,7,31,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [73]:
# drop new case columns and source columns   
df14.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df14['Campus ID'].value_counts())
multiple_campus = df14[df14['Campus ID'] == 'Multiple\nCampus']
df14.drop(multiple_campus.index, inplace=True)
#print(df14['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df14.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df14.replace('*', 3, inplace = True)

# treat numeric features as float
df14['District Enrollment 01/29/21'] = df14['District Enrollment 01/29/21'].astype(float)
df14['Approx. District On-Campus Enrollment 01/29/21'] = df14['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df14['School Enrollment 01/29/21'] = df14['School Enrollment 01/29/21'].astype(float)
df14['School On-Campus Enrollment 01/29/21'] = df14['School On-Campus Enrollment 01/29/21'].astype(float)
df14['Cumulative Student Cases 04/25/21'] = df14['Cumulative Student Cases 04/25/21'].astype(float)
df14['Cumulative Staff Cases 04/25/21'] = df14['Cumulative Staff Cases 04/25/21'].astype(float)

# remove ' symbol from District ID
df14['District LEA #'] = df14['District LEA #'].astype(str)
df14['District LEA #'] = df14['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df14.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df14['% District On-Campus 01/29/21'] = df14['Approx. District On-Campus Enrollment 01/29/21'] / df14['District Enrollment 01/29/21']
df14['% School On-Campus 01/29/21'] = df14['School On-Campus Enrollment 01/29/21'] / df14['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df14['% Students with COVID 04/25/21'] = df14['Cumulative Student Cases 04/25/21'] / df14['School Enrollment 01/29/21']

In [74]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df14_d = df14[df14['Campus Name'].isna()]
df14_district = df14_d.drop(columns = ['Campus Name', 'Campus ID'])

df14_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 04/25/21,Cumulative Staff Cases 04/25/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 04/25/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,35.0,22.0,0.974122,0.974122,0.064695
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,38.0,43.0,0.959726,0.959726,0.032562
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,38.0,28.0,0.951058,0.951058,0.050265
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,60.0,46.0,0.933373,0.933373,0.017927
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,32.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,23.0,23.0,0.997222,0.997222,0.063889
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,22.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,107.0,31.0,0.928313,0.928313,0.038740

In [75]:
# remove district totals from the campus dataframe
df14.drop(df14_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df14['Campus ID'] = df14['Campus ID'].astype(str)
df14['Campus ID'] = df14['Campus ID'].map(lambda x: x.lstrip("'"))

df14.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 04/25/21,Cumulative Staff Cases 04/25/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 04/25/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,8.0,4.0,0.974122,0.970954,0.033195
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,7.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,12.0,5.0,0.959726,0.981132,0.045283
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,18.0,5.0,0.959726,0.954545,0.054545
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,6.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,9.0,13.0,0.951058,0.975610,0.027439
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [76]:
# column names
columns15 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 04/18/21', \
          'Cumulative Staff Cases 04/18/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df15 = pd.read_csv('../covid data/covid_041821.csv', header = 6, names = columns15, na_values=["NR", "."])
df15.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 04/18/21,Cumulative Staff Cases 04/18/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,NaN,NaN,NaN,NaN,NaN,8,4.0,2,8,2
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,NaN,NaN,NaN,NaN,NaN,11,4.0,2,7,6
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,NaN,NaN,NaN,NaN,NaN,16,14.0,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,NaN,NaN,NaN,NaN,NaN,35,22.0,7,31,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
# drop new case columns and source columns   
df15.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df15['Campus ID'].value_counts())
multiple_campus = df15[df15['Campus ID'] == 'Multiple\nCampus']
df15.drop(multiple_campus.index, inplace=True)
#print(df15['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df15.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df15.replace('*', 3, inplace = True)

# treat numeric features as float
df15['District Enrollment 01/29/21'] = df15['District Enrollment 01/29/21'].astype(float)
df15['Approx. District On-Campus Enrollment 01/29/21'] = df15['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df15['School Enrollment 01/29/21'] = df15['School Enrollment 01/29/21'].astype(float)
df15['School On-Campus Enrollment 01/29/21'] = df15['School On-Campus Enrollment 01/29/21'].astype(float)
df15['Cumulative Student Cases 04/18/21'] = df15['Cumulative Student Cases 04/18/21'].astype(float)
df15['Cumulative Staff Cases 04/18/21'] = df15['Cumulative Staff Cases 04/18/21'].astype(float)

# remove ' symbol from District ID
df15['District LEA #'] = df15['District LEA #'].astype(str)
df15['District LEA #'] = df15['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df15.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df15['% District On-Campus 01/29/21'] = df15['Approx. District On-Campus Enrollment 01/29/21'] / df15['District Enrollment 01/29/21']
df15['% School On-Campus 01/29/21'] = df15['School On-Campus Enrollment 01/29/21'] / df15['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df15['% Students with COVID 04/18/21'] = df15['Cumulative Student Cases 04/18/21'] / df15['School Enrollment 01/29/21']

In [78]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df15_d = df15[df15['Campus Name'].isna()]
df15_district = df15_d.drop(columns = ['Campus Name', 'Campus ID'])

df15_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 04/18/21,Cumulative Staff Cases 04/18/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 04/18/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,35.0,22.0,0.974122,0.974122,0.064695
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,38.0,43.0,0.959726,0.959726,0.032562
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,38.0,28.0,0.951058,0.951058,0.050265
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,60.0,46.0,0.933373,0.933373,0.017927
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,31.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,23.0,23.0,0.997222,0.997222,0.063889
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,21.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,106.0,31.0,0.928313,0.928313,0.038378

In [79]:
# remove district totals from the campus dataframe
df15.drop(df15_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df15['Campus ID'] = df15['Campus ID'].astype(str)
df15['Campus ID'] = df15['Campus ID'].map(lambda x: x.lstrip("'"))

df15.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 04/18/21,Cumulative Staff Cases 04/18/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 04/18/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,8.0,4.0,0.974122,0.970954,0.033195
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,7.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,12.0,5.0,0.959726,0.981132,0.045283
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,18.0,5.0,0.959726,0.954545,0.054545
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,6.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,9.0,13.0,0.951058,0.975610,0.027439
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [80]:
# column names
columns16 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 04/11/21', \
          'Cumulative Staff Cases 04/11/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df16 = pd.read_csv('../covid data/covid_041121.csv', header = 6, names = columns16, na_values=["NR", "."])
df16.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 04/11/21,Cumulative Staff Cases 04/11/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,NaN,NaN,NaN,NaN,NaN,8,4.0,2,8,2
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,NaN,NaN,NaN,NaN,NaN,11,4.0,2,7,6
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,NaN,NaN,NaN,NaN,NaN,16,14.0,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,NaN,NaN,NaN,NaN,NaN,35,22.0,7,31,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [81]:
# drop new case columns and source columns   
df16.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df16['Campus ID'].value_counts())
multiple_campus = df16[df16['Campus ID'] == 'Multiple\nCampus']
df16.drop(multiple_campus.index, inplace=True)
#print(df16['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df16.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df16.replace('*', 3, inplace = True)

# treat numeric features as float
df16['District Enrollment 01/29/21'] = df16['District Enrollment 01/29/21'].astype(float)
df16['Approx. District On-Campus Enrollment 01/29/21'] = df16['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df16['School Enrollment 01/29/21'] = df16['School Enrollment 01/29/21'].astype(float)
df16['School On-Campus Enrollment 01/29/21'] = df16['School On-Campus Enrollment 01/29/21'].astype(float)
df16['Cumulative Student Cases 04/11/21'] = df16['Cumulative Student Cases 04/11/21'].astype(float)
df16['Cumulative Staff Cases 04/11/21'] = df16['Cumulative Staff Cases 04/11/21'].astype(float)

# remove ' symbol from District ID
df16['District LEA #'] = df16['District LEA #'].astype(str)
df16['District LEA #'] = df16['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df16.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df16['% District On-Campus 01/29/21'] = df16['Approx. District On-Campus Enrollment 01/29/21'] / df16['District Enrollment 01/29/21']
df16['% School On-Campus 01/29/21'] = df16['School On-Campus Enrollment 01/29/21'] / df16['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df16['% Students with COVID 04/11/21'] = df16['Cumulative Student Cases 04/11/21'] / df16['School Enrollment 01/29/21']

In [82]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df16_d = df16[df16['Campus Name'].isna()]
df16_district = df16_d.drop(columns = ['Campus Name', 'Campus ID'])

df16_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 04/11/21,Cumulative Staff Cases 04/11/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 04/11/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,35.0,22.0,0.974122,0.974122,0.064695
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,36.0,41.0,0.959726,0.959726,0.030848
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,37.0,28.0,0.951058,0.951058,0.048942
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,56.0,45.0,0.933373,0.933373,0.016731
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,30.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,22.0,23.0,0.997222,0.997222,0.061111
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,21.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,103.0,31.0,0.928313,0.928313,0.037292

In [83]:
# remove district totals from the campus dataframe
df16.drop(df16_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df16['Campus ID'] = df16['Campus ID'].astype(str)
df16['Campus ID'] = df16['Campus ID'].map(lambda x: x.lstrip("'"))

df16.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 04/11/21,Cumulative Staff Cases 04/11/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 04/11/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,8.0,4.0,0.974122,0.970954,0.033195
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,6.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,12.0,5.0,0.959726,0.981132,0.045283
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,16.0,4.0,0.959726,0.954545,0.048485
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,6.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,8.0,13.0,0.951058,0.975610,0.024390
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [84]:
# column names
columns17 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 04/04/21', \
          'Cumulative Staff Cases 04/04/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df17 = pd.read_csv('../covid data/covid_040421.csv', header = 6, names = columns17, na_values=["NR", "."])
df17.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 04/04/21,Cumulative Staff Cases 04/04/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,NaN,NaN,NaN,NaN,NaN,8,4.0,2,8,2
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,NaN,NaN,NaN,NaN,NaN,11,4.0,2,7,6
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,NaN,NaN,NaN,NaN,NaN,16,14.0,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,NaN,NaN,NaN,NaN,NaN,35,22.0,7,31,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [85]:
# drop new case columns and source columns   
df17.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df17['Campus ID'].value_counts())
multiple_campus = df17[df17['Campus ID'] == 'Multiple\nCampus']
df17.drop(multiple_campus.index, inplace=True)
#print(df17['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df17.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df17.replace('*', 3, inplace = True)

# treat numeric features as float
df17['District Enrollment 01/29/21'] = df17['District Enrollment 01/29/21'].astype(float)
df17['Approx. District On-Campus Enrollment 01/29/21'] = df17['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df17['School Enrollment 01/29/21'] = df17['School Enrollment 01/29/21'].astype(float)
df17['School On-Campus Enrollment 01/29/21'] = df17['School On-Campus Enrollment 01/29/21'].astype(float)
df17['Cumulative Student Cases 04/04/21'] = df17['Cumulative Student Cases 04/04/21'].astype(float)
df17['Cumulative Staff Cases 04/04/21'] = df17['Cumulative Staff Cases 04/04/21'].astype(float)

# remove ' symbol from District ID
df17['District LEA #'] = df17['District LEA #'].astype(str)
df17['District LEA #'] = df17['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df17.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df17['% District On-Campus 01/29/21'] = df17['Approx. District On-Campus Enrollment 01/29/21'] / df17['District Enrollment 01/29/21']
df17['% School On-Campus 01/29/21'] = df17['School On-Campus Enrollment 01/29/21'] / df17['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df17['% Students with COVID 04/04/21'] = df17['Cumulative Student Cases 04/04/21'] / df17['School Enrollment 01/29/21']

In [86]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df17_d = df17[df17['Campus Name'].isna()]
df17_district = df17_d.drop(columns = ['Campus Name', 'Campus ID'])

df17_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 04/04/21,Cumulative Staff Cases 04/04/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 04/04/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,35.0,22.0,0.974122,0.974122,0.064695
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,36.0,41.0,0.959726,0.959726,0.030848
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,37.0,28.0,0.951058,0.951058,0.048942
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,3.0,45.0,0.933373,0.933373,0.000896
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,30.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,22.0,23.0,0.997222,0.997222,0.061111
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,21.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,102.0,31.0,0.928313,0.928313,0.036930

In [87]:
# remove district totals from the campus dataframe
df17.drop(df17_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df17['Campus ID'] = df17['Campus ID'].astype(str)
df17['Campus ID'] = df17['Campus ID'].map(lambda x: x.lstrip("'"))

df17.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 04/04/21,Cumulative Staff Cases 04/04/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 04/04/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,8.0,4.0,0.974122,0.970954,0.033195
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,6.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,12.0,5.0,0.959726,0.981132,0.045283
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,16.0,4.0,0.959726,0.954545,0.048485
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,6.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,8.0,13.0,0.951058,0.975610,0.024390
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [88]:
# column names
columns18 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 03/28/21', \
          'Cumulative Staff Cases 03/28/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df18 = pd.read_csv('../covid data/covid_032821.csv', header = 6, names = columns18, na_values=["NR", "."])
df18.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 03/28/21,Cumulative Staff Cases 03/28/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,NaN,NaN,NaN,NaN,NaN,8,4.0,2,8,2
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,NaN,NaN,NaN,NaN,NaN,11,4.0,2,7,6
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,NaN,NaN,NaN,NaN,NaN,16,14.0,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,NaN,NaN,NaN,NaN,NaN,35,22.0,7,31,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [89]:
# drop new case columns and source columns   
df18.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df18['Campus ID'].value_counts())
multiple_campus = df18[df18['Campus ID'] == 'Multiple\nCampus']
df18.drop(multiple_campus.index, inplace=True)
#print(df18['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df18.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df18.replace('*', 3, inplace = True)

# treat numeric features as float
df18['District Enrollment 01/29/21'] = df18['District Enrollment 01/29/21'].astype(float)
df18['Approx. District On-Campus Enrollment 01/29/21'] = df18['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df18['School Enrollment 01/29/21'] = df18['School Enrollment 01/29/21'].astype(float)
df18['School On-Campus Enrollment 01/29/21'] = df18['School On-Campus Enrollment 01/29/21'].astype(float)
df18['Cumulative Student Cases 03/28/21'] = df18['Cumulative Student Cases 03/28/21'].astype(float)
df18['Cumulative Staff Cases 03/28/21'] = df18['Cumulative Staff Cases 03/28/21'].astype(float)

# remove ' symbol from District ID
df18['District LEA #'] = df18['District LEA #'].astype(str)
df18['District LEA #'] = df18['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df18.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df18['% District On-Campus 01/29/21'] = df18['Approx. District On-Campus Enrollment 01/29/21'] / df18['District Enrollment 01/29/21']
df18['% School On-Campus 01/29/21'] = df18['School On-Campus Enrollment 01/29/21'] / df18['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df18['% Students with COVID 03/28/21'] = df18['Cumulative Student Cases 03/28/21'] / df18['School Enrollment 01/29/21']

In [90]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df18_d = df18[df18['Campus Name'].isna()]
df18_district = df18_d.drop(columns = ['Campus Name', 'Campus ID'])

df18_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 03/28/21,Cumulative Staff Cases 03/28/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 03/28/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,35.0,22.0,0.974122,0.974122,0.064695
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,36.0,41.0,0.959726,0.959726,0.030848
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,37.0,28.0,0.951058,0.951058,0.048942
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,3.0,45.0,0.933373,0.933373,0.000896
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,30.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,22.0,23.0,0.997222,0.997222,0.061111
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,76.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,21.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,96.0,31.0,0.928313,0.928313,0.034757

In [91]:
# remove district totals from the campus dataframe
df18.drop(df18_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df18['Campus ID'] = df18['Campus ID'].astype(str)
df18['Campus ID'] = df18['Campus ID'].map(lambda x: x.lstrip("'"))

df18.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 03/28/21,Cumulative Staff Cases 03/28/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 03/28/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,8.0,4.0,0.974122,0.970954,0.033195
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,6.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,12.0,5.0,0.959726,0.981132,0.045283
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,16.0,4.0,0.959726,0.954545,0.048485
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,6.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,8.0,13.0,0.951058,0.975610,0.024390
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [92]:
# column names
columns19 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 03/21/21', \
          'Cumulative Staff Cases 03/21/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df19 = pd.read_csv('../covid data/covid_032121.csv', header = 6, names = columns19, na_values=["NR", "."])
df19.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 03/21/21,Cumulative Staff Cases 03/21/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,NaN,NaN,NaN,NaN,NaN,8,4.0,2,8,2
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,NaN,NaN,NaN,NaN,NaN,11,4.0,2,7,6
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,NaN,NaN,NaN,NaN,NaN,16,14.0,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,NaN,NaN,NaN,NaN,NaN,35,22.0,7,31,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [93]:
# drop new case columns and source columns   
df19.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df19['Campus ID'].value_counts())
multiple_campus = df19[df19['Campus ID'] == 'Multiple\nCampus']
df19.drop(multiple_campus.index, inplace=True)
#print(df19['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df19.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df19.replace('*', 3, inplace = True)

# treat numeric features as float
df19['District Enrollment 01/29/21'] = df19['District Enrollment 01/29/21'].astype(float)
df19['Approx. District On-Campus Enrollment 01/29/21'] = df19['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df19['School Enrollment 01/29/21'] = df19['School Enrollment 01/29/21'].astype(float)
df19['School On-Campus Enrollment 01/29/21'] = df19['School On-Campus Enrollment 01/29/21'].astype(float)
df19['Cumulative Student Cases 03/21/21'] = df19['Cumulative Student Cases 03/21/21'].astype(float)
df19['Cumulative Staff Cases 03/21/21'] = df19['Cumulative Staff Cases 03/21/21'].astype(float)

# remove ' symbol from District ID
df19['District LEA #'] = df19['District LEA #'].astype(str)
df19['District LEA #'] = df19['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df19.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df19['% District On-Campus 01/29/21'] = df19['Approx. District On-Campus Enrollment 01/29/21'] / df19['District Enrollment 01/29/21']
df19['% School On-Campus 01/29/21'] = df19['School On-Campus Enrollment 01/29/21'] / df19['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df19['% Students with COVID 03/21/21'] = df19['Cumulative Student Cases 03/21/21'] / df19['School Enrollment 01/29/21']

In [94]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df19_d = df19[df19['Campus Name'].isna()]
df19_district = df19_d.drop(columns = ['Campus Name', 'Campus ID'])

df19_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 03/21/21,Cumulative Staff Cases 03/21/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 03/21/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,35.0,22.0,0.974122,0.974122,0.064695
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,36.0,41.0,0.959726,0.959726,0.030848
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,37.0,28.0,0.951058,0.951058,0.048942
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,3.0,45.0,0.933373,0.933373,0.000896
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,30.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,22.0,23.0,0.997222,0.997222,0.061111
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,75.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,20.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,96.0,31.0,0.928313,0.928313,0.034757

In [95]:
# remove district totals from the campus dataframe
df19.drop(df19_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df19['Campus ID'] = df19['Campus ID'].astype(str)
df19['Campus ID'] = df19['Campus ID'].map(lambda x: x.lstrip("'"))

df19.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 03/21/21,Cumulative Staff Cases 03/21/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 03/21/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,8.0,4.0,0.974122,0.970954,0.033195
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,6.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,12.0,5.0,0.959726,0.981132,0.045283
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,16.0,4.0,0.959726,0.954545,0.048485
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,6.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,8.0,13.0,0.951058,0.975610,0.024390
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [96]:
# column names
columns20 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 03/14/21', \
          'Cumulative Staff Cases 03/14/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df20 = pd.read_csv('../covid data/covid_031421.csv', header = 6, names = columns20, na_values=["NR", "."])
df20.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 03/14/21,Cumulative Staff Cases 03/14/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,NaN,NaN,NaN,NaN,NaN,8,4.0,2,8,2
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,NaN,NaN,NaN,NaN,NaN,11,4.0,2,7,6
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,NaN,NaN,NaN,NaN,NaN,16,14.0,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,NaN,NaN,NaN,NaN,NaN,35,22.0,7,31,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [97]:
# drop new case columns and source columns   
df20.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df20['Campus ID'].value_counts())
multiple_campus = df20[df20['Campus ID'] == 'Multiple\nCampus']
df20.drop(multiple_campus.index, inplace=True)
#print(df20['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df20.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df20.replace('*', 3, inplace = True)

# treat numeric features as float
df20['District Enrollment 01/29/21'] = df20['District Enrollment 01/29/21'].astype(float)
df20['Approx. District On-Campus Enrollment 01/29/21'] = df20['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df20['School Enrollment 01/29/21'] = df20['School Enrollment 01/29/21'].astype(float)
df20['School On-Campus Enrollment 01/29/21'] = df20['School On-Campus Enrollment 01/29/21'].astype(float)
df20['Cumulative Student Cases 03/14/21'] = df20['Cumulative Student Cases 03/14/21'].astype(float)
df20['Cumulative Staff Cases 03/14/21'] = df20['Cumulative Staff Cases 03/14/21'].astype(float)

# remove ' symbol from District ID
df20['District LEA #'] = df20['District LEA #'].astype(str)
df20['District LEA #'] = df20['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df20.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df20['% District On-Campus 01/29/21'] = df20['Approx. District On-Campus Enrollment 01/29/21'] / df20['District Enrollment 01/29/21']
df20['% School On-Campus 01/29/21'] = df20['School On-Campus Enrollment 01/29/21'] / df20['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df20['% Students with COVID 03/14/21'] = df20['Cumulative Student Cases 03/14/21'] / df20['School Enrollment 01/29/21']

In [98]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df20_d = df20[df20['Campus Name'].isna()]
df20_district = df20_d.drop(columns = ['Campus Name', 'Campus ID'])

df20_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 03/14/21,Cumulative Staff Cases 03/14/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 03/14/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,35.0,22.0,0.974122,0.974122,0.064695
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,35.0,41.0,0.959726,0.959726,0.029991
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,36.0,28.0,0.951058,0.951058,0.047619
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,3.0,45.0,0.933373,0.933373,0.000896
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,30.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,22.0,23.0,0.997222,0.997222,0.061111
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,75.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,20.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,96.0,31.0,0.928313,0.928313,0.034757

In [99]:
# remove district totals from the campus dataframe
df20.drop(df20_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df20['Campus ID'] = df20['Campus ID'].astype(str)
df20['Campus ID'] = df20['Campus ID'].map(lambda x: x.lstrip("'"))

df20.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 03/14/21,Cumulative Staff Cases 03/14/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 03/14/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,8.0,4.0,0.974122,0.970954,0.033195
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,6.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,11.0,5.0,0.959726,0.981132,0.041509
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,16.0,4.0,0.959726,0.954545,0.048485
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,6.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,7.0,13.0,0.951058,0.975610,0.021341
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [100]:
# column names
columns21 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 03/07/21', \
          'Cumulative Staff Cases 03/07/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df21 = pd.read_csv('../covid data/covid_030721.csv', header = 6, names = columns21, na_values=["NR", "."])
df21.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 03/07/21,Cumulative Staff Cases 03/07/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,NaN,NaN,NaN,NaN,NaN,8,4.0,2,8,2
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,NaN,NaN,NaN,NaN,NaN,11,4.0,2,7,6
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,NaN,NaN,NaN,NaN,NaN,16,14.0,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,NaN,NaN,NaN,NaN,NaN,35,22.0,7,31,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
# drop new case columns and source columns   
df21.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df21['Campus ID'].value_counts())
multiple_campus = df21[df21['Campus ID'] == 'Multiple\nCampus']
df21.drop(multiple_campus.index, inplace=True)
#print(df21['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df21.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df21.replace('*', 3, inplace = True)

# treat numeric features as float
df21['District Enrollment 01/29/21'] = df21['District Enrollment 01/29/21'].astype(float)
df21['Approx. District On-Campus Enrollment 01/29/21'] = df21['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df21['School Enrollment 01/29/21'] = df21['School Enrollment 01/29/21'].astype(float)
df21['School On-Campus Enrollment 01/29/21'] = df21['School On-Campus Enrollment 01/29/21'].astype(float)
df21['Cumulative Student Cases 03/07/21'] = df21['Cumulative Student Cases 03/07/21'].astype(float)
df21['Cumulative Staff Cases 03/07/21'] = df21['Cumulative Staff Cases 03/07/21'].astype(float)

# remove ' symbol from District ID
df21['District LEA #'] = df21['District LEA #'].astype(str)
df21['District LEA #'] = df21['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df21.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df21['% District On-Campus 01/29/21'] = df21['Approx. District On-Campus Enrollment 01/29/21'] / df21['District Enrollment 01/29/21']
df21['% School On-Campus 01/29/21'] = df21['School On-Campus Enrollment 01/29/21'] / df21['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df21['% Students with COVID 03/07/21'] = df21['Cumulative Student Cases 03/07/21'] / df21['School Enrollment 01/29/21']

In [102]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df21_d = df21[df21['Campus Name'].isna()]
df21_district = df21_d.drop(columns = ['Campus Name', 'Campus ID'])

df21_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 03/07/21,Cumulative Staff Cases 03/07/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 03/07/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,35.0,22.0,0.974122,0.974122,0.064695
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,35.0,41.0,0.959726,0.959726,0.029991
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,36.0,28.0,0.951058,0.951058,0.047619
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,3.0,45.0,0.933373,0.933373,0.000896
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,30.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,21.0,23.0,0.997222,0.997222,0.058333
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,75.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,20.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,96.0,31.0,0.928313,0.928313,0.034757

In [103]:
# remove district totals from the campus dataframe
df21.drop(df21_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df21['Campus ID'] = df21['Campus ID'].astype(str)
df21['Campus ID'] = df21['Campus ID'].map(lambda x: x.lstrip("'"))

df21.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 03/07/21,Cumulative Staff Cases 03/07/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 03/07/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,8.0,4.0,0.974122,0.970954,0.033195
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,6.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,11.0,5.0,0.959726,0.981132,0.041509
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,16.0,4.0,0.959726,0.954545,0.048485
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,6.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,7.0,13.0,0.951058,0.975610,0.021341
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [104]:
# column names
columns22 = ['District Name', \
          'District LEA #', \
          'District Enrollment 01/29/21', \
          'Approx. District On-Campus Enrollment 01/29/21', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 01/29/21', \
          'School On-Campus Enrollment 01/29/21', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 02/28/21', \
          'Cumulative Staff Cases 02/28/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df22 = pd.read_csv('../covid data/covid_022821.csv', header = 6, names = columns22, na_values=["NR", "."])
df22.head()

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 02/28/21,Cumulative Staff Cases 02/28/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,541.0,527.0,CAYUGA EL,'001902103,241.0,234.0,NaN,NaN,NaN,NaN,NaN,8,4.0,2,8,2
1,CAYUGA ISD,'001902,541.0,527.0,CAYUGA MIDDLE,'001902041,137.0,133.0,NaN,NaN,NaN,NaN,NaN,11,4.0,2,7,6
2,CAYUGA ISD,'001902,541.0,527.0,CAYUGA H S,'001902001,163.0,160.0,NaN,NaN,NaN,NaN,NaN,16,14.0,3,16,11
3,CAYUGA ISD TOTAL,'001902,541.0,527.0,NaN,NaN,541.0,527.0,NaN,NaN,NaN,NaN,NaN,35,22.0,7,31,19
4,ELKHART ISD,'001903,1167.0,1120.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [105]:
# drop new case columns and source columns   
df22.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df22['Campus ID'].value_counts())
multiple_campus = df22[df22['Campus ID'] == 'Multiple\nCampus']
df22.drop(multiple_campus.index, inplace=True)
#print(df22['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df22.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df22.replace('*', 3, inplace = True)

# treat numeric features as float
df22['District Enrollment 01/29/21'] = df22['District Enrollment 01/29/21'].astype(float)
df22['Approx. District On-Campus Enrollment 01/29/21'] = df22['Approx. District On-Campus Enrollment 01/29/21'].astype(float)
df22['School Enrollment 01/29/21'] = df22['School Enrollment 01/29/21'].astype(float)
df22['School On-Campus Enrollment 01/29/21'] = df22['School On-Campus Enrollment 01/29/21'].astype(float)
df22['Cumulative Student Cases 02/28/21'] = df22['Cumulative Student Cases 02/28/21'].astype(float)
df22['Cumulative Staff Cases 02/28/21'] = df22['Cumulative Staff Cases 02/28/21'].astype(float)

# remove ' symbol from District ID
df22['District LEA #'] = df22['District LEA #'].astype(str)
df22['District LEA #'] = df22['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df22.dropna(subset = ['School Enrollment 01/29/21'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df22['% District On-Campus 01/29/21'] = df22['Approx. District On-Campus Enrollment 01/29/21'] / df22['District Enrollment 01/29/21']
df22['% School On-Campus 01/29/21'] = df22['School On-Campus Enrollment 01/29/21'] / df22['School Enrollment 01/29/21']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df22['% Students with COVID 02/28/21'] = df22['Cumulative Student Cases 02/28/21'] / df22['School Enrollment 01/29/21']

In [106]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df22_d = df22[df22['Campus Name'].isna()]
df22_district = df22_d.drop(columns = ['Campus Name', 'Campus ID'])

df22_district.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 02/28/21,Cumulative Staff Cases 02/28/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 02/28/21
3,CAYUGA ISD TOTAL,001902,541.0,527.0,541.0,527.0,35.0,22.0,0.974122,0.974122,0.064695
10,ELKHART ISD TOTAL,001903,1167.0,1120.0,1167.0,1120.0,35.0,41.0,0.959726,0.959726,0.029991
15,FRANKSTON ISD TOTAL,001904,756.0,719.0,756.0,719.0,36.0,28.0,0.951058,0.951058,0.047619
19,NECHES ISD TOTAL,001906,338.0,325.0,338.0,325.0,3.0,8.0,0.961538,0.961538,0.008876
26,PALESTINE ISD TOTAL,001907,3347.0,3124.0,3347.0,3124.0,3.0,45.0,0.933373,0.933373,0.000896
31,WESTWOOD ISD TOTAL,001908,1333.0,1237.0,1333.0,1237.0,3.0,30.0,0.927982,0.927982,0.002251
34,SLOCUM ISD TOTAL,001909,360.0,359.0,360.0,359.0,21.0,23.0,0.997222,0.997222,0.058333
42,ANDREWS ISD TOTAL,002901,3992.0,3992.0,3992.0,3992.0,167.0,75.0,1.000000,1.000000,0.041834
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,920.0,603.0,920.0,603.0,3.0,20.0,0.655435,0.655435,0.003261
53,HUDSON ISD TOTAL,003902,2762.0,2564.0,2762.0,2564.0,96.0,31.0,0.928313,0.928313,0.034757

In [107]:
# remove district totals from the campus dataframe
df22.drop(df22_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df22['Campus ID'] = df22['Campus ID'].astype(str)
df22['Campus ID'] = df22['Campus ID'].map(lambda x: x.lstrip("'"))

df22.head(10)

,District Name,District LEA #,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Campus Name,Campus ID,School Enrollment 01/29/21,School On-Campus Enrollment 01/29/21,Cumulative Student Cases 02/28/21,Cumulative Staff Cases 02/28/21,% District On-Campus 01/29/21,% School On-Campus 01/29/21,% Students with COVID 02/28/21
0,CAYUGA ISD,001902,541.0,527.0,CAYUGA EL,001902103,241.0,234.0,8.0,4.0,0.974122,0.970954,0.033195
1,CAYUGA ISD,001902,541.0,527.0,CAYUGA MIDDLE,001902041,137.0,133.0,11.0,4.0,0.974122,0.970803,0.080292
2,CAYUGA ISD,001902,541.0,527.0,CAYUGA H S,001902001,163.0,160.0,16.0,14.0,0.974122,0.981595,0.098160
5,ELKHART ISD,001903,1167.0,1120.0,ELKHART INT,001903102,259.0,255.0,3.0,6.0,0.959726,0.984556,0.011583
7,ELKHART ISD,001903,1167.0,1120.0,ELKHART EL,001903101,313.0,290.0,5.0,16.0,0.959726,0.926518,0.015974
8,ELKHART ISD,001903,1167.0,1120.0,ELKHART MIDDLE,001903041,265.0,260.0,11.0,5.0,0.959726,0.981132,0.041509
9,ELKHART ISD,001903,1167.0,1120.0,ELKHART H S,001903001,330.0,315.0,16.0,4.0,0.959726,0.954545,0.048485
12,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON MIDDLE,001904041,191.0,181.0,6.0,6.0,0.951058,0.947644,0.031414
13,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON EL,001904102,328.0,320.0,7.0,13.0,0.951058,0.975610,0.021341
14,FRANKSTON ISD,001904,756.0,719.0,FRANKSTON H S,001904001,237.0,218.0,23.0,6.0,0.951058,0.919831,0.097046

In [108]:
# column names
columns23 = ['District Name', \
          'District LEA #', \
          'District Enrollment 10/30/20', \
          'Approx. District On-Campus Enrollment 10/30/20', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 10/30/20', \
          'School On-Campus Enrollment 10/30/20', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 02/21/21', \
          'Cumulative Staff Cases 02/21/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df23 = pd.read_csv('../covid data/covid_022121.csv', header = 6, names = columns23, na_values=["NR", "."])
df23.head()

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 02/21/21,Cumulative Staff Cases 02/21/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,535.0,489.0,CAYUGA EL,'001902103,236.0,208.0,NaN,NaN,NaN,NaN,NaN,8,4.0,2,8,2
1,CAYUGA ISD,'001902,535.0,489.0,CAYUGA MIDDLE,'001902041,133.0,126.0,NaN,NaN,NaN,NaN,NaN,11,4.0,2,7,6
2,CAYUGA ISD,'001902,535.0,489.0,CAYUGA H S,'001902001,166.0,155.0,NaN,NaN,NaN,NaN,NaN,16,14.0,3,16,11
3,CAYUGA ISD TOTAL,'001902,535.0,489.0,NaN,NaN,535.0,489.0,NaN,NaN,NaN,NaN,NaN,35,22.0,7,31,19
4,ELKHART ISD,'001903,1200.0,1092.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [109]:
# drop new case columns and source columns   
df23.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df23['Campus ID'].value_counts())
multiple_campus = df23[df23['Campus ID'] == 'Multiple\nCampus']
df23.drop(multiple_campus.index, inplace=True)
#print(df23['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df23.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df23.replace('*', 3, inplace = True)

# treat numeric features as float
df23['District Enrollment 10/30/20'] = df23['District Enrollment 10/30/20'].astype(float)
df23['Approx. District On-Campus Enrollment 10/30/20'] = df23['Approx. District On-Campus Enrollment 10/30/20'].astype(float)
df23['School Enrollment 10/30/20'] = df23['School Enrollment 10/30/20'].astype(float)
df23['School On-Campus Enrollment 10/30/20'] = df23['School On-Campus Enrollment 10/30/20'].astype(float)
df23['Cumulative Student Cases 02/21/21'] = df23['Cumulative Student Cases 02/21/21'].astype(float)
df23['Cumulative Staff Cases 02/21/21'] = df23['Cumulative Staff Cases 02/21/21'].astype(float)

# remove ' symbol from District ID
df23['District LEA #'] = df23['District LEA #'].astype(str)
df23['District LEA #'] = df23['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df23.dropna(subset = ['School Enrollment 10/30/20'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df23['% District On-Campus 10/30/20'] = df23['Approx. District On-Campus Enrollment 10/30/20'] / df23['District Enrollment 10/30/20']
df23['% School On-Campus 10/30/20'] = df23['School On-Campus Enrollment 10/30/20'] / df23['School Enrollment 10/30/20']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df23['% Students with COVID 02/21/21'] = df23['Cumulative Student Cases 02/21/21'] / df23['School Enrollment 10/30/20']

In [110]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df23_d = df23[df23['Campus Name'].isna()]
df23_district = df23_d.drop(columns = ['Campus Name', 'Campus ID'])

df23_district.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 02/21/21,Cumulative Staff Cases 02/21/21,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 02/21/21
3,CAYUGA ISD TOTAL,001902,535.0,489.0,535.0,489.0,35.0,22.0,0.914019,0.914019,0.065421
10,ELKHART ISD TOTAL,001903,1200.0,1092.0,1200.0,1092.0,35.0,41.0,0.910000,0.910000,0.029167
15,FRANKSTON ISD TOTAL,001904,836.0,768.0,836.0,768.0,36.0,28.0,0.918660,0.918660,0.043062
19,NECHES ISD TOTAL,001906,339.0,339.0,339.0,339.0,3.0,8.0,1.000000,1.000000,0.008850
26,PALESTINE ISD TOTAL,001907,3399.0,2908.0,3399.0,2908.0,3.0,45.0,0.855546,0.855546,0.000883
31,WESTWOOD ISD TOTAL,001908,1352.0,1185.0,1352.0,1185.0,3.0,30.0,0.876479,0.876479,0.002219
34,SLOCUM ISD TOTAL,001909,364.0,335.0,364.0,335.0,20.0,22.0,0.920330,0.920330,0.054945
42,ANDREWS ISD TOTAL,002901,4149.0,3654.0,4149.0,3654.0,167.0,75.0,0.880694,0.880694,0.040251
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,996.0,757.0,996.0,757.0,3.0,18.0,0.760040,0.760040,0.003012
53,HUDSON ISD TOTAL,003902,2783.0,2526.0,2783.0,2526.0,93.0,31.0,0.907654,0.907654,0.033417

In [111]:
# remove district totals from the campus dataframe
df23.drop(df23_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df23['Campus ID'] = df23['Campus ID'].astype(str)
df23['Campus ID'] = df23['Campus ID'].map(lambda x: x.lstrip("'"))

df23.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 02/21/21,Cumulative Staff Cases 02/21/21,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 02/21/21
0,CAYUGA ISD,001902,535.0,489.0,CAYUGA EL,001902103,236.0,208.0,8.0,4.0,0.914019,0.881356,0.033898
1,CAYUGA ISD,001902,535.0,489.0,CAYUGA MIDDLE,001902041,133.0,126.0,11.0,4.0,0.914019,0.947368,0.082707
2,CAYUGA ISD,001902,535.0,489.0,CAYUGA H S,001902001,166.0,155.0,16.0,14.0,0.914019,0.933735,0.096386
5,ELKHART ISD,001903,1200.0,1092.0,ELKHART INT,001903102,266.0,231.0,3.0,6.0,0.910000,0.868421,0.011278
7,ELKHART ISD,001903,1200.0,1092.0,ELKHART EL,001903101,322.0,291.0,5.0,16.0,0.910000,0.903727,0.015528
8,ELKHART ISD,001903,1200.0,1092.0,ELKHART MIDDLE,001903041,268.0,260.0,11.0,5.0,0.910000,0.970149,0.041045
9,ELKHART ISD,001903,1200.0,1092.0,ELKHART H S,001903001,344.0,310.0,16.0,4.0,0.910000,0.901163,0.046512
12,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON MIDDLE,001904041,200.0,189.0,6.0,6.0,0.918660,0.945000,0.030000
13,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON EL,001904102,343.0,310.0,7.0,13.0,0.918660,0.903790,0.020408
14,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON H S,001904001,293.0,269.0,23.0,6.0,0.918660,0.918089,0.078498

In [112]:
# column names
columns24 = ['District Name', \
          'District LEA #', \
          'District Enrollment 10/30/20', \
          'Approx. District On-Campus Enrollment 10/30/20', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 10/30/20', \
          'School On-Campus Enrollment 10/30/20', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 02/14/21', \
          'Cumulative Staff Cases 02/14/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df24 = pd.read_csv('../covid data/covid_021421.csv', header = 6, names = columns24, na_values=["NR", "."])
df24.head()

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 02/14/21,Cumulative Staff Cases 02/14/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,535.0,489.0,CAYUGA EL,'001902103,236.0,208.0,NaN,NaN,NaN,NaN,NaN,8,4.0,2,8,2
1,CAYUGA ISD,'001902,535.0,489.0,CAYUGA MIDDLE,'001902041,133.0,126.0,NaN,NaN,NaN,NaN,NaN,11,4.0,2,7,6
2,CAYUGA ISD,'001902,535.0,489.0,CAYUGA H S,'001902001,166.0,155.0,NaN,NaN,NaN,NaN,NaN,16,14.0,3,16,11
3,CAYUGA ISD TOTAL,'001902,535.0,489.0,NaN,NaN,535.0,489.0,NaN,NaN,NaN,NaN,NaN,35,22.0,7,31,19
4,ELKHART ISD,'001903,1200.0,1092.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [113]:
# drop new case columns and source columns   
df24.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df24['Campus ID'].value_counts())
multiple_campus = df24[df24['Campus ID'] == 'Multiple\nCampus']
df24.drop(multiple_campus.index, inplace=True)
#print(df24['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df24.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df24.replace('*', 3, inplace = True)

# treat numeric features as float
df24['District Enrollment 10/30/20'] = df24['District Enrollment 10/30/20'].astype(float)
df24['Approx. District On-Campus Enrollment 10/30/20'] = df24['Approx. District On-Campus Enrollment 10/30/20'].astype(float)
df24['School Enrollment 10/30/20'] = df24['School Enrollment 10/30/20'].astype(float)
df24['School On-Campus Enrollment 10/30/20'] = df24['School On-Campus Enrollment 10/30/20'].astype(float)
df24['Cumulative Student Cases 02/14/21'] = df24['Cumulative Student Cases 02/14/21'].astype(float)
df24['Cumulative Staff Cases 02/14/21'] = df24['Cumulative Staff Cases 02/14/21'].astype(float)

# remove ' symbol from District ID
df24['District LEA #'] = df24['District LEA #'].astype(str)
df24['District LEA #'] = df24['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df24.dropna(subset = ['School Enrollment 10/30/20'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df24['% District On-Campus 10/30/20'] = df24['Approx. District On-Campus Enrollment 10/30/20'] / df24['District Enrollment 10/30/20']
df24['% School On-Campus 10/30/20'] = df24['School On-Campus Enrollment 10/30/20'] / df24['School Enrollment 10/30/20']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df24['% Students with COVID 02/14/21'] = df24['Cumulative Student Cases 02/14/21'] / df24['School Enrollment 10/30/20']

In [114]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df24_d = df24[df24['Campus Name'].isna()]
df24_district = df24_d.drop(columns = ['Campus Name', 'Campus ID'])

df24_district.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 02/14/21,Cumulative Staff Cases 02/14/21,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 02/14/21
3,CAYUGA ISD TOTAL,001902,535.0,489.0,535.0,489.0,35.0,22.0,0.914019,0.914019,0.065421
10,ELKHART ISD TOTAL,001903,1200.0,1092.0,1200.0,1092.0,35.0,40.0,0.910000,0.910000,0.029167
15,FRANKSTON ISD TOTAL,001904,836.0,768.0,836.0,768.0,36.0,28.0,0.918660,0.918660,0.043062
19,NECHES ISD TOTAL,001906,339.0,339.0,339.0,339.0,3.0,8.0,1.000000,1.000000,0.008850
26,PALESTINE ISD TOTAL,001907,3399.0,2908.0,3399.0,2908.0,3.0,45.0,0.855546,0.855546,0.000883
31,WESTWOOD ISD TOTAL,001908,1352.0,1185.0,1352.0,1185.0,3.0,30.0,0.876479,0.876479,0.002219
34,SLOCUM ISD TOTAL,001909,364.0,335.0,364.0,335.0,20.0,22.0,0.920330,0.920330,0.054945
42,ANDREWS ISD TOTAL,002901,4149.0,3654.0,4149.0,3654.0,167.0,75.0,0.880694,0.880694,0.040251
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,996.0,757.0,996.0,757.0,3.0,16.0,0.760040,0.760040,0.003012
53,HUDSON ISD TOTAL,003902,2783.0,2526.0,2783.0,2526.0,93.0,31.0,0.907654,0.907654,0.033417

In [115]:
# remove district totals from the campus dataframe
df24.drop(df24_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df24['Campus ID'] = df24['Campus ID'].astype(str)
df24['Campus ID'] = df24['Campus ID'].map(lambda x: x.lstrip("'"))

df24.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 02/14/21,Cumulative Staff Cases 02/14/21,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 02/14/21
0,CAYUGA ISD,001902,535.0,489.0,CAYUGA EL,001902103,236.0,208.0,8.0,4.0,0.914019,0.881356,0.033898
1,CAYUGA ISD,001902,535.0,489.0,CAYUGA MIDDLE,001902041,133.0,126.0,11.0,4.0,0.914019,0.947368,0.082707
2,CAYUGA ISD,001902,535.0,489.0,CAYUGA H S,001902001,166.0,155.0,16.0,14.0,0.914019,0.933735,0.096386
5,ELKHART ISD,001903,1200.0,1092.0,ELKHART INT,001903102,266.0,231.0,3.0,5.0,0.910000,0.868421,0.011278
7,ELKHART ISD,001903,1200.0,1092.0,ELKHART EL,001903101,322.0,291.0,5.0,16.0,0.910000,0.903727,0.015528
8,ELKHART ISD,001903,1200.0,1092.0,ELKHART MIDDLE,001903041,268.0,260.0,11.0,5.0,0.910000,0.970149,0.041045
9,ELKHART ISD,001903,1200.0,1092.0,ELKHART H S,001903001,344.0,310.0,16.0,4.0,0.910000,0.901163,0.046512
12,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON MIDDLE,001904041,200.0,189.0,6.0,6.0,0.918660,0.945000,0.030000
13,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON EL,001904102,343.0,310.0,7.0,13.0,0.918660,0.903790,0.020408
14,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON H S,001904001,293.0,269.0,23.0,6.0,0.918660,0.918089,0.078498

In [116]:
# column names
columns25 = ['District Name', \
          'District LEA #', \
          'District Enrollment 10/30/20', \
          'Approx. District On-Campus Enrollment 10/30/20', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 10/30/20', \
          'School On-Campus Enrollment 10/30/20', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 02/07/21', \
          'Cumulative Staff Cases 02/07/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df25 = pd.read_csv('../covid data/covid_020721.csv', header = 6, names = columns25, na_values=["NR", "."])
df25.head()

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 02/07/21,Cumulative Staff Cases 02/07/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,535.0,489.0,CAYUGA EL,'001902103,236.0,208.0,NaN,NaN,NaN,NaN,NaN,8,4.0,2,8,2
1,CAYUGA ISD,'001902,535.0,489.0,CAYUGA MIDDLE,'001902041,133.0,126.0,NaN,NaN,NaN,NaN,NaN,11,4.0,2,7,6
2,CAYUGA ISD,'001902,535.0,489.0,CAYUGA H S,'001902001,166.0,155.0,NaN,NaN,NaN,NaN,NaN,16,14.0,3,16,11
3,CAYUGA ISD TOTAL,'001902,535.0,489.0,NaN,NaN,535.0,489.0,NaN,NaN,NaN,NaN,NaN,35,22.0,7,31,19
4,ELKHART ISD,'001903,1200.0,1092.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [117]:
# drop new case columns and source columns   
df25.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df25['Campus ID'].value_counts())
multiple_campus = df25[df25['Campus ID'] == 'Multiple\nCampus']
df25.drop(multiple_campus.index, inplace=True)
#print(df25['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df25.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df25.replace('*', 3, inplace = True)

# treat numeric features as float
df25['District Enrollment 10/30/20'] = df25['District Enrollment 10/30/20'].astype(float)
df25['Approx. District On-Campus Enrollment 10/30/20'] = df25['Approx. District On-Campus Enrollment 10/30/20'].astype(float)
df25['School Enrollment 10/30/20'] = df25['School Enrollment 10/30/20'].astype(float)
df25['School On-Campus Enrollment 10/30/20'] = df25['School On-Campus Enrollment 10/30/20'].astype(float)
df25['Cumulative Student Cases 02/07/21'] = df25['Cumulative Student Cases 02/07/21'].astype(float)
df25['Cumulative Staff Cases 02/07/21'] = df25['Cumulative Staff Cases 02/07/21'].astype(float)

# remove ' symbol from District ID
df25['District LEA #'] = df25['District LEA #'].astype(str)
df25['District LEA #'] = df25['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df25.dropna(subset = ['School Enrollment 10/30/20'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df25['% District On-Campus 10/30/20'] = df25['Approx. District On-Campus Enrollment 10/30/20'] / df25['District Enrollment 10/30/20']
df25['% School On-Campus 10/30/20'] = df25['School On-Campus Enrollment 10/30/20'] / df25['School Enrollment 10/30/20']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df25['% Students with COVID 02/07/21'] = df25['Cumulative Student Cases 02/07/21'] / df25['School Enrollment 10/30/20']

In [118]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df25_d = df25[df25['Campus Name'].isna()]
df25_district = df25_d.drop(columns = ['Campus Name', 'Campus ID'])

df25_district.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 02/07/21,Cumulative Staff Cases 02/07/21,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 02/07/21
3,CAYUGA ISD TOTAL,001902,535.0,489.0,535.0,489.0,35.0,22.0,0.914019,0.914019,0.065421
10,ELKHART ISD TOTAL,001903,1200.0,1092.0,1200.0,1092.0,35.0,40.0,0.910000,0.910000,0.029167
15,FRANKSTON ISD TOTAL,001904,836.0,768.0,836.0,768.0,36.0,28.0,0.918660,0.918660,0.043062
19,NECHES ISD TOTAL,001906,339.0,339.0,339.0,339.0,3.0,8.0,1.000000,1.000000,0.008850
26,PALESTINE ISD TOTAL,001907,3399.0,2908.0,3399.0,2908.0,3.0,45.0,0.855546,0.855546,0.000883
31,WESTWOOD ISD TOTAL,001908,1352.0,1185.0,1352.0,1185.0,3.0,30.0,0.876479,0.876479,0.002219
34,SLOCUM ISD TOTAL,001909,364.0,335.0,364.0,335.0,20.0,22.0,0.920330,0.920330,0.054945
42,ANDREWS ISD TOTAL,002901,4149.0,3654.0,4149.0,3654.0,163.0,73.0,0.880694,0.880694,0.039287
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,996.0,757.0,996.0,757.0,3.0,16.0,0.760040,0.760040,0.003012
53,HUDSON ISD TOTAL,003902,2783.0,2526.0,2783.0,2526.0,90.0,31.0,0.907654,0.907654,0.032339

In [119]:
# remove district totals from the campus dataframe
df25.drop(df25_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df25['Campus ID'] = df25['Campus ID'].astype(str)
df25['Campus ID'] = df25['Campus ID'].map(lambda x: x.lstrip("'"))

df25.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 02/07/21,Cumulative Staff Cases 02/07/21,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 02/07/21
0,CAYUGA ISD,001902,535.0,489.0,CAYUGA EL,001902103,236.0,208.0,8.0,4.0,0.914019,0.881356,0.033898
1,CAYUGA ISD,001902,535.0,489.0,CAYUGA MIDDLE,001902041,133.0,126.0,11.0,4.0,0.914019,0.947368,0.082707
2,CAYUGA ISD,001902,535.0,489.0,CAYUGA H S,001902001,166.0,155.0,16.0,14.0,0.914019,0.933735,0.096386
5,ELKHART ISD,001903,1200.0,1092.0,ELKHART INT,001903102,266.0,231.0,3.0,5.0,0.910000,0.868421,0.011278
7,ELKHART ISD,001903,1200.0,1092.0,ELKHART EL,001903101,322.0,291.0,5.0,16.0,0.910000,0.903727,0.015528
8,ELKHART ISD,001903,1200.0,1092.0,ELKHART MIDDLE,001903041,268.0,260.0,11.0,5.0,0.910000,0.970149,0.041045
9,ELKHART ISD,001903,1200.0,1092.0,ELKHART H S,001903001,344.0,310.0,16.0,4.0,0.910000,0.901163,0.046512
12,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON MIDDLE,001904041,200.0,189.0,6.0,6.0,0.918660,0.945000,0.030000
13,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON EL,001904102,343.0,310.0,7.0,13.0,0.918660,0.903790,0.020408
14,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON H S,001904001,293.0,269.0,23.0,6.0,0.918660,0.918089,0.078498

In [120]:
# column names
columns26 = ['District Name', \
          'District LEA #', \
          'District Enrollment 10/30/20', \
          'Approx. District On-Campus Enrollment 10/30/20', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 10/30/20', \
          'School On-Campus Enrollment 10/30/20', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 01/31/21', \
          'Cumulative Staff Cases 01/31/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df26 = pd.read_csv('../covid data/covid_013121.csv', header = 6, names = columns26, na_values=["NR", "."])
df26.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 01/31/21,Cumulative Staff Cases 01/31/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,535.0,489.0,CAYUGA EL,'001902103,236.0,208.0,NaN,NaN,NaN,NaN,NaN,8,4.0,2,8,2
1,CAYUGA ISD,'001902,535.0,489.0,CAYUGA MIDDLE,'001902041,133.0,126.0,NaN,NaN,NaN,NaN,NaN,11,4.0,2,7,6
2,CAYUGA ISD,'001902,535.0,489.0,CAYUGA H S,'001902001,166.0,155.0,NaN,NaN,NaN,NaN,NaN,16,14.0,3,16,11
3,CAYUGA ISD TOTAL,'001902,535.0,489.0,NaN,NaN,535.0,489.0,NaN,NaN,NaN,NaN,NaN,35,22.0,7,31,19
4,ELKHART ISD,'001903,1200.0,1092.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ELKHART ISD,'001903,1200.0,1092.0,ELKHART INT,'001903102,266.0,231.0,NaN,NaN,NaN,NaN,NaN,*,5.0,*,*,*
6,ELKHART ISD,'001903,1200.0,1092.0,ELKHART EL,'001903101,322.0,291.0,0,6.0,0,1,5,*,16.0,*,*,*
7,ELKHART ISD,'001903,1200.0,1092.0,NaN,Multiple\nCampus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10.0,0,1,10
8,ELKHART ISD,'001903,1200.0,1092.0,ELKHART MIDDLE,'001903041,268.0,260.0,*,0.0,*,*,*,10,4.0,0,2,12
9,ELKHART ISD,'001903,1200.0,1092.0,ELKHART H S,'001903001,344.0,310.0,NaN,NaN,NaN,NaN,NaN,15,3.0,0,5,13

In [121]:
# drop new case columns and source columns   
df26.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df26['Campus ID'].value_counts())
multiple_campus = df26[df26['Campus ID'] == 'Multiple\nCampus']
df26.drop(multiple_campus.index, inplace=True)
#print(df26['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df26.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df26.replace('*', 3, inplace = True)

# treat numeric features as float
df26['District Enrollment 10/30/20'] = df26['District Enrollment 10/30/20'].astype(float)
df26['Approx. District On-Campus Enrollment 10/30/20'] = df26['Approx. District On-Campus Enrollment 10/30/20'].astype(float)
df26['School Enrollment 10/30/20'] = df26['School Enrollment 10/30/20'].astype(float)
df26['School On-Campus Enrollment 10/30/20'] = df26['School On-Campus Enrollment 10/30/20'].astype(float)
df26['Cumulative Student Cases 01/31/21'] = df26['Cumulative Student Cases 01/31/21'].astype(float)
df26['Cumulative Staff Cases 01/31/21'] = df26['Cumulative Staff Cases 01/31/21'].astype(float)

# remove ' symbol from District ID
df26['District LEA #'] = df26['District LEA #'].astype(str)
df26['District LEA #'] = df26['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df26.dropna(subset = ['School Enrollment 10/30/20'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df26['% District On-Campus 10/30/20'] = df26['Approx. District On-Campus Enrollment 10/30/20'] / df26['District Enrollment 10/30/20']
df26['% School On-Campus 10/30/20'] = df26['School On-Campus Enrollment 10/30/20'] / df26['School Enrollment 10/30/20']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df26['% Students with COVID 01/31/21'] = df26['Cumulative Student Cases 01/31/21'] / df26['School Enrollment 10/30/20']

In [122]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df26_d = df26[df26['Campus Name'].isna()]
df26_district = df26_d.drop(columns = ['Campus Name', 'Campus ID'])

df26_district.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 01/31/21,Cumulative Staff Cases 01/31/21,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 01/31/21
3,CAYUGA ISD TOTAL,001902,535.0,489.0,535.0,489.0,35.0,22.0,0.914019,0.914019,0.065421
10,ELKHART ISD TOTAL,001903,1200.0,1092.0,1200.0,1092.0,32.0,38.0,0.910000,0.910000,0.026667
15,FRANKSTON ISD TOTAL,001904,836.0,768.0,836.0,768.0,32.0,27.0,0.918660,0.918660,0.038278
19,NECHES ISD TOTAL,001906,339.0,339.0,339.0,339.0,3.0,8.0,1.000000,1.000000,0.008850
26,PALESTINE ISD TOTAL,001907,3399.0,2908.0,3399.0,2908.0,3.0,45.0,0.855546,0.855546,0.000883
31,WESTWOOD ISD TOTAL,001908,1352.0,1185.0,1352.0,1185.0,41.0,30.0,0.876479,0.876479,0.030325
34,SLOCUM ISD TOTAL,001909,364.0,335.0,364.0,335.0,20.0,22.0,0.920330,0.920330,0.054945
42,ANDREWS ISD TOTAL,002901,4149.0,3654.0,4149.0,3654.0,156.0,70.0,0.880694,0.880694,0.037599
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,996.0,757.0,996.0,757.0,3.0,16.0,0.760040,0.760040,0.003012
53,HUDSON ISD TOTAL,003902,2783.0,2526.0,2783.0,2526.0,82.0,30.0,0.907654,0.907654,0.029465

In [123]:
# remove district totals from the campus dataframe
df26.drop(df26_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df26['Campus ID'] = df26['Campus ID'].astype(str)
df26['Campus ID'] = df26['Campus ID'].map(lambda x: x.lstrip("'"))

df26.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 01/31/21,Cumulative Staff Cases 01/31/21,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 01/31/21
0,CAYUGA ISD,001902,535.0,489.0,CAYUGA EL,001902103,236.0,208.0,8.0,4.0,0.914019,0.881356,0.033898
1,CAYUGA ISD,001902,535.0,489.0,CAYUGA MIDDLE,001902041,133.0,126.0,11.0,4.0,0.914019,0.947368,0.082707
2,CAYUGA ISD,001902,535.0,489.0,CAYUGA H S,001902001,166.0,155.0,16.0,14.0,0.914019,0.933735,0.096386
5,ELKHART ISD,001903,1200.0,1092.0,ELKHART INT,001903102,266.0,231.0,3.0,5.0,0.910000,0.868421,0.011278
6,ELKHART ISD,001903,1200.0,1092.0,ELKHART EL,001903101,322.0,291.0,3.0,16.0,0.910000,0.903727,0.009317
8,ELKHART ISD,001903,1200.0,1092.0,ELKHART MIDDLE,001903041,268.0,260.0,10.0,4.0,0.910000,0.970149,0.037313
9,ELKHART ISD,001903,1200.0,1092.0,ELKHART H S,001903001,344.0,310.0,15.0,3.0,0.910000,0.901163,0.043605
12,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON MIDDLE,001904041,200.0,189.0,5.0,5.0,0.918660,0.945000,0.025000
13,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON EL,001904102,343.0,310.0,7.0,13.0,0.918660,0.903790,0.020408
14,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON H S,001904001,293.0,269.0,20.0,6.0,0.918660,0.918089,0.068259

In [124]:
# column names
columns27 = ['District Name', \
          'District LEA #', \
          'District Enrollment 10/30/20', \
          'Approx. District On-Campus Enrollment 10/30/20', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 10/30/20', \
          'School On-Campus Enrollment 10/30/20', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 01/24/21', \
          'Cumulative Staff Cases 01/24/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df27 = pd.read_csv('../covid data/covid_012421.csv', header = 6, names = columns27, na_values=["NR", "."])
df27.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 01/24/21,Cumulative Staff Cases 01/24/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,535.0,489.0,CAYUGA EL,'001902103,236.0,208.0,NaN,NaN,NaN,NaN,NaN,8,3.0,2,7,2
1,CAYUGA ISD,'001902,535.0,489.0,CAYUGA MIDDLE,'001902041,133.0,126.0,NaN,NaN,NaN,NaN,NaN,11,4.0,2,7,6
2,CAYUGA ISD,'001902,535.0,489.0,CAYUGA H S,'001902001,166.0,155.0,NaN,NaN,NaN,NaN,NaN,15,14.0,3,15,11
3,CAYUGA ISD TOTAL,'001902,535.0,489.0,NaN,NaN,535.0,489.0,NaN,NaN,NaN,NaN,NaN,34,21.0,7,29,19
4,ELKHART ISD,'001903,1200.0,1092.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ELKHART ISD,'001903,1200.0,1092.0,ELKHART INT,'001903102,266.0,231.0,NaN,NaN,NaN,NaN,NaN,*,5.0,*,*,*
6,ELKHART ISD,'001903,1200.0,1092.0,ELKHART EL,'001903101,322.0,291.0,*,1.0,*,*,*,*,10.0,*,*,*
7,ELKHART ISD,'001903,1200.0,1092.0,NaN,Multiple\nCampus,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,10.0,0,1,10
8,ELKHART ISD,'001903,1200.0,1092.0,ELKHART MIDDLE,'001903041,268.0,260.0,NaN,NaN,NaN,NaN,NaN,8,4.0,0,2,10
9,ELKHART ISD,'001903,1200.0,1092.0,ELKHART H S,'001903001,344.0,310.0,*,0.0,*,*,*,15,3.0,0,5,13

In [125]:
# drop new case columns and source columns   
df27.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df27['Campus ID'].value_counts())
multiple_campus = df27[df27['Campus ID'] == 'Multiple\nCampus']
df27.drop(multiple_campus.index, inplace=True)
#print(df27['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df27.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df27.replace('*', 3, inplace = True)

# treat numeric features as float
df27['District Enrollment 10/30/20'] = df27['District Enrollment 10/30/20'].astype(float)
df27['Approx. District On-Campus Enrollment 10/30/20'] = df27['Approx. District On-Campus Enrollment 10/30/20'].astype(float)
df27['School Enrollment 10/30/20'] = df27['School Enrollment 10/30/20'].astype(float)
df27['School On-Campus Enrollment 10/30/20'] = df27['School On-Campus Enrollment 10/30/20'].astype(float)
df27['Cumulative Student Cases 01/24/21'] = df27['Cumulative Student Cases 01/24/21'].astype(float)
df27['Cumulative Staff Cases 01/24/21'] = df27['Cumulative Staff Cases 01/24/21'].astype(float)

# remove ' symbol from District ID
df27['District LEA #'] = df27['District LEA #'].astype(str)
df27['District LEA #'] = df27['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df27.dropna(subset = ['School Enrollment 10/30/20'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df27['% District On-Campus 10/30/20'] = df27['Approx. District On-Campus Enrollment 10/30/20'] / df27['District Enrollment 10/30/20']
df27['% School On-Campus 10/30/20'] = df27['School On-Campus Enrollment 10/30/20'] / df27['School Enrollment 10/30/20']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df27['% Students with COVID 01/24/21'] = df27['Cumulative Student Cases 01/24/21'] / df27['School Enrollment 10/30/20']

In [126]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df27_d = df27[df27['Campus Name'].isna()]
df27_district = df27_d.drop(columns = ['Campus Name', 'Campus ID'])

df27_district.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 01/24/21,Cumulative Staff Cases 01/24/21,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 01/24/21
3,CAYUGA ISD TOTAL,001902,535.0,489.0,535.0,489.0,34.0,21.0,0.914019,0.914019,0.063551
10,ELKHART ISD TOTAL,001903,1200.0,1092.0,1200.0,1092.0,30.0,32.0,0.910000,0.910000,0.025000
15,FRANKSTON ISD TOTAL,001904,836.0,768.0,836.0,768.0,30.0,25.0,0.918660,0.918660,0.035885
19,NECHES ISD TOTAL,001906,339.0,339.0,339.0,339.0,3.0,8.0,1.000000,1.000000,0.008850
26,PALESTINE ISD TOTAL,001907,3399.0,2908.0,3399.0,2908.0,3.0,43.0,0.855546,0.855546,0.000883
31,WESTWOOD ISD TOTAL,001908,1352.0,1185.0,1352.0,1185.0,3.0,30.0,0.876479,0.876479,0.002219
34,SLOCUM ISD TOTAL,001909,364.0,335.0,364.0,335.0,20.0,22.0,0.920330,0.920330,0.054945
42,ANDREWS ISD TOTAL,002901,4149.0,3654.0,4149.0,3654.0,150.0,67.0,0.880694,0.880694,0.036153
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,996.0,757.0,996.0,757.0,3.0,15.0,0.760040,0.760040,0.003012
53,HUDSON ISD TOTAL,003902,2783.0,2526.0,2783.0,2526.0,69.0,26.0,0.907654,0.907654,0.024793

In [127]:
# remove district totals from the campus dataframe
df27.drop(df27_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df27['Campus ID'] = df27['Campus ID'].astype(str)
df27['Campus ID'] = df27['Campus ID'].map(lambda x: x.lstrip("'"))

df27.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 01/24/21,Cumulative Staff Cases 01/24/21,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 01/24/21
0,CAYUGA ISD,001902,535.0,489.0,CAYUGA EL,001902103,236.0,208.0,8.0,3.0,0.914019,0.881356,0.033898
1,CAYUGA ISD,001902,535.0,489.0,CAYUGA MIDDLE,001902041,133.0,126.0,11.0,4.0,0.914019,0.947368,0.082707
2,CAYUGA ISD,001902,535.0,489.0,CAYUGA H S,001902001,166.0,155.0,15.0,14.0,0.914019,0.933735,0.090361
5,ELKHART ISD,001903,1200.0,1092.0,ELKHART INT,001903102,266.0,231.0,3.0,5.0,0.910000,0.868421,0.011278
6,ELKHART ISD,001903,1200.0,1092.0,ELKHART EL,001903101,322.0,291.0,3.0,10.0,0.910000,0.903727,0.009317
8,ELKHART ISD,001903,1200.0,1092.0,ELKHART MIDDLE,001903041,268.0,260.0,8.0,4.0,0.910000,0.970149,0.029851
9,ELKHART ISD,001903,1200.0,1092.0,ELKHART H S,001903001,344.0,310.0,15.0,3.0,0.910000,0.901163,0.043605
12,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON MIDDLE,001904041,200.0,189.0,5.0,4.0,0.918660,0.945000,0.025000
13,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON EL,001904102,343.0,310.0,7.0,12.0,0.918660,0.903790,0.020408
14,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON H S,001904001,293.0,269.0,18.0,6.0,0.918660,0.918089,0.061433

In [129]:
# column names
columns28 = ['District Name', \
          'District LEA #', \
          'District Enrollment 10/30/20', \
          'Approx. District On-Campus Enrollment 10/30/20', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 10/30/20', \
          'School On-Campus Enrollment 10/30/20', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 01/17/21', \
          'Cumulative Staff Cases 01/17/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df28 = pd.read_csv('../covid data/covid_011721.csv', header = 6, names = columns28, na_values=["NR", "."])
df28.head()

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 01/17/21,Cumulative Staff Cases 01/17/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,535.0,489.0,CAYUGA EL,'001902103,236.0,208.0,NaN,NaN,NaN,NaN,NaN,7,3.0,2,7,1
1,CAYUGA ISD,'001902,535.0,489.0,CAYUGA MIDDLE,'001902041,133.0,126.0,NaN,NaN,NaN,NaN,NaN,10,4.0,2,6,6
2,CAYUGA ISD,'001902,535.0,489.0,CAYUGA H S,'001902001,166.0,155.0,NaN,NaN,NaN,NaN,NaN,15,14.0,3,15,11
3,CAYUGA ISD TOTAL,'001902,535.0,489.0,NaN,NaN,535.0,489.0,NaN,NaN,NaN,NaN,NaN,32,21.0,7,28,18
4,ELKHART ISD,'001903,1200.0,1092.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [130]:
# drop new case columns and source columns   
df28.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df28['Campus ID'].value_counts())
multiple_campus = df28[df28['Campus ID'] == 'Multiple\nCampus']
df28.drop(multiple_campus.index, inplace=True)
#print(df28['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df28.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df28.replace('*', 3, inplace = True)

# treat numeric features as float
df28['District Enrollment 10/30/20'] = df28['District Enrollment 10/30/20'].astype(float)
df28['Approx. District On-Campus Enrollment 10/30/20'] = df28['Approx. District On-Campus Enrollment 10/30/20'].astype(float)
df28['School Enrollment 10/30/20'] = df28['School Enrollment 10/30/20'].astype(float)
df28['School On-Campus Enrollment 10/30/20'] = df28['School On-Campus Enrollment 10/30/20'].astype(float)
df28['Cumulative Student Cases 01/17/21'] = df28['Cumulative Student Cases 01/17/21'].astype(float)
df28['Cumulative Staff Cases 01/17/21'] = df28['Cumulative Staff Cases 01/17/21'].astype(float)

# remove ' symbol from District ID
df28['District LEA #'] = df28['District LEA #'].astype(str)
df28['District LEA #'] = df28['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df28.dropna(subset = ['School Enrollment 10/30/20'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df28['% District On-Campus 10/30/20'] = df28['Approx. District On-Campus Enrollment 10/30/20'] / df28['District Enrollment 10/30/20']
df28['% School On-Campus 10/30/20'] = df28['School On-Campus Enrollment 10/30/20'] / df28['School Enrollment 10/30/20']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df28['% Students with COVID 01/17/21'] = df28['Cumulative Student Cases 01/17/21'] / df28['School Enrollment 10/30/20']

In [131]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df28_d = df28[df28['Campus Name'].isna()]
df28_district = df28_d.drop(columns = ['Campus Name', 'Campus ID'])

df28_district.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 01/17/21,Cumulative Staff Cases 01/17/21,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 01/17/21
3,CAYUGA ISD TOTAL,001902,535.0,489.0,535.0,489.0,32.0,21.0,0.914019,0.914019,0.059813
10,ELKHART ISD TOTAL,001903,1200.0,1092.0,1200.0,1092.0,22.0,31.0,0.910000,0.910000,0.018333
15,FRANKSTON ISD TOTAL,001904,836.0,768.0,836.0,768.0,3.0,25.0,0.918660,0.918660,0.003589
19,NECHES ISD TOTAL,001906,339.0,339.0,339.0,339.0,3.0,8.0,1.000000,1.000000,0.008850
26,PALESTINE ISD TOTAL,001907,3399.0,2908.0,3399.0,2908.0,42.0,42.0,0.855546,0.855546,0.012357
31,WESTWOOD ISD TOTAL,001908,1352.0,1185.0,1352.0,1185.0,3.0,29.0,0.876479,0.876479,0.002219
34,SLOCUM ISD TOTAL,001909,364.0,335.0,364.0,335.0,19.0,22.0,0.920330,0.920330,0.052198
42,ANDREWS ISD TOTAL,002901,4149.0,3654.0,4149.0,3654.0,134.0,67.0,0.880694,0.880694,0.032297
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,996.0,757.0,996.0,757.0,3.0,14.0,0.760040,0.760040,0.003012
53,HUDSON ISD TOTAL,003902,2783.0,2526.0,2783.0,2526.0,63.0,23.0,0.907654,0.907654,0.022637

In [132]:
# remove district totals from the campus dataframe
df28.drop(df28_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df28['Campus ID'] = df28['Campus ID'].astype(str)
df28['Campus ID'] = df28['Campus ID'].map(lambda x: x.lstrip("'"))

df28.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 01/17/21,Cumulative Staff Cases 01/17/21,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 01/17/21
0,CAYUGA ISD,001902,535.0,489.0,CAYUGA EL,001902103,236.0,208.0,7.0,3.0,0.914019,0.881356,0.029661
1,CAYUGA ISD,001902,535.0,489.0,CAYUGA MIDDLE,001902041,133.0,126.0,10.0,4.0,0.914019,0.947368,0.075188
2,CAYUGA ISD,001902,535.0,489.0,CAYUGA H S,001902001,166.0,155.0,15.0,14.0,0.914019,0.933735,0.090361
5,ELKHART ISD,001903,1200.0,1092.0,ELKHART EL,001903101,322.0,291.0,3.0,9.0,0.910000,0.903727,0.009317
6,ELKHART ISD,001903,1200.0,1092.0,ELKHART INT,001903102,266.0,231.0,3.0,5.0,0.910000,0.868421,0.011278
8,ELKHART ISD,001903,1200.0,1092.0,ELKHART MIDDLE,001903041,268.0,260.0,7.0,4.0,0.910000,0.970149,0.026119
9,ELKHART ISD,001903,1200.0,1092.0,ELKHART H S,001903001,344.0,310.0,11.0,3.0,0.910000,0.901163,0.031977
11,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON MIDDLE,001904041,200.0,189.0,3.0,4.0,0.918660,0.945000,0.015000
13,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON EL,001904102,343.0,310.0,7.0,12.0,0.918660,0.903790,0.020408
14,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON H S,001904001,293.0,269.0,18.0,6.0,0.918660,0.918089,0.061433

In [133]:
# column names
columns29 = ['District Name', \
          'District LEA #', \
          'District Enrollment 10/30/20', \
          'Approx. District On-Campus Enrollment 10/30/20', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 10/30/20', \
          'School On-Campus Enrollment 10/30/20', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 01/10/21', \
          'Cumulative Staff Cases 01/10/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df29 = pd.read_csv('../covid data/covid_011021.csv', header = 6, names = columns29, na_values=["NR", "."])
df29.head()

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 01/10/21,Cumulative Staff Cases 01/10/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,535.0,489.0,CAYUGA EL,'001902103,236.0,208.0,NaN,NaN,NaN,NaN,NaN,7,3.0,2,7,1
1,CAYUGA ISD,'001902,535.0,489.0,CAYUGA MIDDLE,'001902041,133.0,126.0,*,0.0,*,*,*,10,4.0,2,6,6
2,CAYUGA ISD,'001902,535.0,489.0,CAYUGA H S,'001902001,166.0,155.0,*,2.0,*,*,*,15,14.0,3,15,11
3,CAYUGA ISD TOTAL,'001902,535.0,489.0,NaN,NaN,535.0,489.0,*,2.0,*,*,*,32,21.0,7,28,18
4,ELKHART ISD,'001903,1200.0,1092.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [134]:
# drop new case columns and source columns   
df29.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df29['Campus ID'].value_counts())
multiple_campus = df29[df29['Campus ID'] == 'Multiple\nCampus']
df29.drop(multiple_campus.index, inplace=True)
#print(df29['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df29.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df29.replace('*', 3, inplace = True)

# treat numeric features as float
df29['District Enrollment 10/30/20'] = df29['District Enrollment 10/30/20'].astype(float)
df29['Approx. District On-Campus Enrollment 10/30/20'] = df29['Approx. District On-Campus Enrollment 10/30/20'].astype(float)
df29['School Enrollment 10/30/20'] = df29['School Enrollment 10/30/20'].astype(float)
df29['School On-Campus Enrollment 10/30/20'] = df29['School On-Campus Enrollment 10/30/20'].astype(float)
df29['Cumulative Student Cases 01/10/21'] = df29['Cumulative Student Cases 01/10/21'].astype(float)
df29['Cumulative Staff Cases 01/10/21'] = df29['Cumulative Staff Cases 01/10/21'].astype(float)

# remove ' symbol from District ID
df29['District LEA #'] = df29['District LEA #'].astype(str)
df29['District LEA #'] = df29['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df29.dropna(subset = ['School Enrollment 10/30/20'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df29['% District On-Campus 10/30/20'] = df29['Approx. District On-Campus Enrollment 10/30/20'] / df29['District Enrollment 10/30/20']
df29['% School On-Campus 10/30/20'] = df29['School On-Campus Enrollment 10/30/20'] / df29['School Enrollment 10/30/20']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df29['% Students with COVID 01/10/21'] = df29['Cumulative Student Cases 01/10/21'] / df29['School Enrollment 10/30/20']

In [135]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df29_d = df29[df29['Campus Name'].isna()]
df29_district = df29_d.drop(columns = ['Campus Name', 'Campus ID'])

df29_district.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 01/10/21,Cumulative Staff Cases 01/10/21,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 01/10/21
3,CAYUGA ISD TOTAL,001902,535.0,489.0,535.0,489.0,32.0,21.0,0.914019,0.914019,0.059813
10,ELKHART ISD TOTAL,001903,1200.0,1092.0,1200.0,1092.0,21.0,28.0,0.910000,0.910000,0.017500
15,FRANKSTON ISD TOTAL,001904,836.0,768.0,836.0,768.0,3.0,24.0,0.918660,0.918660,0.003589
19,NECHES ISD TOTAL,001906,339.0,339.0,339.0,339.0,3.0,6.0,1.000000,1.000000,0.008850
26,PALESTINE ISD TOTAL,001907,3399.0,2908.0,3399.0,2908.0,3.0,42.0,0.855546,0.855546,0.000883
31,WESTWOOD ISD TOTAL,001908,1352.0,1185.0,1352.0,1185.0,3.0,29.0,0.876479,0.876479,0.002219
34,SLOCUM ISD TOTAL,001909,364.0,335.0,364.0,335.0,18.0,21.0,0.920330,0.920330,0.049451
42,ANDREWS ISD TOTAL,002901,4149.0,3654.0,4149.0,3654.0,133.0,66.0,0.880694,0.880694,0.032056
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,996.0,757.0,996.0,757.0,3.0,14.0,0.760040,0.760040,0.003012
53,HUDSON ISD TOTAL,003902,2783.0,2526.0,2783.0,2526.0,54.0,21.0,0.907654,0.907654,0.019404

In [136]:
# remove district totals from the campus dataframe
df29.drop(df29_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df29['Campus ID'] = df29['Campus ID'].astype(str)
df29['Campus ID'] = df29['Campus ID'].map(lambda x: x.lstrip("'"))

df29.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 01/10/21,Cumulative Staff Cases 01/10/21,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 01/10/21
0,CAYUGA ISD,001902,535.0,489.0,CAYUGA EL,001902103,236.0,208.0,7.0,3.0,0.914019,0.881356,0.029661
1,CAYUGA ISD,001902,535.0,489.0,CAYUGA MIDDLE,001902041,133.0,126.0,10.0,4.0,0.914019,0.947368,0.075188
2,CAYUGA ISD,001902,535.0,489.0,CAYUGA H S,001902001,166.0,155.0,15.0,14.0,0.914019,0.933735,0.090361
5,ELKHART ISD,001903,1200.0,1092.0,ELKHART INT,001903102,266.0,231.0,3.0,4.0,0.910000,0.868421,0.011278
6,ELKHART ISD,001903,1200.0,1092.0,ELKHART EL,001903101,322.0,291.0,3.0,9.0,0.910000,0.903727,0.009317
8,ELKHART ISD,001903,1200.0,1092.0,ELKHART MIDDLE,001903041,268.0,260.0,7.0,4.0,0.910000,0.970149,0.026119
9,ELKHART ISD,001903,1200.0,1092.0,ELKHART H S,001903001,344.0,310.0,10.0,3.0,0.910000,0.901163,0.029070
11,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON MIDDLE,001904041,200.0,189.0,3.0,4.0,0.918660,0.945000,0.015000
13,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON EL,001904102,343.0,310.0,6.0,11.0,0.918660,0.903790,0.017493
14,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON H S,001904001,293.0,269.0,18.0,6.0,0.918660,0.918089,0.061433

In [137]:
# column names
columns30 = ['District Name', \
          'District LEA #', \
          'District Enrollment 10/30/20', \
          'Approx. District On-Campus Enrollment 10/30/20', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 10/30/20', \
          'School On-Campus Enrollment 10/30/20', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 01/03/21', \
          'Cumulative Staff Cases 01/03/21', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df30 = pd.read_csv('../covid data/covid_010321.csv', header = 6, names = columns30, na_values=["NR", "."])
df30.head()

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 01/03/21,Cumulative Staff Cases 01/03/21,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,535.0,489.0,CAYUGA EL,'001902103,236.0,208.0,NaN,NaN,NaN,NaN,NaN,7,3.0,2,7,1
1,CAYUGA ISD,'001902,535.0,489.0,CAYUGA MIDDLE,'001902041,133.0,126.0,NaN,NaN,NaN,NaN,NaN,9,4.0,2,5,6
2,CAYUGA ISD,'001902,535.0,489.0,CAYUGA H S,'001902001,166.0,155.0,NaN,NaN,NaN,NaN,NaN,13,11.0,3,10,11
3,CAYUGA ISD TOTAL,'001902,535.0,489.0,NaN,NaN,535.0,489.0,NaN,NaN,NaN,NaN,NaN,29,18.0,7,22,18
4,ELKHART ISD,'001903,1200.0,1092.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [138]:
# drop new case columns and source columns   
df30.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df30['Campus ID'].value_counts())
multiple_campus = df30[df30['Campus ID'] == 'Multiple\nCampus']
df30.drop(multiple_campus.index, inplace=True)
#print(df30['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df30.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df30.replace('*', 3, inplace = True)

# treat numeric features as float
df30['District Enrollment 10/30/20'] = df30['District Enrollment 10/30/20'].astype(float)
df30['Approx. District On-Campus Enrollment 10/30/20'] = df30['Approx. District On-Campus Enrollment 10/30/20'].astype(float)
df30['School Enrollment 10/30/20'] = df30['School Enrollment 10/30/20'].astype(float)
df30['School On-Campus Enrollment 10/30/20'] = df30['School On-Campus Enrollment 10/30/20'].astype(float)
df30['Cumulative Student Cases 01/03/21'] = df30['Cumulative Student Cases 01/03/21'].astype(float)
df30['Cumulative Staff Cases 01/03/21'] = df30['Cumulative Staff Cases 01/03/21'].astype(float)

# remove ' symbol from District ID
df30['District LEA #'] = df30['District LEA #'].astype(str)
df30['District LEA #'] = df30['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df30.dropna(subset = ['School Enrollment 10/30/20'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df30['% District On-Campus 10/30/20'] = df30['Approx. District On-Campus Enrollment 10/30/20'] / df30['District Enrollment 10/30/20']
df30['% School On-Campus 10/30/20'] = df30['School On-Campus Enrollment 10/30/20'] / df30['School Enrollment 10/30/20']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df30['% Students with COVID 01/03/21'] = df30['Cumulative Student Cases 01/03/21'] / df30['School Enrollment 10/30/20']

In [139]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df30_d = df30[df30['Campus Name'].isna()]
df30_district = df30_d.drop(columns = ['Campus Name', 'Campus ID'])

df30_district.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 01/03/21,Cumulative Staff Cases 01/03/21,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 01/03/21
3,CAYUGA ISD TOTAL,001902,535.0,489.0,535.0,489.0,29.0,18.0,0.914019,0.914019,0.054206
10,ELKHART ISD TOTAL,001903,1200.0,1092.0,1200.0,1092.0,15.0,24.0,0.910000,0.910000,0.012500
15,FRANKSTON ISD TOTAL,001904,836.0,768.0,836.0,768.0,3.0,22.0,0.918660,0.918660,0.003589
19,NECHES ISD TOTAL,001906,339.0,339.0,339.0,339.0,3.0,6.0,1.000000,1.000000,0.008850
26,PALESTINE ISD TOTAL,001907,3399.0,2908.0,3399.0,2908.0,42.0,41.0,0.855546,0.855546,0.012357
31,WESTWOOD ISD TOTAL,001908,1352.0,1185.0,1352.0,1185.0,3.0,29.0,0.876479,0.876479,0.002219
34,SLOCUM ISD TOTAL,001909,364.0,335.0,364.0,335.0,16.0,19.0,0.920330,0.920330,0.043956
42,ANDREWS ISD TOTAL,002901,4149.0,3654.0,4149.0,3654.0,108.0,56.0,0.880694,0.880694,0.026030
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,996.0,757.0,996.0,757.0,3.0,11.0,0.760040,0.760040,0.003012
53,HUDSON ISD TOTAL,003902,2783.0,2526.0,2783.0,2526.0,54.0,21.0,0.907654,0.907654,0.019404

In [140]:
# remove district totals from the campus dataframe
df30.drop(df30_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df30['Campus ID'] = df30['Campus ID'].astype(str)
df30['Campus ID'] = df30['Campus ID'].map(lambda x: x.lstrip("'"))

df30.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 01/03/21,Cumulative Staff Cases 01/03/21,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 01/03/21
0,CAYUGA ISD,001902,535.0,489.0,CAYUGA EL,001902103,236.0,208.0,7.0,3.0,0.914019,0.881356,0.029661
1,CAYUGA ISD,001902,535.0,489.0,CAYUGA MIDDLE,001902041,133.0,126.0,9.0,4.0,0.914019,0.947368,0.067669
2,CAYUGA ISD,001902,535.0,489.0,CAYUGA H S,001902001,166.0,155.0,13.0,11.0,0.914019,0.933735,0.078313
5,ELKHART ISD,001903,1200.0,1092.0,ELKHART MIDDLE,001903041,268.0,260.0,3.0,4.0,0.910000,0.970149,0.011194
6,ELKHART ISD,001903,1200.0,1092.0,ELKHART EL,001903101,322.0,291.0,3.0,6.0,0.910000,0.903727,0.009317
7,ELKHART ISD,001903,1200.0,1092.0,ELKHART INT,001903102,266.0,231.0,3.0,4.0,0.910000,0.868421,0.011278
9,ELKHART ISD,001903,1200.0,1092.0,ELKHART H S,001903001,344.0,310.0,6.0,2.0,0.910000,0.901163,0.017442
11,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON MIDDLE,001904041,200.0,189.0,3.0,4.0,0.918660,0.945000,0.015000
13,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON EL,001904102,343.0,310.0,6.0,11.0,0.918660,0.903790,0.017493
14,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON H S,001904001,293.0,269.0,18.0,6.0,0.918660,0.918089,0.061433

In [141]:
# column names
columns31 = ['District Name', \
          'District LEA #', \
          'District Enrollment 10/30/20', \
          'Approx. District On-Campus Enrollment 10/30/20', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 10/30/20', \
          'School On-Campus Enrollment 10/30/20', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 12/27/20', \
          'Cumulative Staff Cases 12/27/20', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df31 = pd.read_csv('../covid data/covid_122720.csv', header = 6, names = columns31, na_values=["NR", "."])
df31.head()

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 12/27/20,Cumulative Staff Cases 12/27/20,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,535.0,489.0,CAYUGA EL,'001902103,236.0,208.0,NaN,NaN,NaN,NaN,NaN,7,3.0,2,7,1
1,CAYUGA ISD,'001902,535.0,489.0,CAYUGA MIDDLE,'001902041,133.0,126.0,NaN,NaN,NaN,NaN,NaN,9,4.0,2,5,6
2,CAYUGA ISD,'001902,535.0,489.0,CAYUGA H S,'001902001,166.0,155.0,NaN,NaN,NaN,NaN,NaN,13,11.0,3,10,11
3,CAYUGA ISD TOTAL,'001902,535.0,489.0,NaN,NaN,535.0,489.0,NaN,NaN,NaN,NaN,NaN,29,18.0,7,22,18
4,ELKHART ISD,'001903,1200.0,1092.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [142]:
# drop new case columns and source columns   
df31.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df31['Campus ID'].value_counts())
multiple_campus = df31[df31['Campus ID'] == 'Multiple\nCampus']
df31.drop(multiple_campus.index, inplace=True)
#print(df31['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df31.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df31.replace('*', 3, inplace = True)

# treat numeric features as float
df31['District Enrollment 10/30/20'] = df31['District Enrollment 10/30/20'].astype(float)
df31['Approx. District On-Campus Enrollment 10/30/20'] = df31['Approx. District On-Campus Enrollment 10/30/20'].astype(float)
df31['School Enrollment 10/30/20'] = df31['School Enrollment 10/30/20'].astype(float)
df31['School On-Campus Enrollment 10/30/20'] = df31['School On-Campus Enrollment 10/30/20'].astype(float)
df31['Cumulative Student Cases 12/27/20'] = df31['Cumulative Student Cases 12/27/20'].astype(float)
df31['Cumulative Staff Cases 12/27/20'] = df31['Cumulative Staff Cases 12/27/20'].astype(float)

# remove ' symbol from District ID
df31['District LEA #'] = df31['District LEA #'].astype(str)
df31['District LEA #'] = df31['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df31.dropna(subset = ['School Enrollment 10/30/20'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df31['% District On-Campus 10/30/20'] = df31['Approx. District On-Campus Enrollment 10/30/20'] / df31['District Enrollment 10/30/20']
df31['% School On-Campus 10/30/20'] = df31['School On-Campus Enrollment 10/30/20'] / df31['School Enrollment 10/30/20']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df31['% Students with COVID 12/27/20'] = df31['Cumulative Student Cases 12/27/20'] / df31['School Enrollment 10/30/20']

In [143]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df31_d = df31[df31['Campus Name'].isna()]
df31_district = df31_d.drop(columns = ['Campus Name', 'Campus ID'])

df31_district.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 12/27/20,Cumulative Staff Cases 12/27/20,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 12/27/20
3,CAYUGA ISD TOTAL,001902,535.0,489.0,535.0,489.0,29.0,18.0,0.914019,0.914019,0.054206
10,ELKHART ISD TOTAL,001903,1200.0,1092.0,1200.0,1092.0,15.0,24.0,0.910000,0.910000,0.012500
15,FRANKSTON ISD TOTAL,001904,836.0,768.0,836.0,768.0,3.0,19.0,0.918660,0.918660,0.003589
19,NECHES ISD TOTAL,001906,339.0,339.0,339.0,339.0,3.0,6.0,1.000000,1.000000,0.008850
26,PALESTINE ISD TOTAL,001907,3399.0,2908.0,3399.0,2908.0,42.0,34.0,0.855546,0.855546,0.012357
31,WESTWOOD ISD TOTAL,001908,1352.0,1185.0,1352.0,1185.0,3.0,29.0,0.876479,0.876479,0.002219
34,SLOCUM ISD TOTAL,001909,364.0,335.0,364.0,335.0,16.0,18.0,0.920330,0.920330,0.043956
42,ANDREWS ISD TOTAL,002901,4149.0,3654.0,4149.0,3654.0,108.0,56.0,0.880694,0.880694,0.026030
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,996.0,757.0,996.0,757.0,3.0,9.0,0.760040,0.760040,0.003012
53,HUDSON ISD TOTAL,003902,2783.0,2526.0,2783.0,2526.0,54.0,21.0,0.907654,0.907654,0.019404

In [144]:
# remove district totals from the campus dataframe
df31.drop(df31_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df31['Campus ID'] = df31['Campus ID'].astype(str)
df31['Campus ID'] = df31['Campus ID'].map(lambda x: x.lstrip("'"))

df31.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 12/27/20,Cumulative Staff Cases 12/27/20,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 12/27/20
0,CAYUGA ISD,001902,535.0,489.0,CAYUGA EL,001902103,236.0,208.0,7.0,3.0,0.914019,0.881356,0.029661
1,CAYUGA ISD,001902,535.0,489.0,CAYUGA MIDDLE,001902041,133.0,126.0,9.0,4.0,0.914019,0.947368,0.067669
2,CAYUGA ISD,001902,535.0,489.0,CAYUGA H S,001902001,166.0,155.0,13.0,11.0,0.914019,0.933735,0.078313
5,ELKHART ISD,001903,1200.0,1092.0,ELKHART MIDDLE,001903041,268.0,260.0,3.0,4.0,0.910000,0.970149,0.011194
6,ELKHART ISD,001903,1200.0,1092.0,ELKHART EL,001903101,322.0,291.0,3.0,6.0,0.910000,0.903727,0.009317
7,ELKHART ISD,001903,1200.0,1092.0,ELKHART INT,001903102,266.0,231.0,3.0,4.0,0.910000,0.868421,0.011278
9,ELKHART ISD,001903,1200.0,1092.0,ELKHART H S,001903001,344.0,310.0,6.0,2.0,0.910000,0.901163,0.017442
11,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON MIDDLE,001904041,200.0,189.0,3.0,4.0,0.918660,0.945000,0.015000
13,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON EL,001904102,343.0,310.0,6.0,10.0,0.918660,0.903790,0.017493
14,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON H S,001904001,293.0,269.0,18.0,4.0,0.918660,0.918089,0.061433

In [145]:
# column names
columns32 = ['District Name', \
          'District LEA #', \
          'District Enrollment 10/30/20', \
          'Approx. District On-Campus Enrollment 10/30/20', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 10/30/20', \
          'School On-Campus Enrollment 10/30/20', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 12/20/20', \
          'Cumulative Staff Cases 12/20/20', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df32 = pd.read_csv('../covid data/covid_122020.csv', header = 6, names = columns32, na_values=["NR", "."])
df32.head()

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 12/20/20,Cumulative Staff Cases 12/20/20,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,535.0,489.0,CAYUGA EL,'001902103,236.0,208.0,NaN,NaN,NaN,NaN,NaN,7,3.0,2,7,1
1,CAYUGA ISD,'001902,535.0,489.0,CAYUGA MIDDLE,'001902041,133.0,126.0,NaN,NaN,NaN,NaN,NaN,9,4.0,2,5,6
2,CAYUGA ISD,'001902,535.0,489.0,CAYUGA H S,'001902001,166.0,155.0,NaN,NaN,NaN,NaN,NaN,13,11.0,3,10,11
3,CAYUGA ISD TOTAL,'001902,535.0,489.0,NaN,NaN,535.0,489.0,NaN,NaN,NaN,NaN,NaN,29,18.0,7,22,18
4,ELKHART ISD,'001903,1200.0,1092.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [146]:
# drop new case columns and source columns   
df32.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df32['Campus ID'].value_counts())
multiple_campus = df32[df32['Campus ID'] == 'Multiple\nCampus']
df32.drop(multiple_campus.index, inplace=True)
#print(df32['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df32.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df32.replace('*', 3, inplace = True)

# treat numeric features as float
df32['District Enrollment 10/30/20'] = df32['District Enrollment 10/30/20'].astype(float)
df32['Approx. District On-Campus Enrollment 10/30/20'] = df32['Approx. District On-Campus Enrollment 10/30/20'].astype(float)
df32['School Enrollment 10/30/20'] = df32['School Enrollment 10/30/20'].astype(float)
df32['School On-Campus Enrollment 10/30/20'] = df32['School On-Campus Enrollment 10/30/20'].astype(float)
df32['Cumulative Student Cases 12/20/20'] = df32['Cumulative Student Cases 12/20/20'].astype(float)
df32['Cumulative Staff Cases 12/20/20'] = df32['Cumulative Staff Cases 12/20/20'].astype(float)

# remove ' symbol from District ID
df32['District LEA #'] = df32['District LEA #'].astype(str)
df32['District LEA #'] = df32['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df32.dropna(subset = ['School Enrollment 10/30/20'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df32['% District On-Campus 10/30/20'] = df32['Approx. District On-Campus Enrollment 10/30/20'] / df32['District Enrollment 10/30/20']
df32['% School On-Campus 10/30/20'] = df32['School On-Campus Enrollment 10/30/20'] / df32['School Enrollment 10/30/20']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df32['% Students with COVID 12/20/20'] = df32['Cumulative Student Cases 12/20/20'] / df32['School Enrollment 10/30/20']

In [147]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df32_d = df32[df32['Campus Name'].isna()]
df32_district = df32_d.drop(columns = ['Campus Name', 'Campus ID'])

df32_district.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 12/20/20,Cumulative Staff Cases 12/20/20,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 12/20/20
3,CAYUGA ISD TOTAL,001902,535.0,489.0,535.0,489.0,29.0,18.0,0.914019,0.914019,0.054206
10,ELKHART ISD TOTAL,001903,1200.0,1092.0,1200.0,1092.0,15.0,24.0,0.910000,0.910000,0.012500
15,FRANKSTON ISD TOTAL,001904,836.0,768.0,836.0,768.0,3.0,13.0,0.918660,0.918660,0.003589
19,NECHES ISD TOTAL,001906,339.0,339.0,339.0,339.0,3.0,6.0,1.000000,1.000000,0.008850
26,PALESTINE ISD TOTAL,001907,3399.0,2908.0,3399.0,2908.0,42.0,34.0,0.855546,0.855546,0.012357
31,WESTWOOD ISD TOTAL,001908,1352.0,1185.0,1352.0,1185.0,3.0,29.0,0.876479,0.876479,0.002219
34,SLOCUM ISD TOTAL,001909,364.0,335.0,364.0,335.0,15.0,16.0,0.920330,0.920330,0.041209
42,ANDREWS ISD TOTAL,002901,4149.0,3654.0,4149.0,3654.0,108.0,56.0,0.880694,0.880694,0.026030
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,996.0,757.0,996.0,757.0,3.0,7.0,0.760040,0.760040,0.003012
53,HUDSON ISD TOTAL,003902,2783.0,2526.0,2783.0,2526.0,54.0,21.0,0.907654,0.907654,0.019404

In [148]:
# remove district totals from the campus dataframe
df32.drop(df32_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df32['Campus ID'] = df32['Campus ID'].astype(str)
df32['Campus ID'] = df32['Campus ID'].map(lambda x: x.lstrip("'"))

df32.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 12/20/20,Cumulative Staff Cases 12/20/20,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 12/20/20
0,CAYUGA ISD,001902,535.0,489.0,CAYUGA EL,001902103,236.0,208.0,7.0,3.0,0.914019,0.881356,0.029661
1,CAYUGA ISD,001902,535.0,489.0,CAYUGA MIDDLE,001902041,133.0,126.0,9.0,4.0,0.914019,0.947368,0.067669
2,CAYUGA ISD,001902,535.0,489.0,CAYUGA H S,001902001,166.0,155.0,13.0,11.0,0.914019,0.933735,0.078313
5,ELKHART ISD,001903,1200.0,1092.0,ELKHART MIDDLE,001903041,268.0,260.0,3.0,4.0,0.910000,0.970149,0.011194
6,ELKHART ISD,001903,1200.0,1092.0,ELKHART EL,001903101,322.0,291.0,3.0,6.0,0.910000,0.903727,0.009317
7,ELKHART ISD,001903,1200.0,1092.0,ELKHART INT,001903102,266.0,231.0,3.0,4.0,0.910000,0.868421,0.011278
9,ELKHART ISD,001903,1200.0,1092.0,ELKHART H S,001903001,344.0,310.0,6.0,2.0,0.910000,0.901163,0.017442
11,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON MIDDLE,001904041,200.0,189.0,3.0,4.0,0.918660,0.945000,0.015000
13,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON EL,001904102,343.0,310.0,5.0,5.0,0.918660,0.903790,0.014577
14,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON H S,001904001,293.0,269.0,15.0,3.0,0.918660,0.918089,0.051195

In [149]:
# column names
columns33 = ['District Name', \
          'District LEA #', \
          'District Enrollment 10/30/20', \
          'Approx. District On-Campus Enrollment 10/30/20', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 10/30/20', \
          'School On-Campus Enrollment 10/30/20', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 12/13/20', \
          'Cumulative Staff Cases 12/13/20', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df33 = pd.read_csv('../covid data/covid_121320.csv', header = 6, names = columns33, na_values=["NR", "."])
df33.head()

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 12/13/20,Cumulative Staff Cases 12/13/20,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,535.0,489.0,CAYUGA EL,'001902103,236.0,208.0,NaN,NaN,NaN,NaN,NaN,7,3.0,2,7,1
1,CAYUGA ISD,'001902,535.0,489.0,CAYUGA MIDDLE,'001902041,133.0,126.0,NaN,NaN,NaN,NaN,NaN,9,4.0,2,5,6
2,CAYUGA ISD,'001902,535.0,489.0,CAYUGA H S,'001902001,166.0,155.0,NaN,NaN,NaN,NaN,NaN,13,11.0,3,10,11
3,CAYUGA ISD TOTAL,'001902,535.0,489.0,NaN,NaN,535.0,489.0,NaN,NaN,NaN,NaN,NaN,29,18.0,7,22,18
4,ELKHART ISD,'001903,1200.0,1092.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [150]:
# drop new case columns and source columns   
df33.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df33['Campus ID'].value_counts())
multiple_campus = df33[df33['Campus ID'] == 'Multiple\nCampus']
df33.drop(multiple_campus.index, inplace=True)
#print(df33['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df33.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df33.replace('*', 3, inplace = True)

# treat numeric features as float
df33['District Enrollment 10/30/20'] = df33['District Enrollment 10/30/20'].astype(float)
df33['Approx. District On-Campus Enrollment 10/30/20'] = df33['Approx. District On-Campus Enrollment 10/30/20'].astype(float)
df33['School Enrollment 10/30/20'] = df33['School Enrollment 10/30/20'].astype(float)
df33['School On-Campus Enrollment 10/30/20'] = df33['School On-Campus Enrollment 10/30/20'].astype(float)
df33['Cumulative Student Cases 12/13/20'] = df33['Cumulative Student Cases 12/13/20'].astype(float)
df33['Cumulative Staff Cases 12/13/20'] = df33['Cumulative Staff Cases 12/13/20'].astype(float)

# remove ' symbol from District ID
df33['District LEA #'] = df33['District LEA #'].astype(str)
df33['District LEA #'] = df33['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df33.dropna(subset = ['School Enrollment 10/30/20'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df33['% District On-Campus 10/30/20'] = df33['Approx. District On-Campus Enrollment 10/30/20'] / df33['District Enrollment 10/30/20']
df33['% School On-Campus 10/30/20'] = df33['School On-Campus Enrollment 10/30/20'] / df33['School Enrollment 10/30/20']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df33['% Students with COVID 12/13/20'] = df33['Cumulative Student Cases 12/13/20'] / df33['School Enrollment 10/30/20']

In [151]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df33_d = df33[df33['Campus Name'].isna()]
df33_district = df33_d.drop(columns = ['Campus Name', 'Campus ID'])

df33_district.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 12/13/20,Cumulative Staff Cases 12/13/20,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 12/13/20
3,CAYUGA ISD TOTAL,001902,535.0,489.0,535.0,489.0,29.0,18.0,0.914019,0.914019,0.054206
10,ELKHART ISD TOTAL,001903,1200.0,1092.0,1200.0,1092.0,15.0,24.0,0.910000,0.910000,0.012500
15,FRANKSTON ISD TOTAL,001904,836.0,768.0,836.0,768.0,3.0,13.0,0.918660,0.918660,0.003589
19,NECHES ISD TOTAL,001906,339.0,339.0,339.0,339.0,3.0,6.0,1.000000,1.000000,0.008850
26,PALESTINE ISD TOTAL,001907,3399.0,2908.0,3399.0,2908.0,42.0,34.0,0.855546,0.855546,0.012357
31,WESTWOOD ISD TOTAL,001908,1352.0,1185.0,1352.0,1185.0,3.0,29.0,0.876479,0.876479,0.002219
34,SLOCUM ISD TOTAL,001909,364.0,335.0,364.0,335.0,13.0,11.0,0.920330,0.920330,0.035714
42,ANDREWS ISD TOTAL,002901,4149.0,3654.0,4149.0,3654.0,80.0,49.0,0.880694,0.880694,0.019282
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,996.0,757.0,996.0,757.0,3.0,7.0,0.760040,0.760040,0.003012
53,HUDSON ISD TOTAL,003902,2783.0,2526.0,2783.0,2526.0,46.0,17.0,0.907654,0.907654,0.016529

In [152]:
# remove district totals from the campus dataframe
df33.drop(df33_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df33['Campus ID'] = df33['Campus ID'].astype(str)
df33['Campus ID'] = df33['Campus ID'].map(lambda x: x.lstrip("'"))

df33.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 12/13/20,Cumulative Staff Cases 12/13/20,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 12/13/20
0,CAYUGA ISD,001902,535.0,489.0,CAYUGA EL,001902103,236.0,208.0,7.0,3.0,0.914019,0.881356,0.029661
1,CAYUGA ISD,001902,535.0,489.0,CAYUGA MIDDLE,001902041,133.0,126.0,9.0,4.0,0.914019,0.947368,0.067669
2,CAYUGA ISD,001902,535.0,489.0,CAYUGA H S,001902001,166.0,155.0,13.0,11.0,0.914019,0.933735,0.078313
5,ELKHART ISD,001903,1200.0,1092.0,ELKHART INT,001903102,266.0,231.0,3.0,4.0,0.910000,0.868421,0.011278
6,ELKHART ISD,001903,1200.0,1092.0,ELKHART MIDDLE,001903041,268.0,260.0,3.0,4.0,0.910000,0.970149,0.011194
7,ELKHART ISD,001903,1200.0,1092.0,ELKHART EL,001903101,322.0,291.0,3.0,6.0,0.910000,0.903727,0.009317
9,ELKHART ISD,001903,1200.0,1092.0,ELKHART H S,001903001,344.0,310.0,6.0,2.0,0.910000,0.901163,0.017442
11,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON MIDDLE,001904041,200.0,189.0,3.0,4.0,0.918660,0.945000,0.015000
13,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON EL,001904102,343.0,310.0,5.0,5.0,0.918660,0.903790,0.014577
14,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON H S,001904001,293.0,269.0,15.0,3.0,0.918660,0.918089,0.051195

In [153]:
# column names
columns34 = ['District Name', \
          'District LEA #', \
          'District Enrollment 10/30/20', \
          'Approx. District On-Campus Enrollment 10/30/20', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 10/30/20', \
          'School On-Campus Enrollment 10/30/20', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 12/06/20', \
          'Cumulative Staff Cases 12/06/20', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df34 = pd.read_csv('../covid data/covid_120620.csv', header = 6, names = columns34, na_values=["NR", "."])

df34.head()

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 12/06/20,Cumulative Staff Cases 12/06/20,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,A W BROWN LEADERSHIP ACADEMY,'057816,1382.0,556.0,QUEST CAMPUS KINDER THRU 8,'057816101,611.0,175.0,NaN,NaN,NaN,NaN,NaN,*,2.0,*,*,*
1,A W BROWN LEADERSHIP ACADEMY,'057816,1382.0,556.0,GENESIS CAMPUS PRE-K THRU 5,'057816102,771.0,381.0,0,1.0,0,1,0,*,7.0,*,*,*
2,A W BROWN LEADERSHIP ACADEMY TOTAL,'057816,1382.0,556.0,NaN,NaN,1382.0,556.0,0,1.0,0,1,0,*,9.0,*,*,*
3,A+ ACADEMY,'057829,1456.0,803.0,A+ SECONDARY SCHOOL,'057829002,660.0,312.0,NaN,NaN,NaN,NaN,NaN,*,1.0,*,*,*
4,A+ ACADEMY,'057829,1456.0,803.0,A+ ACADEMY EL,'057829001,796.0,491.0,*,0.0,*,*,*,*,4.0,*,*,*

In [154]:
# drop new case columns and source columns   
df34.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df34['Campus ID'].value_counts())
multiple_campus = df34[df34['Campus ID'] == 'Multiple\nCampus']
df34.drop(multiple_campus.index, inplace=True)
#print(df34['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df34.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df34.replace('*', 3, inplace = True)

# treat numeric features as float
df34['District Enrollment 10/30/20'] = df34['District Enrollment 10/30/20'].astype(float)
df34['Approx. District On-Campus Enrollment 10/30/20'] = df34['Approx. District On-Campus Enrollment 10/30/20'].astype(float)
df34['School Enrollment 10/30/20'] = df34['School Enrollment 10/30/20'].astype(float)
df34['School On-Campus Enrollment 10/30/20'] = df34['School On-Campus Enrollment 10/30/20'].astype(float)
df34['Cumulative Student Cases 12/06/20'] = df34['Cumulative Student Cases 12/06/20'].astype(float)
df34['Cumulative Staff Cases 12/06/20'] = df34['Cumulative Staff Cases 12/06/20'].astype(float)

# remove ' symbol from District ID
df34['District LEA #'] = df34['District LEA #'].astype(str)
df34['District LEA #'] = df34['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df34.dropna(subset = ['School Enrollment 10/30/20'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df34['% District On-Campus 10/30/20'] = df34['Approx. District On-Campus Enrollment 10/30/20'] / df34['District Enrollment 10/30/20']
df34['% School On-Campus 10/30/20'] = df34['School On-Campus Enrollment 10/30/20'] / df34['School Enrollment 10/30/20']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df34['% Students with COVID 12/06/20'] = df34['Cumulative Student Cases 12/06/20'] / df34['School Enrollment 10/30/20']

In [155]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df34_d = df34[df34['Campus Name'].isna()]
df34_district = df34_d.drop(columns = ['Campus Name', 'Campus ID'])

df34_district.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 12/06/20,Cumulative Staff Cases 12/06/20,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 12/06/20
2,A W BROWN LEADERSHIP ACADEMY TOTAL,057816,1382.0,556.0,1382.0,556.0,3.0,9.0,0.402315,0.402315,0.002171
5,A+ ACADEMY TOTAL,057829,1456.0,803.0,1456.0,803.0,3.0,5.0,0.551511,0.551511,0.002060
8,A+ UNLIMITED POTENTIAL TOTAL,101871,153.0,58.0,153.0,58.0,3.0,0.0,0.379085,0.379085,0.019608
11,ABBOTT ISD TOTAL,109901,276.0,267.0,276.0,267.0,9.0,5.0,0.967391,0.967391,0.032609
17,ABERNATHY ISD TOTAL,095901,805.0,744.0,805.0,744.0,3.0,7.0,0.924224,0.924224,0.003727
49,ABILENE ISD TOTAL,221901,15844.0,13369.0,15844.0,13369.0,229.0,223.0,0.843789,0.843789,0.014453
55,ACADEMY FOR ACADEMIC EXCELLENCE TOTAL,057814,321.0,126.0,321.0,126.0,3.0,3.0,0.392523,0.392523,0.009346
62,ACADEMY ISD TOTAL,014901,1727.0,1549.0,1727.0,1549.0,11.0,10.0,0.896931,0.896931,0.006369
64,ACADEMY OF ACCELERATED\nLEARNING INC TOTAL,101810,852.0,342.0,852.0,342.0,0.0,2.0,0.401408,0.401408,0.000000
66,ACADEMY OF DALLAS TOTAL,057810,341.0,148.0,341.0,148.0,0.0,3.0,0.434018,0.434018,0.000000

In [156]:
# remove district totals from the campus dataframe
df34.drop(df34_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df34['Campus ID'] = df34['Campus ID'].astype(str)
df34['Campus ID'] = df34['Campus ID'].map(lambda x: x.lstrip("'"))

df34.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 12/06/20,Cumulative Staff Cases 12/06/20,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 12/06/20
0,A W BROWN LEADERSHIP ACADEMY,057816,1382.0,556.0,QUEST CAMPUS KINDER THRU 8,057816101,611.0,175.0,3.0,2.0,0.402315,0.286416,0.004910
1,A W BROWN LEADERSHIP ACADEMY,057816,1382.0,556.0,GENESIS CAMPUS PRE-K THRU 5,057816102,771.0,381.0,3.0,7.0,0.402315,0.494163,0.003891
3,A+ ACADEMY,057829,1456.0,803.0,A+ SECONDARY SCHOOL,057829002,660.0,312.0,3.0,1.0,0.551511,0.472727,0.004545
4,A+ ACADEMY,057829,1456.0,803.0,A+ ACADEMY EL,057829001,796.0,491.0,3.0,4.0,0.551511,0.616834,0.003769
7,A+ UNLIMITED POTENTIAL,101871,153.0,58.0,A+ UNLIMITED POTENTIAL -\nUNIVERSITY,101871102,153.0,58.0,3.0,0.0,0.379085,0.379085,0.019608
10,ABBOTT ISD,109901,276.0,267.0,ABBOTT SCHOOL,109901001,276.0,267.0,9.0,5.0,0.967391,0.967391,0.032609
13,ABERNATHY ISD,095901,805.0,744.0,ABERNATHY MIDDLE,095901041,163.0,151.0,NaN,NaN,0.924224,0.926380,NaN
14,ABERNATHY ISD,095901,805.0,744.0,ABERNATHY EL,095901101,392.0,364.0,3.0,0.0,0.924224,0.928571,0.007653
16,ABERNATHY ISD,095901,805.0,744.0,ABERNATHY H S,095901001,250.0,229.0,7.0,3.0,0.924224,0.916000,0.028000
18,ABILENE ISD,221901,15844.0,13369.0,TAYLOR COUNTY LEARNING\nCENTER,221901007,3.0,3.0,NaN,NaN,0.843789,1.000000,NaN

In [157]:
# column names
columns35 = ['District Name', \
          'District LEA #', \
          'District Enrollment 10/30/20', \
          'Approx. District On-Campus Enrollment 10/30/20', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 10/30/20', \
          'School On-Campus Enrollment 10/30/20', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 11/29/20', \
          'Cumulative Staff Cases 11/29/20', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df35 = pd.read_csv('../covid data/covid_112920.csv', header = 6, names = columns35, na_values=["NR", "."])

df35.head(8)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 11/29/20,Cumulative Staff Cases 11/29/20,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,535.0,489.0,CAYUGA EL,'001902103,236.0,208.0,NaN,NaN,NaN,NaN,NaN,6,3.0,2,6,1
1,CAYUGA ISD,'001902,535.0,489.0,CAYUGA MIDDLE,'001902041,133.0,126.0,NaN,NaN,NaN,NaN,NaN,9,4.0,2,5,6
2,CAYUGA ISD,'001902,535.0,489.0,CAYUGA H S,'001902001,166.0,155.0,NaN,NaN,NaN,NaN,NaN,13,11.0,3,10,11
3,CAYUGA ISD TOTAL,'001902,535.0,489.0,NaN,NaN,535.0,489.0,NaN,NaN,NaN,NaN,NaN,28,18.0,7,21,18
4,ELKHART ISD,'001903,1200.0,1092.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,ELKHART ISD,'001903,1200.0,1092.0,ELKHART H S,'001903001,344.0,310.0,NaN,NaN,NaN,NaN,NaN,*,1.0,*,*,*
6,ELKHART ISD,'001903,1200.0,1092.0,ELKHART EL,'001903101,322.0,291.0,NaN,NaN,NaN,NaN,NaN,*,2.0,*,*,*
7,ELKHART ISD,'001903,1200.0,1092.0,ELKHART MIDDLE,'001903041,268.0,260.0,0,1.0,0,0,1,*,4.0,*,*,*

In [158]:
# drop new case columns and source columns   
df35.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df35['Campus ID'].value_counts())
multiple_campus = df35[df35['Campus ID'] == 'Multiple\nCampus']
df35.drop(multiple_campus.index, inplace=True)
#print(df35['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df35.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df35.replace('*', 3, inplace = True)

# treat numeric features as float
df35['District Enrollment 10/30/20'] = df35['District Enrollment 10/30/20'].astype(float)
df35['Approx. District On-Campus Enrollment 10/30/20'] = df35['Approx. District On-Campus Enrollment 10/30/20'].astype(float)
df35['School Enrollment 10/30/20'] = df35['School Enrollment 10/30/20'].astype(float)
df35['School On-Campus Enrollment 10/30/20'] = df35['School On-Campus Enrollment 10/30/20'].astype(float)
df35['Cumulative Student Cases 11/29/20'] = df35['Cumulative Student Cases 11/29/20'].astype(float)
df35['Cumulative Staff Cases 11/29/20'] = df35['Cumulative Staff Cases 11/29/20'].astype(float)

# remove ' symbol from District ID
df35['District LEA #'] = df35['District LEA #'].astype(str)
df35['District LEA #'] = df35['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df35.dropna(subset = ['School Enrollment 10/30/20'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df35['% District On-Campus 10/30/20'] = df35['Approx. District On-Campus Enrollment 10/30/20'] / df35['District Enrollment 10/30/20']
df35['% School On-Campus 10/30/20'] = df35['School On-Campus Enrollment 10/30/20'] / df35['School Enrollment 10/30/20']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df35['% Students with COVID 11/29/20'] = df35['Cumulative Student Cases 11/29/20'] / df35['School Enrollment 10/30/20']

In [159]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df35_d = df35[df35['Campus Name'].isna()]
df35_district = df35_d.drop(columns = ['Campus Name', 'Campus ID'])

df35_district.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 11/29/20,Cumulative Staff Cases 11/29/20,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 11/29/20
3,CAYUGA ISD TOTAL,001902,535.0,489.0,535.0,489.0,28.0,18.0,0.914019,0.914019,0.052336
10,ELKHART ISD TOTAL,001903,1200.0,1092.0,1200.0,1092.0,9.0,18.0,0.910000,0.910000,0.007500
15,FRANKSTON ISD TOTAL,001904,836.0,768.0,836.0,768.0,3.0,10.0,0.918660,0.918660,0.003589
19,NECHES ISD TOTAL,001906,339.0,339.0,339.0,339.0,3.0,3.0,1.000000,1.000000,0.008850
26,PALESTINE ISD TOTAL,001907,3399.0,2908.0,3399.0,2908.0,40.0,30.0,0.855546,0.855546,0.011768
31,WESTWOOD ISD TOTAL,001908,1352.0,1185.0,1352.0,1185.0,3.0,24.0,0.876479,0.876479,0.002219
34,SLOCUM ISD TOTAL,001909,364.0,335.0,364.0,335.0,3.0,8.0,0.920330,0.920330,0.008242
42,ANDREWS ISD TOTAL,002901,4149.0,3654.0,4149.0,3654.0,63.0,46.0,0.880694,0.880694,0.015184
47,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,996.0,757.0,996.0,757.0,3.0,5.0,0.760040,0.760040,0.003012
53,HUDSON ISD TOTAL,003902,2783.0,2526.0,2783.0,2526.0,37.0,8.0,0.907654,0.907654,0.013295

In [160]:
# remove district totals from the campus dataframe
df35.drop(df35_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df35['Campus ID'] = df35['Campus ID'].astype(str)
df35['Campus ID'] = df35['Campus ID'].map(lambda x: x.lstrip("'"))

df35.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 11/29/20,Cumulative Staff Cases 11/29/20,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 11/29/20
0,CAYUGA ISD,001902,535.0,489.0,CAYUGA EL,001902103,236.0,208.0,6.0,3.0,0.914019,0.881356,0.025424
1,CAYUGA ISD,001902,535.0,489.0,CAYUGA MIDDLE,001902041,133.0,126.0,9.0,4.0,0.914019,0.947368,0.067669
2,CAYUGA ISD,001902,535.0,489.0,CAYUGA H S,001902001,166.0,155.0,13.0,11.0,0.914019,0.933735,0.078313
5,ELKHART ISD,001903,1200.0,1092.0,ELKHART H S,001903001,344.0,310.0,3.0,1.0,0.910000,0.901163,0.008721
6,ELKHART ISD,001903,1200.0,1092.0,ELKHART EL,001903101,322.0,291.0,3.0,2.0,0.910000,0.903727,0.009317
7,ELKHART ISD,001903,1200.0,1092.0,ELKHART MIDDLE,001903041,268.0,260.0,3.0,4.0,0.910000,0.970149,0.011194
8,ELKHART ISD,001903,1200.0,1092.0,ELKHART INT,001903102,266.0,231.0,3.0,3.0,0.910000,0.868421,0.011278
11,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON MIDDLE,001904041,200.0,189.0,3.0,3.0,0.918660,0.945000,0.015000
12,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON EL,001904102,343.0,310.0,3.0,4.0,0.918660,0.903790,0.008746
14,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON H S,001904001,293.0,269.0,12.0,2.0,0.918660,0.918089,0.040956

In [161]:
# column names
columns36 = ['District Name', \
          'District LEA #', \
          'District Enrollment 10/30/20', \
          'Approx. District On-Campus Enrollment 10/30/20', \
          'Campus Name', \
          'Campus ID', \
          'School Enrollment 10/30/20', \
          'School On-Campus Enrollment 10/30/20', \
          'New Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative Student Cases 11/22/20', \
          'Cumulative Staff Cases 11/22/20', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df36 = pd.read_csv('../covid data/covid_112220.csv', header = 6, names = columns36, na_values=["NR", "."])

df36.head()

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,New Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative Student Cases 11/22/20,Cumulative Staff Cases 11/22/20,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,CAYUGA ISD,'001902,535.0,489.0,CAYUGA EL,'001902103,236.0,208.0,NaN,NaN,NaN,NaN,NaN,6,3.0,2,6,1
1,CAYUGA ISD,'001902,535.0,489.0,CAYUGA MIDDLE,'001902041,133.0,126.0,NaN,NaN,NaN,NaN,NaN,7,3.0,1,5,4
2,CAYUGA ISD,'001902,535.0,489.0,CAYUGA H S,'001902001,166.0,155.0,NaN,NaN,NaN,NaN,NaN,13,11.0,3,10,11
3,CAYUGA ISD TOTAL,'001902,535.0,489.0,NaN,NaN,535.0,489.0,NaN,NaN,NaN,NaN,NaN,26,17.0,6,21,16
4,ELKHART ISD,'001903,1200.0,1092.0,ELKHART DAEP,'001903002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [162]:
# drop new case columns and source columns   
df36.drop(columns = ['New Student Cases', \
                   'New Staff Cases', \
                   'New School Reported Infection Source On-Campus', \
                   'New School Reported Infection Source Off-Campus', \
                   'New School Reported Infection Source Unknown', \
                   'Cumulative School Reported Infection Source On-Campus', \
                   'Cumulative School Reported Infection Source Off-Campus', \
                   'Cumulative School Reported Infection Source Unknown'], \
                    inplace = True)

# extract 'Multiple Campus' instances, and remove them from the dataframe
#print(df36['Campus ID'].value_counts())
multiple_campus = df36[df36['Campus ID'] == 'Multiple\nCampus']
df36.drop(multiple_campus.index, inplace=True)
#print(df36['Campus ID'].value_counts())

# replace blank space with 0 or np.NaN
df36.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df36.replace('*', 3, inplace = True)

# treat numeric features as float
df36['District Enrollment 10/30/20'] = df36['District Enrollment 10/30/20'].astype(float)
df36['Approx. District On-Campus Enrollment 10/30/20'] = df36['Approx. District On-Campus Enrollment 10/30/20'].astype(float)
df36['School Enrollment 10/30/20'] = df36['School Enrollment 10/30/20'].astype(float)
df36['School On-Campus Enrollment 10/30/20'] = df36['School On-Campus Enrollment 10/30/20'].astype(float)
df36['Cumulative Student Cases 11/22/20'] = df36['Cumulative Student Cases 11/22/20'].astype(float)
df36['Cumulative Staff Cases 11/22/20'] = df36['Cumulative Staff Cases 11/22/20'].astype(float)

# remove ' symbol from District ID
df36['District LEA #'] = df36['District LEA #'].astype(str)
df36['District LEA #'] = df36['District LEA #'].map(lambda x: x.lstrip("'"))

# remove schools that report to have no record of enrollment
df36.dropna(subset = ['School Enrollment 10/30/20'], inplace = True)

# create a new column for the % of on-campus students per district and per school
df36['% District On-Campus 10/30/20'] = df36['Approx. District On-Campus Enrollment 10/30/20'] / df36['District Enrollment 10/30/20']
df36['% School On-Campus 10/30/20'] = df36['School On-Campus Enrollment 10/30/20'] / df36['School Enrollment 10/30/20']

# create a new column for % of students (per school and per district) with COVID
# (note this is okay to calculate both as district total rows have District Enrollment = School Enrollment)
df36['% Students with COVID 11/22/20'] = df36['Cumulative Student Cases 11/22/20'] / df36['School Enrollment 10/30/20']

In [163]:
# extract district totals and store them into a new dataframe
# then remove campus level information from the district dataframe
df36_d = df36[df36['Campus Name'].isna()]
df36_district = df36_d.drop(columns = ['Campus Name', 'Campus ID'])

df36_district.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 11/22/20,Cumulative Staff Cases 11/22/20,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 11/22/20
3,CAYUGA ISD TOTAL,001902,535.0,489.0,535.0,489.0,26.0,17.0,0.914019,0.914019,0.048598
10,ELKHART ISD TOTAL,001903,1200.0,1092.0,1200.0,1092.0,9.0,16.0,0.910000,0.910000,0.007500
14,FRANKSTON ISD TOTAL,001904,836.0,768.0,836.0,768.0,3.0,6.0,0.918660,0.918660,0.003589
18,NECHES ISD TOTAL,001906,339.0,339.0,339.0,339.0,3.0,3.0,1.000000,1.000000,0.008850
25,PALESTINE ISD TOTAL,001907,3399.0,2908.0,3399.0,2908.0,40.0,29.0,0.855546,0.855546,0.011768
30,WESTWOOD ISD TOTAL,001908,1352.0,1185.0,1352.0,1185.0,3.0,24.0,0.876479,0.876479,0.002219
33,SLOCUM ISD TOTAL,001909,364.0,335.0,364.0,335.0,3.0,3.0,0.920330,0.920330,0.008242
41,ANDREWS ISD TOTAL,002901,4149.0,3654.0,4149.0,3654.0,63.0,46.0,0.880694,0.880694,0.015184
46,PINEYWOODS COMMUNITY\nACADEMY TOTAL,003801,996.0,757.0,996.0,757.0,3.0,3.0,0.760040,0.760040,0.003012
52,HUDSON ISD TOTAL,003902,2783.0,2526.0,2783.0,2526.0,36.0,8.0,0.907654,0.907654,0.012936

In [164]:
# remove district totals from the campus dataframe
df36.drop(df36_d.index, inplace=True)

# remove ' symbol from Campus ID in campus dataframe
df36['Campus ID'] = df36['Campus ID'].astype(str)
df36['Campus ID'] = df36['Campus ID'].map(lambda x: x.lstrip("'"))

df36.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Campus Name,Campus ID,School Enrollment 10/30/20,School On-Campus Enrollment 10/30/20,Cumulative Student Cases 11/22/20,Cumulative Staff Cases 11/22/20,% District On-Campus 10/30/20,% School On-Campus 10/30/20,% Students with COVID 11/22/20
0,CAYUGA ISD,001902,535.0,489.0,CAYUGA EL,001902103,236.0,208.0,6.0,3.0,0.914019,0.881356,0.025424
1,CAYUGA ISD,001902,535.0,489.0,CAYUGA MIDDLE,001902041,133.0,126.0,7.0,3.0,0.914019,0.947368,0.052632
2,CAYUGA ISD,001902,535.0,489.0,CAYUGA H S,001902001,166.0,155.0,13.0,11.0,0.914019,0.933735,0.078313
5,ELKHART ISD,001903,1200.0,1092.0,ELKHART H S,001903001,344.0,310.0,3.0,1.0,0.910000,0.901163,0.008721
6,ELKHART ISD,001903,1200.0,1092.0,ELKHART MIDDLE,001903041,268.0,260.0,3.0,3.0,0.910000,0.970149,0.011194
7,ELKHART ISD,001903,1200.0,1092.0,ELKHART EL,001903101,322.0,291.0,3.0,2.0,0.910000,0.903727,0.009317
8,ELKHART ISD,001903,1200.0,1092.0,ELKHART INT,001903102,266.0,231.0,3.0,2.0,0.910000,0.868421,0.011278
11,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON MIDDLE,001904041,200.0,189.0,3.0,2.0,0.918660,0.945000,0.015000
12,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON EL,001904102,343.0,310.0,3.0,3.0,0.918660,0.903790,0.008746
13,FRANKSTON ISD,001904,836.0,768.0,FRANKSTON H S,001904001,293.0,269.0,12.0,1.0,0.918660,0.918089,0.040956

In [165]:
# column names
columns37 = ['District Name', \
          'District LEA #', \
          'District Enrollment 10/30/20', \
          'Approx. District On-Campus Enrollment 10/30/20', \
          'New EE-G3 Student Cases', \
          'New G4-G6 Student Cases', \
          'New G7-G12 Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative EE-G3 Student Cases 11/15/20', \
          'Cumulative G4-G6 Student Cases 11/15/20', \
          'Cumulative G7-G12 Student Cases 11/15/20', \
          'Cumulative Staff Cases 11/15/20', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df37 = pd.read_csv('../covid data/covid_111520.csv', header = 6, names = columns37, na_values=["NR", "."])
df37.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,New EE-G3 Student Cases,New G4-G6 Student Cases,New G7-G12 Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative EE-G3 Student Cases 11/15/20,Cumulative G4-G6 Student Cases 11/15/20,Cumulative G7-G12 Student Cases 11/15/20,Cumulative Staff Cases 11/15/20,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,A W BROWN LEADERSHIP\nACADEMY,'057816,1382.0,556.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,0,2,4,0,7,2
1,A+ ACADEMY,'057829,1456.0,803.0,0,0,1,1,0,2,0,1,0,2,3,0,5,1
2,A+ UNLIMITED POTENTIAL,'101871,153.0,58.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABBOTT ISD,'109901,276.0,267.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,0,0,1,0
4,ABERNATHY ISD,'095901,805.0,744.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,11,7,0,9,12
5,ABILENE ISD,'221901,15844.0,13369.0,7,5,26,29,0,31,36,17,19,141,141,0,158,160
6,ACADEMY FOR ACADEMIC\nEXCELLENCE,'057814,321.0,126.0,0,0,8,0,8,0,0,0,0,11,1,10,0,2
7,ACADEMY ISD,'014901,1727.0,1549.0,0,0,2,1,0,0,3,0,0,5,5,0,0,10
8,ACADEMY OF ACCELERATED\nLEARNING INC,'101810,852.0,342.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,2,0,2,0
9,ACADEMY OF DALLAS,'057810,341.0,148.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,2,0,1,1

In [166]:
# drop new case columns and source columns   
df37.drop(columns = ['New EE-G3 Student Cases', \
                     'New G4-G6 Student Cases', \
                     'New G7-G12 Student Cases', \
                     'New Staff Cases', \
                     'New School Reported Infection Source On-Campus', \
                     'New School Reported Infection Source Off-Campus', \
                     'New School Reported Infection Source Unknown', \
                     'Cumulative School Reported Infection Source On-Campus', \
                     'Cumulative School Reported Infection Source Off-Campus', \
                     'Cumulative School Reported Infection Source Unknown'], \
                     inplace = True)

# replace blank space with 0 or np.NaN
df37.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df37.replace('*', 3, inplace = True)

# treat numeric features as float
df37['District Enrollment 10/30/20'] = df37['District Enrollment 10/30/20'].astype(float)
df37['Approx. District On-Campus Enrollment 10/30/20'] = df37['Approx. District On-Campus Enrollment 10/30/20'].astype(float)
df37['Cumulative EE-G3 Student Cases 11/15/20'] = df37['Cumulative EE-G3 Student Cases 11/15/20'].astype(float)
df37['Cumulative G4-G6 Student Cases 11/15/20'] = df37['Cumulative G4-G6 Student Cases 11/15/20'].astype(float)
df37['Cumulative G7-G12 Student Cases 11/15/20'] = df37['Cumulative G7-G12 Student Cases 11/15/20'].astype(float)
df37['Cumulative Staff Cases 11/15/20'] = df37['Cumulative Staff Cases 11/15/20'].astype(float)

# remove ' symbol from District ID
df37['District LEA #'] = df37['District LEA #'].astype(str)
df37['District LEA #'] = df37['District LEA #'].map(lambda x: x.lstrip("'"))

# create a new column for the % of on-campus students per district and per school
df37['% District On-Campus 10/30/20'] = df37['Approx. District On-Campus Enrollment 10/30/20'] / df37['District Enrollment 10/30/20']

# total all student cases into a single column
df37['Cumulative Student Cases 11/15/20'] = df37['Cumulative EE-G3 Student Cases 11/15/20'] + \
                                            df37['Cumulative G4-G6 Student Cases 11/15/20'] + \
                                            df37['Cumulative G7-G12 Student Cases 11/15/20']

# drop cases by grade
df37.drop(columns = ['Cumulative EE-G3 Student Cases 11/15/20', \
                     'Cumulative G4-G6 Student Cases 11/15/20', \
                     'Cumulative G7-G12 Student Cases 11/15/20'], \
                     inplace = True)

# create a new column for % of students (per district) with COVID
df37['% Students with COVID 11/15/20'] = df37['Cumulative Student Cases 11/15/20'] / df37['District Enrollment 10/30/20']

In [167]:
df37.head(10)

,District Name,District LEA #,District Enrollment 10/30/20,Approx. District On-Campus Enrollment 10/30/20,Cumulative Staff Cases 11/15/20,% District On-Campus 10/30/20,Cumulative Student Cases 11/15/20,% Students with COVID 11/15/20
0,A W BROWN LEADERSHIP\nACADEMY,057816,1382.0,556.0,4.0,0.402315,5.0,0.003618
1,A+ ACADEMY,057829,1456.0,803.0,3.0,0.551511,3.0,0.002060
2,A+ UNLIMITED POTENTIAL,101871,153.0,58.0,NaN,0.379085,NaN,NaN
3,ABBOTT ISD,109901,276.0,267.0,0.0,0.967391,1.0,0.003623
4,ABERNATHY ISD,095901,805.0,744.0,7.0,0.924224,14.0,0.017391
5,ABILENE ISD,221901,15844.0,13369.0,141.0,0.843789,177.0,0.011171
6,ACADEMY FOR ACADEMIC\nEXCELLENCE,057814,321.0,126.0,1.0,0.392523,11.0,0.034268
7,ACADEMY ISD,014901,1727.0,1549.0,5.0,0.896931,5.0,0.002895
8,ACADEMY OF ACCELERATED\nLEARNING INC,101810,852.0,342.0,2.0,0.401408,0.0,0.000000
9,ACADEMY OF DALLAS,057810,341.0,148.0,2.0,0.434018,0.0,0.000000

In [169]:
# column names
columns38 = ['District Name', \
          'District LEA #', \
          'District Enrollment 09/28/20', \
          'Approx. District On-Campus Enrollment 09/28/20', \
          'New EE-G3 Student Cases', \
          'New G4-G6 Student Cases', \
          'New G7-G12 Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative EE-G3 Student Cases 11/08/20', \
          'Cumulative G4-G6 Student Cases 11/08/20', \
          'Cumulative G7-G12 Student Cases 11/08/20', \
          'Cumulative Staff Cases 11/08/20', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df38 = pd.read_csv('../covid data/covid_110820.csv', header = 6, names = columns38, na_values=["NR", "."])

df38.head()

,District Name,District LEA #,District Enrollment 09/28/20,Approx. District On-Campus Enrollment 09/28/20,New EE-G3 Student Cases,New G4-G6 Student Cases,New G7-G12 Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative EE-G3 Student Cases 11/08/20,Cumulative G4-G6 Student Cases 11/08/20,Cumulative G7-G12 Student Cases 11/08/20,Cumulative Staff Cases 11/08/20,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,A W BROWN LEADERSHIP\nACADEMY,'057816,1343.0,557.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,1,0,2,0
1,A+ ACADEMY,'057829,1314.0,477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,2,0,3,1
2,A+ UNLIMITED POTENTIAL,'101871,152.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABBOTT ISD,'109901,288.0,266.0,0,0,1,0,0,1,0,0,0,1,0,0,1,0
4,ABERNATHY ISD,'095901,803.0,753.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,11,7,0,9,12

In [170]:
# drop new case columns and source columns   
df38.drop(columns = ['New EE-G3 Student Cases', \
                     'New G4-G6 Student Cases', \
                     'New G7-G12 Student Cases', \
                     'New Staff Cases', \
                     'New School Reported Infection Source On-Campus', \
                     'New School Reported Infection Source Off-Campus', \
                     'New School Reported Infection Source Unknown', \
                     'Cumulative School Reported Infection Source On-Campus', \
                     'Cumulative School Reported Infection Source Off-Campus', \
                     'Cumulative School Reported Infection Source Unknown'], \
                     inplace = True)

# replace blank space with 0 or np.NaN
df38.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df38.replace('*', 3, inplace = True)

# treat numeric features as float
df38['District Enrollment 09/28/20'] = df38['District Enrollment 09/28/20'].astype(float)
df38['Approx. District On-Campus Enrollment 09/28/20'] = df38['Approx. District On-Campus Enrollment 09/28/20'].astype(float)
df38['Cumulative EE-G3 Student Cases 11/08/20'] = df38['Cumulative EE-G3 Student Cases 11/08/20'].astype(float)
df38['Cumulative G4-G6 Student Cases 11/08/20'] = df38['Cumulative G4-G6 Student Cases 11/08/20'].astype(float)
df38['Cumulative G7-G12 Student Cases 11/08/20'] = df38['Cumulative G7-G12 Student Cases 11/08/20'].astype(float)
df38['Cumulative Staff Cases 11/08/20'] = df38['Cumulative Staff Cases 11/08/20'].astype(float)

# remove ' symbol from District ID
df38['District LEA #'] = df38['District LEA #'].astype(str)
df38['District LEA #'] = df38['District LEA #'].map(lambda x: x.lstrip("'"))

# create a new column for the % of on-campus students per district and per school
df38['% District On-Campus 09/28/20'] = df38['Approx. District On-Campus Enrollment 09/28/20'] / df38['District Enrollment 09/28/20']

# total all student cases into a single column
df38['Cumulative Student Cases 11/08/20'] = df38['Cumulative EE-G3 Student Cases 11/08/20'] + \
                                            df38['Cumulative G4-G6 Student Cases 11/08/20'] + \
                                            df38['Cumulative G7-G12 Student Cases 11/08/20']

# drop cases by grade
df38.drop(columns = ['Cumulative EE-G3 Student Cases 11/08/20', \
                     'Cumulative G4-G6 Student Cases 11/08/20', \
                     'Cumulative G7-G12 Student Cases 11/08/20'], \
                     inplace = True)

# create a new column for % of students (per district) with COVID
df38['% Students with COVID 11/08/20'] = df38['Cumulative Student Cases 11/08/20'] / df38['District Enrollment 09/28/20']

In [171]:
df38.head(10)

,District Name,District LEA #,District Enrollment 09/28/20,Approx. District On-Campus Enrollment 09/28/20,Cumulative Staff Cases 11/08/20,% District On-Campus 09/28/20,Cumulative Student Cases 11/08/20,% Students with COVID 11/08/20
0,A W BROWN LEADERSHIP\nACADEMY,057816,1343.0,557.0,1.0,0.414743,1.0,0.000745
1,A+ ACADEMY,057829,1314.0,477.0,2.0,0.363014,2.0,0.001522
2,A+ UNLIMITED POTENTIAL,101871,152.0,23.0,NaN,0.151316,NaN,NaN
3,ABBOTT ISD,109901,288.0,266.0,0.0,0.923611,1.0,0.003472
4,ABERNATHY ISD,095901,803.0,753.0,7.0,0.937733,14.0,0.017435
5,ABILENE ISD,221901,15672.0,12933.0,112.0,0.825230,136.0,0.008678
6,ACADEMY FOR ACADEMIC\nEXCELLENCE,057814,294.0,8.0,3.0,0.027211,9.0,0.030612
7,ACADEMY ISD,014901,1749.0,1432.0,3.0,0.818754,3.0,0.001715
8,ACADEMY OF ACCELERATED\nLEARNING INC,101810,857.0,149.0,2.0,0.173862,0.0,0.000000
9,ACADEMY OF DALLAS,057810,294.0,0.0,3.0,0.000000,9.0,0.030612

In [174]:
# column names
columns39 = ['District Name', \
          'District LEA #', \
          'District Enrollment 09/28/20', \
          'Approx. District On-Campus Enrollment 09/28/20', \
          'New EE-G3 Student Cases', \
          'New G4-G6 Student Cases', \
          'New G7-G12 Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative EE-G3 Student Cases 11/01/20', \
          'Cumulative G4-G6 Student Cases 11/01/20', \
          'Cumulative G7-G12 Student Cases 11/01/20', \
          'Cumulative Staff Cases 11/01/20', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df39 = pd.read_csv('../covid data/covid_110120.csv', header = 6, names = columns39, na_values=["NR", "."])

df39.head()

,District Name,District LEA #,District Enrollment 09/28/20,Approx. District On-Campus Enrollment 09/28/20,New EE-G3 Student Cases,New G4-G6 Student Cases,New G7-G12 Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative EE-G3 Student Cases 11/01/20,Cumulative G4-G6 Student Cases 11/01/20,Cumulative G7-G12 Student Cases 11/01/20,Cumulative Staff Cases 11/01/20,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,A W BROWN LEADERSHIP\nACADEMY,'057816,1343.0,557.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,1,0,2,0
1,A+ ACADEMY,'057829,1314.0,477.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,1,2,0,3,1
2,A+ UNLIMITED POTENTIAL,'101871,152.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABBOTT ISD,'109901,288.0,266.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABERNATHY ISD,'095901,803.0,753.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,1,11,7,0,9,12

In [175]:
# drop new case columns and source columns   
df39.drop(columns = ['New EE-G3 Student Cases', \
                     'New G4-G6 Student Cases', \
                     'New G7-G12 Student Cases', \
                     'New Staff Cases', \
                     'New School Reported Infection Source On-Campus', \
                     'New School Reported Infection Source Off-Campus', \
                     'New School Reported Infection Source Unknown', \
                     'Cumulative School Reported Infection Source On-Campus', \
                     'Cumulative School Reported Infection Source Off-Campus', \
                     'Cumulative School Reported Infection Source Unknown'], \
                     inplace = True)

# replace blank space with 0 or np.NaN
df39.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df39.replace('*', 3, inplace = True)

# treat numeric features as float
df39['District Enrollment 09/28/20'] = df39['District Enrollment 09/28/20'].astype(float)
df39['Approx. District On-Campus Enrollment 09/28/20'] = df39['Approx. District On-Campus Enrollment 09/28/20'].astype(float)
df39['Cumulative EE-G3 Student Cases 11/01/20'] = df39['Cumulative EE-G3 Student Cases 11/01/20'].astype(float)
df39['Cumulative G4-G6 Student Cases 11/01/20'] = df39['Cumulative G4-G6 Student Cases 11/01/20'].astype(float)
df39['Cumulative G7-G12 Student Cases 11/01/20'] = df39['Cumulative G7-G12 Student Cases 11/01/20'].astype(float)
df39['Cumulative Staff Cases 11/01/20'] = df39['Cumulative Staff Cases 11/01/20'].astype(float)

# remove ' symbol from District ID
df39['District LEA #'] = df39['District LEA #'].astype(str)
df39['District LEA #'] = df39['District LEA #'].map(lambda x: x.lstrip("'"))

# create a new column for the % of on-campus students per district and per school
df39['% District On-Campus 09/28/20'] = df39['Approx. District On-Campus Enrollment 09/28/20'] / df39['District Enrollment 09/28/20']

# total all student cases into a single column
df39['Cumulative Student Cases 11/01/20'] = df39['Cumulative EE-G3 Student Cases 11/01/20'] + \
                                            df39['Cumulative G4-G6 Student Cases 11/01/20'] + \
                                            df39['Cumulative G7-G12 Student Cases 11/01/20']

# drop cases by grade
df39.drop(columns = ['Cumulative EE-G3 Student Cases 11/01/20', \
                     'Cumulative G4-G6 Student Cases 11/01/20', \
                     'Cumulative G7-G12 Student Cases 11/01/20'], \
                     inplace = True)

# create a new column for % of students (per district) with COVID
df39['% Students with COVID 11/01/20'] = df39['Cumulative Student Cases 11/01/20'] / df39['District Enrollment 09/28/20']

In [176]:
df39.head(10)

,District Name,District LEA #,District Enrollment 09/28/20,Approx. District On-Campus Enrollment 09/28/20,Cumulative Staff Cases 11/01/20,% District On-Campus 09/28/20,Cumulative Student Cases 11/01/20,% Students with COVID 11/01/20
0,A W BROWN LEADERSHIP\nACADEMY,057816,1343.0,557.0,1.0,0.414743,1.0,0.000745
1,A+ ACADEMY,057829,1314.0,477.0,2.0,0.363014,2.0,0.001522
2,A+ UNLIMITED POTENTIAL,101871,152.0,23.0,NaN,0.151316,NaN,NaN
3,ABBOTT ISD,109901,288.0,266.0,NaN,0.923611,NaN,NaN
4,ABERNATHY ISD,095901,803.0,753.0,7.0,0.937733,14.0,0.017435
5,ABILENE ISD,221901,15672.0,12933.0,87.0,0.825230,95.0,0.006062
6,ACADEMY FOR ACADEMIC\nEXCELLENCE,057814,294.0,8.0,3.0,0.027211,9.0,0.030612
7,ACADEMY ISD,014901,1749.0,1432.0,3.0,0.818754,3.0,0.001715
8,ACADEMY OF ACCELERATED\nLEARNING INC,101810,857.0,149.0,2.0,0.173862,0.0,0.000000
9,ACADEMY OF DALLAS,057810,294.0,0.0,3.0,0.000000,9.0,0.030612

In [177]:
# column names
columns40 = ['District Name', \
          'District LEA #', \
          'District Enrollment 09/28/20', \
          'Approx. District On-Campus Enrollment 09/28/20', \
          'New EE-G3 Student Cases', \
          'New G4-G6 Student Cases', \
          'New G7-G12 Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative EE-G3 Student Cases 10/25/20', \
          'Cumulative G4-G6 Student Cases 10/25/20', \
          'Cumulative G7-G12 Student Cases 10/25/20', \
          'Cumulative Staff Cases 10/25/20', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df40 = pd.read_csv('../covid data/covid_102520.csv', header = 6, names = columns40, na_values=["NR", "."])

df40.head()

,District Name,District LEA #,District Enrollment 09/28/20,Approx. District On-Campus Enrollment 09/28/20,New EE-G3 Student Cases,New G4-G6 Student Cases,New G7-G12 Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative EE-G3 Student Cases 10/25/20,Cumulative G4-G6 Student Cases 10/25/20,Cumulative G7-G12 Student Cases 10/25/20,Cumulative Staff Cases 10/25/20,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,A W BROWN LEADERSHIP\nACADEMY,'057816,1343.0,557.0,0,0,0,1,0,1,0,0,0,1,1,0,2,0
1,A+ ACADEMY,'057829,1314.0,477.0,0,0,0,1,0,0,1,1,0,1,2,0,3,1
2,A+ UNLIMITED POTENTIAL,'101871,152.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABBOTT ISD,'109901,288.0,266.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABERNATHY ISD,'095901,803.0,753.0,2,0,4,2,0,3,5,2,1,11,7,0,9,12

In [178]:
# drop new case columns and source columns   
df40.drop(columns = ['New EE-G3 Student Cases', \
                     'New G4-G6 Student Cases', \
                     'New G7-G12 Student Cases', \
                     'New Staff Cases', \
                     'New School Reported Infection Source On-Campus', \
                     'New School Reported Infection Source Off-Campus', \
                     'New School Reported Infection Source Unknown', \
                     'Cumulative School Reported Infection Source On-Campus', \
                     'Cumulative School Reported Infection Source Off-Campus', \
                     'Cumulative School Reported Infection Source Unknown'], \
                     inplace = True)

# replace blank space with 0 or np.NaN
df40.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df40.replace('*', 3, inplace = True)

# treat numeric features as float
df40['District Enrollment 09/28/20'] = df40['District Enrollment 09/28/20'].astype(float)
df40['Approx. District On-Campus Enrollment 09/28/20'] = df40['Approx. District On-Campus Enrollment 09/28/20'].astype(float)
df40['Cumulative EE-G3 Student Cases 10/25/20'] = df40['Cumulative EE-G3 Student Cases 10/25/20'].astype(float)
df40['Cumulative G4-G6 Student Cases 10/25/20'] = df40['Cumulative G4-G6 Student Cases 10/25/20'].astype(float)
df40['Cumulative G7-G12 Student Cases 10/25/20'] = df40['Cumulative G7-G12 Student Cases 10/25/20'].astype(float)
df40['Cumulative Staff Cases 10/25/20'] = df40['Cumulative Staff Cases 10/25/20'].astype(float)

# remove ' symbol from District ID
df40['District LEA #'] = df40['District LEA #'].astype(str)
df40['District LEA #'] = df40['District LEA #'].map(lambda x: x.lstrip("'"))

# create a new column for the % of on-campus students per district and per school
df40['% District On-Campus 09/28/20'] = df40['Approx. District On-Campus Enrollment 09/28/20'] / df40['District Enrollment 09/28/20']

# total all student cases into a single column
df40['Cumulative Student Cases 10/25/20'] = df40['Cumulative EE-G3 Student Cases 10/25/20'] + \
                                            df40['Cumulative G4-G6 Student Cases 10/25/20'] + \
                                            df40['Cumulative G7-G12 Student Cases 10/25/20']

# drop cases by grade
df40.drop(columns = ['Cumulative EE-G3 Student Cases 10/25/20', \
                     'Cumulative G4-G6 Student Cases 10/25/20', \
                     'Cumulative G7-G12 Student Cases 10/25/20'], \
                     inplace = True)

# create a new column for % of students (per district) with COVID
df40['% Students with COVID 10/25/20'] = df40['Cumulative Student Cases 10/25/20'] / df40['District Enrollment 09/28/20']

In [ ]:
df40.head(10)

In [179]:
# column names
columns41 = ['District Name', \
          'District LEA #', \
          'District Enrollment 09/28/20', \
          'Approx. District On-Campus Enrollment 09/28/20', \
          'New EE-G3 Student Cases', \
          'New G4-G6 Student Cases', \
          'New G7-G12 Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative EE-G3 Student Cases 10/18/20', \
          'Cumulative G4-G6 Student Cases 10/18/20', \
          'Cumulative G7-G12 Student Cases 10/18/20', \
          'Cumulative Staff Cases 10/18/20', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df41 = pd.read_csv('../covid data/covid_101820.csv', header = 6, names = columns41, na_values=["NR", "."])

df41.head()

,District Name,District LEA #,District Enrollment 09/28/20,Approx. District On-Campus Enrollment 09/28/20,New EE-G3 Student Cases,New G4-G6 Student Cases,New G7-G12 Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative EE-G3 Student Cases 10/18/20,Cumulative G4-G6 Student Cases 10/18/20,Cumulative G7-G12 Student Cases 10/18/20,Cumulative Staff Cases 10/18/20,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,A W BROWN LEADERSHIP\nACADEMY,'057816,1343.0,557.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A+ ACADEMY,'057829,1314.0,477.0,1,0,0,0,0,1,0,1,0,1,1,0,3,0
2,A+ UNLIMITED POTENTIAL,'101871,152.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABBOTT ISD,'109901,288.0,266.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABERNATHY ISD,'095901,803.0,753.0,0,0,1,3,0,1,3,0,1,7,5,0,6,7

In [180]:
# drop new case columns and source columns   
df41.drop(columns = ['New EE-G3 Student Cases', \
                     'New G4-G6 Student Cases', \
                     'New G7-G12 Student Cases', \
                     'New Staff Cases', \
                     'New School Reported Infection Source On-Campus', \
                     'New School Reported Infection Source Off-Campus', \
                     'New School Reported Infection Source Unknown', \
                     'Cumulative School Reported Infection Source On-Campus', \
                     'Cumulative School Reported Infection Source Off-Campus', \
                     'Cumulative School Reported Infection Source Unknown'], \
                     inplace = True)

# replace blank space with 0 or np.NaN
df41.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df41.replace('*', 3, inplace = True)

# treat numeric features as float
df41['District Enrollment 09/28/20'] = df41['District Enrollment 09/28/20'].astype(float)
df41['Approx. District On-Campus Enrollment 09/28/20'] = df41['Approx. District On-Campus Enrollment 09/28/20'].astype(float)
df41['Cumulative EE-G3 Student Cases 10/18/20'] = df41['Cumulative EE-G3 Student Cases 10/18/20'].astype(float)
df41['Cumulative G4-G6 Student Cases 10/18/20'] = df41['Cumulative G4-G6 Student Cases 10/18/20'].astype(float)
df41['Cumulative G7-G12 Student Cases 10/18/20'] = df41['Cumulative G7-G12 Student Cases 10/18/20'].astype(float)
df41['Cumulative Staff Cases 10/18/20'] = df41['Cumulative Staff Cases 10/18/20'].astype(float)

# remove ' symbol from District ID
df41['District LEA #'] = df41['District LEA #'].astype(str)
df41['District LEA #'] = df41['District LEA #'].map(lambda x: x.lstrip("'"))

# create a new column for the % of on-campus students per district and per school
df41['% District On-Campus 09/28/20'] = df41['Approx. District On-Campus Enrollment 09/28/20'] / df41['District Enrollment 09/28/20']

# total all student cases into a single column
df41['Cumulative Student Cases 10/18/20'] = df41['Cumulative EE-G3 Student Cases 10/18/20'] + \
                                            df41['Cumulative G4-G6 Student Cases 10/18/20'] + \
                                            df41['Cumulative G7-G12 Student Cases 10/18/20']

# drop cases by grade
df41.drop(columns = ['Cumulative EE-G3 Student Cases 10/18/20', \
                     'Cumulative G4-G6 Student Cases 10/18/20', \
                     'Cumulative G7-G12 Student Cases 10/18/20'], \
                     inplace = True)

# create a new column for % of students (per district) with COVID
df41['% Students with COVID 10/18/20'] = df41['Cumulative Student Cases 10/18/20'] / df41['District Enrollment 09/28/20']

In [ ]:
df41.head(10)

In [181]:
# column names
columns42 = ['District Name', \
          'District LEA #', \
          'District Enrollment 09/28/20', \
          'Approx. District On-Campus Enrollment 09/28/20', \
          'New EE-G3 Student Cases', \
          'New G4-G6 Student Cases', \
          'New G7-G12 Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative EE-G3 Student Cases 10/11/20', \
          'Cumulative G4-G6 Student Cases 10/11/20', \
          'Cumulative G7-G12 Student Cases 10/11/20', \
          'Cumulative Staff Cases 10/11/20', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df42 = pd.read_csv('../covid data/covid_101120.csv', header = 6, names = columns42, na_values=["NR", "."])

df42.head()

,District Name,District LEA #,District Enrollment 09/28/20,Approx. District On-Campus Enrollment 09/28/20,New EE-G3 Student Cases,New G4-G6 Student Cases,New G7-G12 Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative EE-G3 Student Cases 10/11/20,Cumulative G4-G6 Student Cases 10/11/20,Cumulative G7-G12 Student Cases 10/11/20,Cumulative Staff Cases 10/11/20,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,A W BROWN LEADERSHIP\nACADEMY,'057816,1343.0,557.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A+ ACADEMY,'057829,1314.0,477.0,0,0,1,1,0,2,0,0,0,1,1,0,2,0
2,A+ UNLIMITED POTENTIAL,'101871,152.0,23.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABBOTT ISD,'109901,288.0,266.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABERNATHY ISD,'095901,803.0,753.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,3,0,0,3,1

In [182]:
# drop new case columns and source columns   
df42.drop(columns = ['New EE-G3 Student Cases', \
                     'New G4-G6 Student Cases', \
                     'New G7-G12 Student Cases', \
                     'New Staff Cases', \
                     'New School Reported Infection Source On-Campus', \
                     'New School Reported Infection Source Off-Campus', \
                     'New School Reported Infection Source Unknown', \
                     'Cumulative School Reported Infection Source On-Campus', \
                     'Cumulative School Reported Infection Source Off-Campus', \
                     'Cumulative School Reported Infection Source Unknown'], \
                     inplace = True)

# replace blank space with 0 or np.NaN
df42.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df42.replace('*', 3, inplace = True)

# treat numeric features as float
df42['District Enrollment 09/28/20'] = df42['District Enrollment 09/28/20'].astype(float)
df42['Approx. District On-Campus Enrollment 09/28/20'] = df42['Approx. District On-Campus Enrollment 09/28/20'].astype(float)
df42['Cumulative EE-G3 Student Cases 10/11/20'] = df42['Cumulative EE-G3 Student Cases 10/11/20'].astype(float)
df42['Cumulative G4-G6 Student Cases 10/11/20'] = df42['Cumulative G4-G6 Student Cases 10/11/20'].astype(float)
df42['Cumulative G7-G12 Student Cases 10/11/20'] = df42['Cumulative G7-G12 Student Cases 10/11/20'].astype(float)
df42['Cumulative Staff Cases 10/11/20'] = df42['Cumulative Staff Cases 10/11/20'].astype(float)

# remove ' symbol from District ID
df42['District LEA #'] = df42['District LEA #'].astype(str)
df42['District LEA #'] = df42['District LEA #'].map(lambda x: x.lstrip("'"))

# create a new column for the % of on-campus students per district and per school
df42['% District On-Campus 09/28/20'] = df42['Approx. District On-Campus Enrollment 09/28/20'] / df42['District Enrollment 09/28/20']

# total all student cases into a single column
df42['Cumulative Student Cases 10/11/20'] = df42['Cumulative EE-G3 Student Cases 10/11/20'] + \
                                            df42['Cumulative G4-G6 Student Cases 10/11/20'] + \
                                            df42['Cumulative G7-G12 Student Cases 10/11/20']

# drop cases by grade
df42.drop(columns = ['Cumulative EE-G3 Student Cases 10/11/20', \
                     'Cumulative G4-G6 Student Cases 10/11/20', \
                     'Cumulative G7-G12 Student Cases 10/11/20'], \
                     inplace = True)

# create a new column for % of students (per district) with COVID
df42['% Students with COVID 10/11/20'] = df42['Cumulative Student Cases 10/11/20'] / df42['District Enrollment 09/28/20']

In [183]:
df42.head(10)

,District Name,District LEA #,District Enrollment 09/28/20,Approx. District On-Campus Enrollment 09/28/20,Cumulative Staff Cases 10/11/20,% District On-Campus 09/28/20,Cumulative Student Cases 10/11/20,% Students with COVID 10/11/20
0,A W BROWN LEADERSHIP\nACADEMY,057816,1343.0,557.0,NaN,0.414743,NaN,NaN
1,A+ ACADEMY,057829,1314.0,477.0,1.0,0.363014,1.0,0.000761
2,A+ UNLIMITED POTENTIAL,101871,152.0,23.0,NaN,0.151316,NaN,NaN
3,ABBOTT ISD,109901,288.0,266.0,NaN,0.923611,NaN,NaN
4,ABERNATHY ISD,095901,803.0,753.0,0.0,0.937733,4.0,0.004981
5,ABILENE ISD,221901,15672.0,12933.0,38.0,0.825230,43.0,0.002744
6,ACADEMY FOR ACADEMIC\nEXCELLENCE,057814,294.0,8.0,3.0,0.027211,9.0,0.030612
7,ACADEMY ISD,014901,1749.0,1432.0,1.0,0.818754,2.0,0.001144
8,ACADEMY OF ACCELERATED\nLEARNING INC,101810,857.0,149.0,2.0,0.173862,0.0,0.000000
9,ACADEMY OF DALLAS,057810,294.0,0.0,NaN,0.000000,NaN,NaN

In [184]:
# column names
columns43 = ['District Name', \
          'District LEA #', \
          'District Enrollment First Week', \
          'Approx. District On-Campus Enrollment First Week', \
          'New EE-G3 Student Cases', \
          'New G4-G6 Student Cases', \
          'New G7-G12 Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative EE-G3 Student Cases 10/04/20', \
          'Cumulative G4-G6 Student Cases 10/04/20', \
          'Cumulative G7-G12 Student Cases 10/04/20', \
          'Cumulative Staff Cases 10/04/20', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df43 = pd.read_csv('../covid data/covid_100420.csv', header = 6, names = columns43, na_values=["NR", "."])

df43.head()

,District Name,District LEA #,District Enrollment First Week,Approx. District On-Campus Enrollment First Week,New EE-G3 Student Cases,New G4-G6 Student Cases,New G7-G12 Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative EE-G3 Student Cases 10/04/20,Cumulative G4-G6 Student Cases 10/04/20,Cumulative G7-G12 Student Cases 10/04/20,Cumulative Staff Cases 10/04/20,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,A W BROWN LEADERSHIP\nACADEMY,'057816,1404.0,717.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A+ ACADEMY,'057829,1394.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A+ UNLIMITED POTENTIAL,'101871,131.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABBOTT ISD,'109901,282.0,259.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABERNATHY ISD,'095901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,3,0,0,3,1

In [185]:
# drop new case columns and source columns   
df43.drop(columns = ['New EE-G3 Student Cases', \
                     'New G4-G6 Student Cases', \
                     'New G7-G12 Student Cases', \
                     'New Staff Cases', \
                     'New School Reported Infection Source On-Campus', \
                     'New School Reported Infection Source Off-Campus', \
                     'New School Reported Infection Source Unknown', \
                     'Cumulative School Reported Infection Source On-Campus', \
                     'Cumulative School Reported Infection Source Off-Campus', \
                     'Cumulative School Reported Infection Source Unknown'], \
                     inplace = True)

# replace blank space with 0 or np.NaN
df43.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df43.replace('*', 3, inplace = True)

# treat numeric features as float
df43['District Enrollment First Week'] = df43['District Enrollment First Week'].astype(float)
df43['Approx. District On-Campus Enrollment First Week'] = df43['Approx. District On-Campus Enrollment First Week'].astype(float)
df43['Cumulative EE-G3 Student Cases 10/04/20'] = df43['Cumulative EE-G3 Student Cases 10/04/20'].astype(float)
df43['Cumulative G4-G6 Student Cases 10/04/20'] = df43['Cumulative G4-G6 Student Cases 10/04/20'].astype(float)
df43['Cumulative G7-G12 Student Cases 10/04/20'] = df43['Cumulative G7-G12 Student Cases 10/04/20'].astype(float)
df43['Cumulative Staff Cases 10/04/20'] = df43['Cumulative Staff Cases 10/04/20'].astype(float)

# remove ' symbol from District ID
df43['District LEA #'] = df43['District LEA #'].astype(str)
df43['District LEA #'] = df43['District LEA #'].map(lambda x: x.lstrip("'"))

# create a new column for the % of on-campus students per district and per school
df43['% District On-Campus First Week'] = df43['Approx. District On-Campus Enrollment First Week'] / df43['District Enrollment First Week']

# total all student cases into a single column
df43['Cumulative Student Cases 10/04/20'] = df43['Cumulative EE-G3 Student Cases 10/04/20'] + \
                                            df43['Cumulative G4-G6 Student Cases 10/04/20'] + \
                                            df43['Cumulative G7-G12 Student Cases 10/04/20']

# drop cases by grade
df43.drop(columns = ['Cumulative EE-G3 Student Cases 10/04/20', \
                     'Cumulative G4-G6 Student Cases 10/04/20', \
                     'Cumulative G7-G12 Student Cases 10/04/20'], \
                     inplace = True)

# create a new column for % of students (per district) with COVID
df43['% Students with COVID 10/04/20'] = df43['Cumulative Student Cases 10/04/20'] / df43['District Enrollment First Week']

In [186]:
df43.head(10)

,District Name,District LEA #,District Enrollment First Week,Approx. District On-Campus Enrollment First Week,Cumulative Staff Cases 10/04/20,% District On-Campus First Week,Cumulative Student Cases 10/04/20,% Students with COVID 10/04/20
0,A W BROWN LEADERSHIP\nACADEMY,057816,1404.0,717.0,NaN,0.510684,NaN,NaN
1,A+ ACADEMY,057829,1394.0,0.0,NaN,0.000000,NaN,NaN
2,A+ UNLIMITED POTENTIAL,101871,131.0,0.0,NaN,0.000000,NaN,NaN
3,ABBOTT ISD,109901,282.0,259.0,NaN,0.918440,NaN,NaN
4,ABERNATHY ISD,095901,NaN,NaN,0.0,NaN,4.0,NaN
5,ABILENE ISD,221901,14667.0,11492.0,27.0,0.783528,32.0,0.002182
6,ACADEMY FOR ACADEMIC\nEXCELLENCE,057814,190.0,0.0,NaN,0.000000,NaN,NaN
7,ACADEMY ISD,014901,1710.0,1347.0,1.0,0.787719,0.0,0.000000
8,ACADEMY OF ACCELERATED\nLEARNING INC,101810,789.0,0.0,NaN,0.000000,NaN,NaN
9,ACADEMY OF DALLAS,057810,297.0,0.0,NaN,0.000000,NaN,NaN

In [187]:
# column names
columns44 = ['District Name', \
          'District LEA #', \
          'District Enrollment First Week', \
          'Approx. District On-Campus Enrollment First Week', \
          'New EE-G3 Student Cases', \
          'New G4-G6 Student Cases', \
          'New G7-G12 Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative EE-G3 Student Cases 09/27/20', \
          'Cumulative G4-G6 Student Cases 09/27/20', \
          'Cumulative G7-G12 Student Cases 09/27/20', \
          'Cumulative Staff Cases 09/27/20', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df44 = pd.read_csv('../covid data/covid_092720.csv', header = 6, names = columns44, na_values=["NR", "."])

df44.head()

,District Name,District LEA #,District Enrollment First Week,Approx. District On-Campus Enrollment First Week,New EE-G3 Student Cases,New G4-G6 Student Cases,New G7-G12 Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative EE-G3 Student Cases 09/27/20,Cumulative G4-G6 Student Cases 09/27/20,Cumulative G7-G12 Student Cases 09/27/20,Cumulative Staff Cases 09/27/20,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,A W BROWN LEADERSHIP\nACADEMY,'057816,1404.0,717.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A+ ACADEMY,'057829,1394.0,0.0,*,*,*,*,*,*,*,*,*,*,*,*,*,*
2,A+ UNLIMITED POTENTIAL,'101871,131.0,0.0,*,*,*,*,*,*,*,*,*,*,*,*,*,*
3,ABBOTT ISD,'109901,282.0,259.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABERNATHY ISD,'095901,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,1,0,0,1,1

In [188]:
# drop new case columns and source columns   
df44.drop(columns = ['New EE-G3 Student Cases', \
                     'New G4-G6 Student Cases', \
                     'New G7-G12 Student Cases', \
                     'New Staff Cases', \
                     'New School Reported Infection Source On-Campus', \
                     'New School Reported Infection Source Off-Campus', \
                     'New School Reported Infection Source Unknown', \
                     'Cumulative School Reported Infection Source On-Campus', \
                     'Cumulative School Reported Infection Source Off-Campus', \
                     'Cumulative School Reported Infection Source Unknown'], \
                     inplace = True)

# replace blank space with 0 or np.NaN
df44.replace(r'^\s*$', 0, regex=True, inplace=True)

# replace supressed data (*) with 3
df44.replace('*', 3, inplace = True)

# treat numeric features as float
df44['District Enrollment First Week'] = df44['District Enrollment First Week'].astype(float)
df44['Approx. District On-Campus Enrollment First Week'] = df44['Approx. District On-Campus Enrollment First Week'].astype(float)
df44['Cumulative EE-G3 Student Cases 09/27/20'] = df44['Cumulative EE-G3 Student Cases 09/27/20'].astype(float)
df44['Cumulative G4-G6 Student Cases 09/27/20'] = df44['Cumulative G4-G6 Student Cases 09/27/20'].astype(float)
df44['Cumulative G7-G12 Student Cases 09/27/20'] = df44['Cumulative G7-G12 Student Cases 09/27/20'].astype(float)
df44['Cumulative Staff Cases 09/27/20'] = df44['Cumulative Staff Cases 09/27/20'].astype(float)

# remove ' symbol from District ID
df44['District LEA #'] = df44['District LEA #'].astype(str)
df44['District LEA #'] = df44['District LEA #'].map(lambda x: x.lstrip("'"))

# create a new column for the % of on-campus students per district and per school
df44['% District On-Campus First Week'] = df44['Approx. District On-Campus Enrollment First Week'] / df44['District Enrollment First Week']

# total all student cases into a single column
df44['Cumulative Student Cases 09/27/20'] = df44['Cumulative EE-G3 Student Cases 09/27/20'] + \
                                            df44['Cumulative G4-G6 Student Cases 09/27/20'] + \
                                            df44['Cumulative G7-G12 Student Cases 09/27/20']

# drop cases by grade
df44.drop(columns = ['Cumulative EE-G3 Student Cases 09/27/20', \
                     'Cumulative G4-G6 Student Cases 09/27/20', \
                     'Cumulative G7-G12 Student Cases 09/27/20'], \
                     inplace = True)

# create a new column for % of students (per district) with COVID
df44['% Students with COVID 09/27/20'] = df44['Cumulative Student Cases 09/27/20'] / df44['District Enrollment First Week']

In [189]:
df44.head(10)

,District Name,District LEA #,District Enrollment First Week,Approx. District On-Campus Enrollment First Week,Cumulative Staff Cases 09/27/20,% District On-Campus First Week,Cumulative Student Cases 09/27/20,% Students with COVID 09/27/20
0,A W BROWN LEADERSHIP\nACADEMY,057816,1404.0,717.0,NaN,0.510684,NaN,NaN
1,A+ ACADEMY,057829,1394.0,0.0,3.0,0.000000,9.0,0.006456
2,A+ UNLIMITED POTENTIAL,101871,131.0,0.0,3.0,0.000000,9.0,0.068702
3,ABBOTT ISD,109901,282.0,259.0,NaN,0.918440,NaN,NaN
4,ABERNATHY ISD,095901,NaN,NaN,0.0,NaN,2.0,NaN
5,ABILENE ISD,221901,14667.0,11492.0,15.0,0.783528,19.0,0.001295
6,ACADEMY FOR ACADEMIC\nEXCELLENCE,057814,190.0,0.0,3.0,0.000000,9.0,0.047368
7,ACADEMY ISD,014901,1710.0,1347.0,NaN,0.787719,NaN,NaN
8,ACADEMY OF ACCELERATED\nLEARNING INC,101810,789.0,0.0,3.0,0.000000,9.0,0.011407
9,ACADEMY OF DALLAS,057810,297.0,0.0,3.0,0.000000,9.0,0.030303

In [190]:
# column names
columns45 = ['District Name', \
          'District Enrollment First Week', \
          'New EE-G3 Student Cases', \
          'New G4-G6 Student Cases', \
          'New G7-G12 Student Cases', \
          'New Staff Cases', \
          'New School Reported Infection Source On-Campus', \
          'New School Reported Infection Source Off-Campus', \
          'New School Reported Infection Source Unknown', \
          'Cumulative EE-G3 Student Cases 09/20/20', \
          'Cumulative G4-G6 Student Cases 09/20/20', \
          'Cumulative G7-G12 Student Cases 09/20/20', \
          'Cumulative Staff Cases 09/20/20', \
          'Cumulative School Reported Infection Source On-Campus', \
          'Cumulative School Reported Infection Source Off-Campus', \
          'Cumulative School Reported Infection Source Unknown']

df45 = pd.read_csv('../covid data/covid_092020.csv', header = 6, names = columns45)

In [191]:
df45.head()

,District Name,District Enrollment First Week,New EE-G3 Student Cases,New G4-G6 Student Cases,New G7-G12 Student Cases,New Staff Cases,New School Reported Infection Source On-Campus,New School Reported Infection Source Off-Campus,New School Reported Infection Source Unknown,Cumulative EE-G3 Student Cases 09/20/20,Cumulative G4-G6 Student Cases 09/20/20,Cumulative G7-G12 Student Cases 09/20/20,Cumulative Staff Cases 09/20/20,Cumulative School Reported Infection Source On-Campus,Cumulative School Reported Infection Source Off-Campus,Cumulative School Reported Infection Source Unknown
0,A W BROWN LEADERSHIP ACADEMY,1404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,A+ ACADEMY,1394,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,A+ UNLIMITED POTENTIAL,131,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ABBOTT ISD,282,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,ABERNATHY ISD,NR,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1.0,1.0,0.0,0.0,1.0,1.0

In [192]:
campus_reports = [df0, df1, df2, df3, df4, df5, df6, df7, df8, df9, \
                 df10, df11, df12, df13, df14, df15, df16, df17, df18, \
                 df19, df20, df21, df22, df23, df24, df25, df26, df27, \
                 df28, df29, df30, df31, df32, df33, df34, df35, df36]

district_reports = [df37, df38, df39, df40, df41, df42, df43, df44]

In [193]:
df_campus1 = pd.merge(df0, df1, how="outer", on=["District Name", \
                                                "District LEA #", \
                                                "District Enrollment 01/29/21", \
                                                "Approx. District On-Campus Enrollment 01/29/21", \
                                                "Campus Name", \
                                                "Campus ID", \
                                                "School Enrollment 01/29/21", \
                                                "School On-Campus Enrollment 01/29/21", \
                                                "% District On-Campus 01/29/21", \
                                                "% School On-Campus 01/29/21"])

In [194]:
campus_reports1 = [df2, df3, df4, df5, df6, df7, df8, df9, \
                 df10, df11, df12, df13, df14, df15, df16, df17, df18, \
                 df19, df20, df21, df22]

for df in campus_reports1:
    df_campus1 = pd.merge(df_campus1, df, how="outer", on=["District Name", \
                                                         "District LEA #", \
                                                         "District Enrollment 01/29/21", \
                                                         "Approx. District On-Campus Enrollment 01/29/21", \
                                                         "Campus Name", \
                                                         "Campus ID", \
                                                         "School Enrollment 01/29/21", \
                                                         "School On-Campus Enrollment 01/29/21", \
                                                         "% District On-Campus 01/29/21", \
                                                         "% School On-Campus 01/29/21"])

In [195]:
df_campus1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18961 entries, 0 to 18960
Data columns (total 79 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   District Name                                   18961 non-null  object
 1   District LEA #                                  18961 non-null  object
 2   District Enrollment 01/29/21                    18961 non-null  float64
 3   Approx. District On-Campus Enrollment 01/29/21  18961 non-null  float64
 4   Campus Name                                     17754 non-null  object
 5   Campus ID                                       17754 non-null  object
 6   School Enrollment 01/29/21                      18961 non-null  float64
 7   School On-Campus Enrollment 01/29/21            18961 non-null  float64
 8   Cumulative Student Cases 08/01/21               8858 non-null   float64
 9   Cumulative Staff Cases 08/01/21                 8858 non-null   float64
 10  % District On-Campus 01/29/21                   18961 non-null  float64
 11  % School On-Campus 01/29/21                     18955 non-null  float64
 12  % Students with COVID 08/01/21                  8855 non-null   float64
 13  Cumulative Student Cases 07/25/21               8858 non-null   float64
 14  Cumulative Staff Cases 07/25/21                 8858 non-null   float64
 15  % Students with COVID 07/25/21                  8855 non-null   float64
 16  Cumulative Student Cases 07/18/21               7983 non-null   float64
 17  Cumulative Staff Cases 07/18/21                 7983 non-null   float64
 18  % Students with COVID 07/18/21                  7983 non-null   float64
 19  Cumulative Student Cases 07/11/21               7983 non-null   float64
 20  Cumulative Staff Cases 07/11/21                 7983 non-null   float64
 21  % Students with COVID 07/11/21                  7983 non-null   float64
 22  Cumulative Student Cases 07/04/21               7983 non-null   float64
 23  Cumulative Staff Cases 07/04/21                 7983 non-null   float64
 24  % Students with COVID 07/04/21                  7983 non-null   float64
 25  Cumulative Student Cases 06/27/21               7982 non-null   float64
 26  Cumulative Staff Cases 06/27/21                 7982 non-null   float64
 27  % Students with COVID 06/27/21                  7982 non-null   float64
 28  Cumulative Student Cases 06/20/21               7981 non-null   float64
 29  Cumulative Staff Cases 06/20/21                 7981 non-null   float64
 30  % Students with COVID 06/20/21                  7981 non-null   float64
 31  Cumulative Student Cases 06/13/21               7981 non-null   float64
 32  Cumulative Staff Cases 06/13/21                 7981 non-null   float64
 33  % Students with COVID 06/13/21                  7981 non-null   float64
 34  Cumulative Student Cases 06/06/21               7981 non-null   float64
 35  Cumulative Staff Cases 06/06/21                 7981 non-null   float64
 36  % Students with COVID 06/06/21                  7981 non-null   float64
 37  Cumulative Student Cases 05/30/21               7978 non-null   float64
 38  Cumulative Staff Cases 05/30/21                 7978 non-null   float64
 39  % Students with COVID 05/30/21                  7978 non-null   float64
 40  Cumulative Student Cases 05/23/21               7978 non-null   float64
 41  Cumulative Staff Cases 05/23/21                 7978 non-null   float64
 42  % Students with COVID 05/23/21                  7978 non-null   float64
 43  Cumulative Student Cases 05/16/21               10065 non-null  float64
 44  Cumulative Staff Cases 05/16/21                 10065 non-null  float64
 45  % Students with COVID 05/16/21                  10062 non-null  float64
 46  Cumulative Student Cases 05/09/21               8858 non-null   float64
 47  Cumulative Staff Cases 05/09/21                 8858 non-null   float64
 48  % Students with COVID 05/09/21                  8855 non-null   float64
 49  Cumulative Student Cases 05/02/21               8858 non-null   float64
 50  Cumulative Staff Cases 05/02/21                 8858 non-null   float64
 51  % Students with COVID 05/02/21                  8855 non-null   float64
 52  Cumulative Student Cases 04/25/21               7955 non-null   float64
 53  Cumulative Staff Cases 04/25/21                 7955 non-null   float64
 54  % Students with COVID 04/25/21                  7955 non-null   float64
 55  Cumulative Student Cases 04/18/21               7948 non-null   float64
 56  Cumulative Staff Cases 04/18/21                 7948 non-null   float64
 57  % Students with COVID 04/18/21                  7948 non-null   float64
 58  Cumulative Student Cases 04/11/21               7938 non-null   float64
 59  Cumulative Staff Cases 04/11/21                 7938 non-null   float64
 60  % Students with COVID 04/11/21                  7938 non-null   float64
 61  Cumulative Student Cases 04/04/21               7927 non-null   float64
 62  Cumulative Staff Cases 04/04/21                 7927 non-null   float64
 63  % Students with COVID 04/04/21                  7927 non-null   float64
 64  Cumulative Student Cases 03/28/21               7919 non-null   float64
 65  Cumulative Staff Cases 03/28/21                 7919 non-null   float64
 66  % Students with COVID 03/28/21                  7919 non-null   float64
 67  Cumulative Student Cases 03/21/21               7915 non-null   float64
 68  Cumulative Staff Cases 03/21/21                 7915 non-null   float64
 69  % Students with COVID 03/21/21                  7915 non-null   float64
 70  Cumulative Student Cases 03/14/21               7914 non-null   float64
 71  Cumulative Staff Cases 03/14/21                 7914 non-null   float64
 72  % Students with COVID 03/14/21                  7914 non-null   float64
 73  Cumulative Student Cases 03/07/21               7911 non-null   float64
 74  Cumulative Staff Cases 03/07/21                 7911 non-null   float64
 75  % Students with COVID 03/07/21                  7911 non-null   float64
 76  Cumulative Student Cases 02/28/21               7898 non-null   float64
 77  Cumulative Staff Cases 02/28/21                 7898 non-null   float64
 78  % Students with COVID 02/28/21                  7898 non-null   float64
dtypes: float64(75), object(4)
memory usage: 11.6+ MB

In [196]:
df_campus2 = pd.merge(df23, df24, how="outer", on=["District Name", \
                                                "District LEA #", \
                                                "District Enrollment 10/30/20", \
                                                "Approx. District On-Campus Enrollment 10/30/20", \
                                                "Campus Name", \
                                                "Campus ID", \
                                                "School Enrollment 10/30/20", \
                                                "School On-Campus Enrollment 10/30/20", \
                                                "% District On-Campus 10/30/20", \
                                                "% School On-Campus 10/30/20"])

In [197]:
campus_reports2 = [df25, df26, df27, df28, df29, df30, df31, df32, df33, df34, df35, df36]

for df in campus_reports2:
    df_campus2 = pd.merge(df_campus2, df, how="outer", on=["District Name", \
                                                         "District LEA #", \
                                                         "District Enrollment 10/30/20", \
                                                         "Approx. District On-Campus Enrollment 10/30/20", \
                                                         "Campus Name", \
                                                         "Campus ID", \
                                                         "School Enrollment 10/30/20", \
                                                         "School On-Campus Enrollment 10/30/20", \
                                                         "% District On-Campus 10/30/20", \
                                                         "% School On-Campus 10/30/20"])

In [198]:
df_campus2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9065 entries, 0 to 9064
Data columns (total 52 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   District Name                                   9065 non-null   object
 1   District LEA #                                  9065 non-null   object
 2   District Enrollment 10/30/20                    9065 non-null   float64
 3   Approx. District On-Campus Enrollment 10/30/20  9065 non-null   float64
 4   Campus Name                                     9065 non-null   object
 5   Campus ID                                       9065 non-null   object
 6   School Enrollment 10/30/20                      9065 non-null   float64
 7   School On-Campus Enrollment 10/30/20            9065 non-null   float64
 8   Cumulative Student Cases 02/21/21               7872 non-null   float64
 9   Cumulative Staff Cases 02/21/21                 7872 non-null   float64
 10  % District On-Campus 10/30/20                   9065 non-null   float64
 11  % School On-Campus 10/30/20                     9065 non-null   float64
 12  % Students with COVID 02/21/21                  7872 non-null   float64
 13  Cumulative Student Cases 02/14/21               7864 non-null   float64
 14  Cumulative Staff Cases 02/14/21                 7864 non-null   float64
 15  % Students with COVID 02/14/21                  7864 non-null   float64
 16  Cumulative Student Cases 02/07/21               7844 non-null   float64
 17  Cumulative Staff Cases 02/07/21                 7844 non-null   float64
 18  % Students with COVID 02/07/21                  7844 non-null   float64
 19  Cumulative Student Cases 01/31/21               7819 non-null   float64
 20  Cumulative Staff Cases 01/31/21                 7819 non-null   float64
 21  % Students with COVID 01/31/21                  7819 non-null   float64
 22  Cumulative Student Cases 01/24/21               7751 non-null   float64
 23  Cumulative Staff Cases 01/24/21                 7751 non-null   float64
 24  % Students with COVID 01/24/21                  7751 non-null   float64
 25  Cumulative Student Cases 01/17/21               7659 non-null   float64
 26  Cumulative Staff Cases 01/17/21                 7659 non-null   float64
 27  % Students with COVID 01/17/21                  7659 non-null   float64
 28  Cumulative Student Cases 01/10/21               7603 non-null   float64
 29  Cumulative Staff Cases 01/10/21                 7603 non-null   float64
 30  % Students with COVID 01/10/21                  7603 non-null   float64
 31  Cumulative Student Cases 01/03/21               7504 non-null   float64
 32  Cumulative Staff Cases 01/03/21                 7504 non-null   float64
 33  % Students with COVID 01/03/21                  7504 non-null   float64
 34  Cumulative Student Cases 12/27/20               7494 non-null   float64
 35  Cumulative Staff Cases 12/27/20                 7494 non-null   float64
 36  % Students with COVID 12/27/20                  7494 non-null   float64
 37  Cumulative Student Cases 12/20/20               7473 non-null   float64
 38  Cumulative Staff Cases 12/20/20                 7473 non-null   float64
 39  % Students with COVID 12/20/20                  7473 non-null   float64
 40  Cumulative Student Cases 12/13/20               7383 non-null   float64
 41  Cumulative Staff Cases 12/13/20                 7383 non-null   float64
 42  % Students with COVID 12/13/20                  7383 non-null   float64
 43  Cumulative Student Cases 12/06/20               7157 non-null   float64
 44  Cumulative Staff Cases 12/06/20                 7157 non-null   float64
 45  % Students with COVID 12/06/20                  7157 non-null   float64
 46  Cumulative Student Cases 11/29/20               6906 non-null   float64
 47  Cumulative Staff Cases 11/29/20                 6906 non-null   float64
 48  % Students with COVID 11/29/20                  6906 non-null   float64
 49  Cumulative Student Cases 11/22/20               6771 non-null   float64
 50  Cumulative Staff Cases 11/22/20                 6771 non-null   float64
 51  % Students with COVID 11/22/20                  6771 non-null   float64
dtypes: float64(48), object(4)
memory usage: 3.7+ MB

In [199]:
df_campus = pd.merge(df_campus1, df_campus2, how="outer", on=["District Name", \
                                                "District LEA #", \
                                                "Campus Name", \
                                                "Campus ID"])

In [200]:
df_campus.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19241 entries, 0 to 19240
Columns: 127 entries, District Name to % Students with COVID 11/22/20
dtypes: float64(123), object(4)
memory usage: 18.8+ MB

In [201]:
#df_campus.to_csv('covid_campus.csv', index = None)

In [202]:
df_district1 = pd.merge(df0_district, df1_district, how="outer", on=["District Name", \
                                                "District LEA #", \
                                                "District Enrollment 01/29/21", \
                                                "Approx. District On-Campus Enrollment 01/29/21", \
                                                "School Enrollment 01/29/21", \
                                                "School On-Campus Enrollment 01/29/21", \
                                                "% District On-Campus 01/29/21", \
                                                "% School On-Campus 01/29/21"])

df_district1.drop(columns = ["School Enrollment 01/29/21", \
                             "School On-Campus Enrollment 01/29/21", \
                             "% School On-Campus 01/29/21"], inplace = True)

In [203]:
df_district1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1207 entries, 0 to 1206
Data columns (total 11 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   District Name                                   1207 non-null   object
 1   District LEA #                                  1207 non-null   object
 2   District Enrollment 01/29/21                    1207 non-null   float64
 3   Approx. District On-Campus Enrollment 01/29/21  1207 non-null   float64
 4   Cumulative Student Cases 08/01/21               1207 non-null   float64
 5   Cumulative Staff Cases 08/01/21                 1207 non-null   float64
 6   % District On-Campus 01/29/21                   1207 non-null   float64
 7   % Students with COVID 08/01/21                  1207 non-null   float64
 8   Cumulative Student Cases 07/25/21               1207 non-null   float64
 9   Cumulative Staff Cases 07/25/21                 1207 non-null   float64
 10  % Students with COVID 07/25/21                  1207 non-null   float64
dtypes: float64(9), object(2)
memory usage: 113.2+ KB

In [204]:
district_reports1 = [df2_district, df3_district, df4_district, df5_district, df6_district, df7_district, df8_district, df9_district, \
                 df10_district, df11_district, df12_district, df13_district, df14_district, df15_district, df16_district, df17_district, df18_district, \
                 df19_district, df20_district, df21_district, df22_district]

for df in district_reports1:
    df.drop(columns = ["School Enrollment 01/29/21", \
                       "School On-Campus Enrollment 01/29/21", \
                       "% School On-Campus 01/29/21"], inplace = True)
    
    df_district1 = pd.merge(df_district1, df, how="outer", on=["District Name", \
                                                "District LEA #", \
                                                "District Enrollment 01/29/21", \
                                                "Approx. District On-Campus Enrollment 01/29/21", \
                                                "% District On-Campus 01/29/21"])

In [205]:
df_district1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1207 entries, 0 to 1206
Data columns (total 74 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   District Name                                   1207 non-null   object
 1   District LEA #                                  1207 non-null   object
 2   District Enrollment 01/29/21                    1207 non-null   float64
 3   Approx. District On-Campus Enrollment 01/29/21  1207 non-null   float64
 4   Cumulative Student Cases 08/01/21               1207 non-null   float64
 5   Cumulative Staff Cases 08/01/21                 1207 non-null   float64
 6   % District On-Campus 01/29/21                   1207 non-null   float64
 7   % Students with COVID 08/01/21                  1207 non-null   float64
 8   Cumulative Student Cases 07/25/21               1207 non-null   float64
 9   Cumulative Staff Cases 07/25/21                 1207 non-null   float64
 10  % Students with COVID 07/25/21                  1207 non-null   float64
 11  Cumulative Student Cases 07/18/21               1118 non-null   float64
 12  Cumulative Staff Cases 07/18/21                 1118 non-null   float64
 13  % Students with COVID 07/18/21                  1118 non-null   float64
 14  Cumulative Student Cases 07/11/21               1118 non-null   float64
 15  Cumulative Staff Cases 07/11/21                 1118 non-null   float64
 16  % Students with COVID 07/11/21                  1118 non-null   float64
 17  Cumulative Student Cases 07/04/21               1118 non-null   float64
 18  Cumulative Staff Cases 07/04/21                 1118 non-null   float64
 19  % Students with COVID 07/04/21                  1118 non-null   float64
 20  Cumulative Student Cases 06/27/21               1118 non-null   float64
 21  Cumulative Staff Cases 06/27/21                 1118 non-null   float64
 22  % Students with COVID 06/27/21                  1118 non-null   float64
 23  Cumulative Student Cases 06/20/21               1118 non-null   float64
 24  Cumulative Staff Cases 06/20/21                 1118 non-null   float64
 25  % Students with COVID 06/20/21                  1118 non-null   float64
 26  Cumulative Student Cases 06/13/21               1118 non-null   float64
 27  Cumulative Staff Cases 06/13/21                 1118 non-null   float64
 28  % Students with COVID 06/13/21                  1118 non-null   float64
 29  Cumulative Student Cases 06/06/21               1118 non-null   float64
 30  Cumulative Staff Cases 06/06/21                 1118 non-null   float64
 31  % Students with COVID 06/06/21                  1118 non-null   float64
 32  Cumulative Student Cases 05/30/21               1118 non-null   float64
 33  Cumulative Staff Cases 05/30/21                 1118 non-null   float64
 34  % Students with COVID 05/30/21                  1118 non-null   float64
 35  Cumulative Student Cases 05/23/21               1118 non-null   float64
 36  Cumulative Staff Cases 05/23/21                 1118 non-null   float64
 37  % Students with COVID 05/23/21                  1118 non-null   float64
 38  Cumulative Student Cases 05/16/21               1207 non-null   float64
 39  Cumulative Staff Cases 05/16/21                 1207 non-null   float64
 40  % Students with COVID 05/16/21                  1207 non-null   float64
 41  Cumulative Student Cases 05/09/21               1207 non-null   float64
 42  Cumulative Staff Cases 05/09/21                 1207 non-null   float64
 43  % Students with COVID 05/09/21                  1207 non-null   float64
 44  Cumulative Student Cases 05/02/21               1207 non-null   float64
 45  Cumulative Staff Cases 05/02/21                 1207 non-null   float64
 46  % Students with COVID 05/02/21                  1207 non-null   float64
 47  Cumulative Student Cases 04/25/21               1116 non-null   float64
 48  Cumulative Staff Cases 04/25/21                 1116 non-null   float64
 49  % Students with COVID 04/25/21                  1116 non-null   float64
 50  Cumulative Student Cases 04/18/21               1115 non-null   float64
 51  Cumulative Staff Cases 04/18/21                 1115 non-null   float64
 52  % Students with COVID 04/18/21                  1115 non-null   float64
 53  Cumulative Student Cases 04/11/21               1115 non-null   float64
 54  Cumulative Staff Cases 04/11/21                 1115 non-null   float64
 55  % Students with COVID 04/11/21                  1115 non-null   float64
 56  Cumulative Student Cases 04/04/21               1114 non-null   float64
 57  Cumulative Staff Cases 04/04/21                 1114 non-null   float64
 58  % Students with COVID 04/04/21                  1114 non-null   float64
 59  Cumulative Student Cases 03/28/21               1114 non-null   float64
 60  Cumulative Staff Cases 03/28/21                 1114 non-null   float64
 61  % Students with COVID 03/28/21                  1114 non-null   float64
 62  Cumulative Student Cases 03/21/21               1114 non-null   float64
 63  Cumulative Staff Cases 03/21/21                 1114 non-null   float64
 64  % Students with COVID 03/21/21                  1114 non-null   float64
 65  Cumulative Student Cases 03/14/21               1114 non-null   float64
 66  Cumulative Staff Cases 03/14/21                 1114 non-null   float64
 67  % Students with COVID 03/14/21                  1114 non-null   float64
 68  Cumulative Student Cases 03/07/21               1114 non-null   float64
 69  Cumulative Staff Cases 03/07/21                 1114 non-null   float64
 70  % Students with COVID 03/07/21                  1114 non-null   float64
 71  Cumulative Student Cases 02/28/21               1114 non-null   float64
 72  Cumulative Staff Cases 02/28/21                 1114 non-null   float64
 73  % Students with COVID 02/28/21                  1114 non-null   float64
dtypes: float64(72), object(2)
memory usage: 707.2+ KB

In [206]:
df_district2 = pd.merge(df23_district, df24_district, how="outer", on=["District Name", \
                                                "District LEA #", \
                                                "District Enrollment 10/30/20", \
                                                "Approx. District On-Campus Enrollment 10/30/20", \
                                                "School Enrollment 10/30/20", \
                                                "School On-Campus Enrollment 10/30/20", \
                                                "% District On-Campus 10/30/20", \
                                                "% School On-Campus 10/30/20"])

df_district2.drop(columns = ["School Enrollment 10/30/20", \
                             "School On-Campus Enrollment 10/30/20", \
                             "% School On-Campus 10/30/20"], inplace = True)

In [207]:
df_district2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1207 entries, 0 to 1206
Data columns (total 11 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   District Name                                   1207 non-null   object
 1   District LEA #                                  1207 non-null   object
 2   District Enrollment 10/30/20                    1207 non-null   float64
 3   Approx. District On-Campus Enrollment 10/30/20  1207 non-null   float64
 4   Cumulative Student Cases 02/21/21               1114 non-null   float64
 5   Cumulative Staff Cases 02/21/21                 1114 non-null   float64
 6   % District On-Campus 10/30/20                   1207 non-null   float64
 7   % Students with COVID 02/21/21                  1114 non-null   float64
 8   Cumulative Student Cases 02/14/21               1114 non-null   float64
 9   Cumulative Staff Cases 02/14/21                 1114 non-null   float64
 10  % Students with COVID 02/14/21                  1114 non-null   float64
dtypes: float64(9), object(2)
memory usage: 113.2+ KB

In [208]:
district_reports2 = [df25_district, df26_district, df27_district, df28_district, df29_district, \
                     df30_district, df31_district, df32_district, df33_district, df34_district, \
                     df35_district, df36_district]

for df in district_reports2:
    df.drop(columns = ["School Enrollment 10/30/20", \
                       "School On-Campus Enrollment 10/30/20", \
                       "% School On-Campus 10/30/20"], inplace = True)
    
    df_district2 = pd.merge(df_district2, df, how="outer", on=["District Name", \
                                                "District LEA #", \
                                                "District Enrollment 10/30/20", \
                                                "Approx. District On-Campus Enrollment 10/30/20", \
                                                "% District On-Campus 10/30/20"])
    
df_district2 = pd.merge(df_district2, df37, how="outer", on=["District Name", \
                                                "District LEA #", \
                                                "District Enrollment 10/30/20", \
                                                "Approx. District On-Campus Enrollment 10/30/20", \
                                                "% District On-Campus 10/30/20"])

In [209]:
df_district2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2456 entries, 0 to 2455
Data columns (total 50 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   District Name                                   2455 non-null   object
 1   District LEA #                                  2456 non-null   object
 2   District Enrollment 10/30/20                    2444 non-null   float64
 3   Approx. District On-Campus Enrollment 10/30/20  2444 non-null   float64
 4   Cumulative Student Cases 02/21/21               1114 non-null   float64
 5   Cumulative Staff Cases 02/21/21                 1114 non-null   float64
 6   % District On-Campus 10/30/20                   2444 non-null   float64
 7   % Students with COVID 02/21/21                  1114 non-null   float64
 8   Cumulative Student Cases 02/14/21               1114 non-null   float64
 9   Cumulative Staff Cases 02/14/21                 1114 non-null   float64
 10  % Students with COVID 02/14/21                  1114 non-null   float64
 11  Cumulative Student Cases 02/07/21               1114 non-null   float64
 12  Cumulative Staff Cases 02/07/21                 1114 non-null   float64
 13  % Students with COVID 02/07/21                  1114 non-null   float64
 14  Cumulative Student Cases 01/31/21               1111 non-null   float64
 15  Cumulative Staff Cases 01/31/21                 1111 non-null   float64
 16  % Students with COVID 01/31/21                  1111 non-null   float64
 17  Cumulative Student Cases 01/24/21               1110 non-null   float64
 18  Cumulative Staff Cases 01/24/21                 1110 non-null   float64
 19  % Students with COVID 01/24/21                  1110 non-null   float64
 20  Cumulative Student Cases 01/17/21               1105 non-null   float64
 21  Cumulative Staff Cases 01/17/21                 1105 non-null   float64
 22  % Students with COVID 01/17/21                  1105 non-null   float64
 23  Cumulative Student Cases 01/10/21               1101 non-null   float64
 24  Cumulative Staff Cases 01/10/21                 1101 non-null   float64
 25  % Students with COVID 01/10/21                  1101 non-null   float64
 26  Cumulative Student Cases 01/03/21               1097 non-null   float64
 27  Cumulative Staff Cases 01/03/21                 1097 non-null   float64
 28  % Students with COVID 01/03/21                  1097 non-null   float64
 29  Cumulative Student Cases 12/27/20               1097 non-null   float64
 30  Cumulative Staff Cases 12/27/20                 1097 non-null   float64
 31  % Students with COVID 12/27/20                  1097 non-null   float64
 32  Cumulative Student Cases 12/20/20               1097 non-null   float64
 33  Cumulative Staff Cases 12/20/20                 1097 non-null   float64
 34  % Students with COVID 12/20/20                  1097 non-null   float64
 35  Cumulative Student Cases 12/13/20               1094 non-null   float64
 36  Cumulative Staff Cases 12/13/20                 1094 non-null   float64
 37  % Students with COVID 12/13/20                  1094 non-null   float64
 38  Cumulative Student Cases 12/06/20               1077 non-null   float64
 39  Cumulative Staff Cases 12/06/20                 1077 non-null   float64
 40  % Students with COVID 12/06/20                  1077 non-null   float64
 41  Cumulative Student Cases 11/29/20               1069 non-null   float64
 42  Cumulative Staff Cases 11/29/20                 1069 non-null   float64
 43  % Students with COVID 11/29/20                  1069 non-null   float64
 44  Cumulative Student Cases 11/22/20               1062 non-null   float64
 45  Cumulative Staff Cases 11/22/20                 1062 non-null   float64
 46  % Students with COVID 11/22/20                  1062 non-null   float64
 47  Cumulative Staff Cases 11/15/20                 1052 non-null   float64
 48  Cumulative Student Cases 11/15/20               1052 non-null   float64
 49  % Students with COVID 11/15/20                  1052 non-null   float64
dtypes: float64(48), object(2)
memory usage: 978.6+ KB

In [210]:
df_district3 = pd.merge(df38, df39, how="outer", on=["District Name", \
                                                "District LEA #", \
                                                "District Enrollment 09/28/20", \
                                                "Approx. District On-Campus Enrollment 09/28/20", \
                                                "% District On-Campus 09/28/20"])

In [211]:
df_district3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1220 entries, 0 to 1219
Data columns (total 11 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   District Name                                   1219 non-null   object
 1   District LEA #                                  1220 non-null   object
 2   District Enrollment 09/28/20                    1202 non-null   float64
 3   Approx. District On-Campus Enrollment 09/28/20  1202 non-null   float64
 4   Cumulative Staff Cases 11/08/20                 1027 non-null   float64
 5   % District On-Campus 09/28/20                   1202 non-null   float64
 6   Cumulative Student Cases 11/08/20               1027 non-null   float64
 7   % Students with COVID 11/08/20                  1024 non-null   float64
 8   Cumulative Staff Cases 11/01/20                 1008 non-null   float64
 9   Cumulative Student Cases 11/01/20               1008 non-null   float64
 10  % Students with COVID 11/01/20                  1005 non-null   float64
dtypes: float64(9), object(2)
memory usage: 114.4+ KB

In [212]:
district_reports3 = [df40, df41, df42]

for df in district_reports3:    
    df_district3 = pd.merge(df_district3, df, how="outer", on=["District Name", \
                                                "District LEA #", \
                                                "District Enrollment 09/28/20", \
                                                "Approx. District On-Campus Enrollment 09/28/20", \
                                                "% District On-Campus 09/28/20"])

In [213]:
df_district3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1226 entries, 0 to 1225
Data columns (total 20 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   District Name                                   1225 non-null   object
 1   District LEA #                                  1226 non-null   object
 2   District Enrollment 09/28/20                    1202 non-null   float64
 3   Approx. District On-Campus Enrollment 09/28/20  1202 non-null   float64
 4   Cumulative Staff Cases 11/08/20                 1027 non-null   float64
 5   % District On-Campus 09/28/20                   1202 non-null   float64
 6   Cumulative Student Cases 11/08/20               1027 non-null   float64
 7   % Students with COVID 11/08/20                  1024 non-null   float64
 8   Cumulative Staff Cases 11/01/20                 1008 non-null   float64
 9   Cumulative Student Cases 11/01/20               1008 non-null   float64
 10  % Students with COVID 11/01/20                  1005 non-null   float64
 11  Cumulative Staff Cases 10/25/20                 987 non-null    float64
 12  Cumulative Student Cases 10/25/20               987 non-null    float64
 13  % Students with COVID 10/25/20                  984 non-null    float64
 14  Cumulative Staff Cases 10/18/20                 951 non-null    float64
 15  Cumulative Student Cases 10/18/20               951 non-null    float64
 16  % Students with COVID 10/18/20                  948 non-null    float64
 17  Cumulative Staff Cases 10/11/20                 914 non-null    float64
 18  Cumulative Student Cases 10/11/20               914 non-null    float64
 19  % Students with COVID 10/11/20                  911 non-null    float64
dtypes: float64(18), object(2)
memory usage: 201.1+ KB

In [214]:
df_district4 = pd.merge(df43, df44, how="outer", on=["District Name", \
                                                "District LEA #", \
                                                "District Enrollment First Week", \
                                                "Approx. District On-Campus Enrollment First Week", \
                                                "% District On-Campus First Week"])

In [215]:
df_district4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1223 entries, 0 to 1222
Data columns (total 11 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   District Name                                     1222 non-null   object
 1   District LEA #                                    1223 non-null   object
 2   District Enrollment First Week                    1157 non-null   float64
 3   Approx. District On-Campus Enrollment First Week  1157 non-null   float64
 4   Cumulative Staff Cases 10/04/20                   860 non-null    float64
 5   % District On-Campus First Week                   1155 non-null   float64
 6   Cumulative Student Cases 10/04/20                 860 non-null    float64
 7   % Students with COVID 10/04/20                    828 non-null    float64
 8   Cumulative Staff Cases 09/27/20                   961 non-null    float64
 9   Cumulative Student Cases 09/27/20                 961 non-null    float64
 10  % Students with COVID 09/27/20                    931 non-null    float64
dtypes: float64(9), object(2)
memory usage: 114.7+ KB

In [216]:
df_district = pd.merge(df_district1, df_district2, how="outer", on=["District Name", \
                                                                    "District LEA #"])

In [217]:
df_district = pd.merge(df_district, df_district3, how="outer", on=["District Name", \
                                                                    "District LEA #"])

In [218]:
df_district = pd.merge(df_district, df_district4, how="outer", on=["District Name", \
                                                                    "District LEA #"])

In [219]:
df_district.drop(df_district.tail(4).index, inplace = True)

In [220]:
df_district.drop(columns = ['District Name'], inplace = True)
df_district['District #'] = df_district['District LEA #']
df_district.dropna(subset = ['District #'], inplace = True)

df_district['District #'].value_counts()

nan       12
187901     4
230901     4
161903     3
101846     3
          ..
123503     1
152504     1
061501     1
031505     1
236903     1
Name: District #, Length: 1216, dtype: int64

In [221]:
df_district = df_district.groupby('District LEA #').agg('max')
df_district['District #'].value_counts()

001902    1
161919    1
162904    1
161925    1
161924    1
         ..
079910    1
079907    1
079906    1
079901    1
nan       1
Name: District #, Length: 1216, dtype: int64

In [ ]:
df_district.to_csv('DATA_COVID_DISTRICT.csv', index = None)

In [222]:
df_district

,District Enrollment 01/29/21,Approx. District On-Campus Enrollment 01/29/21,Cumulative Student Cases 08/01/21,Cumulative Staff Cases 08/01/21,% District On-Campus 01/29/21,% Students with COVID 08/01/21,Cumulative Student Cases 07/25/21,Cumulative Staff Cases 07/25/21,% Students with COVID 07/25/21,Cumulative Student Cases 07/18/21,...,District Enrollment First Week,Approx. District On-Campus Enrollment First Week,Cumulative Staff Cases 10/04/20,% District On-Campus First Week,Cumulative Student Cases 10/04/20,% Students with COVID 10/04/20,Cumulative Staff Cases 09/27/20,Cumulative Student Cases 09/27/20,% Students with COVID 09/27/20,District #
District LEA #,,,,,,,,,,,,,,,,,,,,,
001902,541.0,527.0,38.0,22.0,0.974122,0.070240,38.0,22.0,0.070240,38.0,...,NaN,NaN,3.0,NaN,12.0,NaN,3.0,8.0,NaN,001902
001903,1167.0,1120.0,43.0,45.0,0.959726,0.036847,43.0,45.0,0.036847,43.0,...,340.0,289.0,9.0,0.850000,2.0,0.005882,9.0,2.0,0.005882,001903
001904,756.0,719.0,38.0,29.0,0.951058,0.050265,38.0,29.0,0.050265,38.0,...,752.0,648.0,0.0,0.861702,1.0,0.001330,0.0,1.0,0.001330,001904
001906,338.0,325.0,3.0,8.0,0.961538,0.008876,3.0,8.0,0.008876,3.0,...,NaN,NaN,2.0,NaN,2.0,NaN,2.0,2.0,NaN,001906
001907,3347.0,3124.0,60.0,49.0,0.933373,0.017927,60.0,49.0,0.017927,60.0,...,3368.0,2772.0,14.0,0.823040,11.0,0.003266,11.0,11.0,0.003266,001907
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
252903,675.0,665.0,3.0,21.0,0.985185,0.004444,3.0,21.0,0.004444,3.0,...,678.0,568.0,5.0,0.837758,0.0,0.000000,2.0,0.0,0.000000,252903
253901,3472.0,111.0,0.0,0.0,0.031970,0.000000,0.0,0.0,0.000000,NaN,...,3474.0,0.0,NaN,0.000000,NaN,NaN,3.0,9.0,0.002591,253901
254901,1804.0,432.0,40.0,33.0,0.239468,0.022173,40.0,33.0,0.022173,40.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,254901
254902,525.0,0.0,3.0,14.0,0.000000,0.005714,3.0,14.0,0.005714,3.0,...,519.0,0.0,3.0,0.000000,9.0,0.017341,3.0,9.0,0.017341,254902
nan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,nan